<!DOCTYPE html>
<html>
  <head>
    <title>error</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
    <h1><%= JSON.stringify(herrors) %></h1>
    <p>Welcome aboard! Visit <a href="http://locomotivejs.org/">locomotivejs.org</a> for details.</p>
  </body>
</html>