<html>
	<head>		
    	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	</head>
	<body>
		<div class="header row">
	      <div class="logo row">
	        <h2>IRX</h2>
	        <ul class="lft row">
	          <li> PROJECTS </li>
	          <li> AGENTS </li>
	        </ul>
	      </div>
	      <div class="rht">
	        <ul class="row">
	          <li> Sell your Property</li>
	          <li> Post your Requirement</li>
	          <li class="login row">
	            <img src="images/login.png">
	            <p>Login</p>
	          </li>
	          <li><img src="images/menu.png"></li>
	        </ul>
	      </div>
	    </div>
	</body>
</html>