<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.html.ejs %>

    <!--   Css files -->
    <link rel="stylesheet" type="text/css" href="/css/irxmisc/about.css">

  </head>
  <body>
    <% locals.uiContext.menu=false %>
    <% include ../partials/header.html.ejs %>

  <div class="irx-misc ui very relaxed stackable page grid">
    <div class="ui centered page grid">
      <div class="two column row">
     
        <div class="column">
          <h4 class="ui left aligned inverted header">ABOUT US</h4>
          <h5 class="ui header">
          Got a hard earned thirst? Maybe start with the bottle shops, or if you've really been working hard a brewery might be a better option. Maybe you just need a coffee or juice to get you going? If all this talk is making you hungry you might want to try the cake shops or a deli. Still not satisfied? Then you might need a butcher, baker, candlestick maker? Better still, try the supermarket and get it done all in one go.Got a hard earned thirst? Maybe start with the bottle shops, or if you've really been working hard a brewery might be a better option. Maybe you just need a coffee or juice to get you going? If all this talk is making you hungry you might want to try the cake shops or a deli. Still not satisfied? Then you might need a butcher, baker, candlestick maker? Better still, try the supermarket and get it done all in one go.
          <img class="ui big image" src="/images/property.jpg">
          Got a hard earned thirst? Maybe start with the bottle shops, or if you've really been working hard a brewery might be a better option. Maybe you just need a coffee or juice to get you going? If all this talk is making you hungry you might want to try the cake shops or a deli. Still not satisfied? Then you might need a butcher, baker, candlestick maker? 
        </h5>
        </div>
        <div class="six wide column">
          <div class="column landmark"></div>
            <div class="column addres"></div>
            <div class="column call"></div>
            <div class="column _mail"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer.html.ejs %>
</body>
</html>