<!DOCTYPE html>
<html>
  <head>
    <head>
    <% include ../partials/head.html.ejs %>

    <!--   Css files -->
    <link rel="stylesheet" type="text/css" href="/css/irxmisc/forgot.css">

  </head>
  <body>
    <% locals.uiContext.menu=false %>
    <% include ../partials/header.html.ejs %>
    <script type="text/javascript">
    var fp = null;
    </script>
    <div class="irx-misc ui very relaxed stackable page grid" id="_fPassword_" style="padding-top:10rem;">
       <div class="ui centered page grid">
       <form action="javascript:fp.viewModel.sendMail()">
          <div class="ui card">
            <div class="content">
              <div class="lock"><i class="lock icon"></i></div>
              <h3 class="ui header">Change Password</h3>
              <div class="description">
                <p>Enter your new Password</p>
              </div>
                <div class="ui input focus">
                  <input type="password" data-bind="value:password" name="password" placeholder="Enter your password">
                  <input type="text" data-bind="value:password" name="cPassword" placeholder="Confirm password" style="margin-top:5px">
                </div>
                <br>
                <div class="ui buttons">
               
                  <div class="ui submitAction cancel _csn" tabindex="0" style="cursor:pointer" onclick="javascript:location.href='/'">Cancel</div>
                   <div class="ui submitAction _csn" style="background:green;color:#fff" onclick="fp.validate(this)">Submit</div>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <% include ../partials/footer.html.ejs %>
  </body>
  <script>
  function ForgetPassword(){

  }
  ForgetPassword.prototype.validate = function(_button) {
     $(_button).parents('form').form({
      password: {
        identifier : 'password',
        rules: [
          {
            type   : 'email',
            prompt : 'Please enter a valid e-mail'
          },
          {
            type   : 'empty',
            prompt : 'Please enter e-mail'
          }
        ]
      }
    });
   
 $(_button).parents('form').submit();
 return false;
  };
  ForgetPassword.prototype.init = function() {
    var _classInstance = this;
    _classInstance.viewModel = {
      userId: ko.observable(),
      sendMail : function(){
        httpUtils.get("/forget-password/"+_classInstance.viewModel.userId(),
            {}
            ,"JSON"
            ,function(data){
             if(httpUtils.checkStatus(data,true)){

             }
          })
       
      }
    }
    ko.applyBindings(_classInstance.viewModel,document.getElementById('_fPassword_'))
  };
  $(document).ready(function(){
    fp = new ForgetPassword();
    fp.init();
  })
  </script>

</html>