<!DOCTYPE html>
<html>
  <head>
    <head>
    <% include ../partials/head.html.ejs %>

    <!--   Css files -->
    <link rel="stylesheet" type="text/css" href="/css/irxmisc/forgot.css">

  </head>
  <body>
    <% locals.uiContext.menu=false %>
    <% include ../partials/header.html.ejs %>
    <div class="irx-misc ui very relaxed stackable page grid" style="padding-top:10rem;">
       <div class="ui centered page grid">

          <div class="ui card">
            <div class="content">
              <div class="lock"><i class="lock icon"></i></div>
              <h3 class="ui header">Forgot password ?</h3>
              <div class="description">
                <p>Enter you email address in the form below and we will send<br>you further instructions on how to reset your password.</p>
              </div>
                <div class="ui input focus">
                  <input type="text" placeholder="Email address">
                </div>
                <div class="ui buttons">
                <button class="ui button submit">Submit</button>
                  <div class="ui button cancel" tabindex="0">Cancel</div>
                </div>
            </div>
          </div>

      </div>
    </div>
    <% include ../partials/footer.html.ejs %>
  </body>
</html>