<!DOCTYPE html>
<html>
    <head>
    <% include ../partials/head.html.ejs %>

    <!--   Css files -->
    <link rel="stylesheet" type="text/css" href="/css/irxmisc/package.css">

  </head>
  <body>
    <% locals.uiContext.menu=false %>
    <% include ../partials/header.html.ejs %>
    <div class="irx-misc ui very relaxed stackable page grid" style="padding-top:10rem;">
      <div class="ui centered page grid">

        <h3 class="ui header">CHOOSE YOUR PLAN</h3>
        <div class="three column row">

          <div class="ui cards package-selection">
            <div class="card basic">
              <div class="content">
                <div class="header_basic">Basic</div>
                <div class="description">
                  <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor incididunt</p>
                </div>
                <div class="meta benefits"><h5 class="ui header">Benefit one</h5><h5 class="ui header bento">Benefit two</h5></div>
                <div clss="meta_public"style="border-top:1px solid #fff;">
                <h5 class="ui header_footer">Rs<br>Monthly</h5></div>
                <div class="ui mini horizontal statistic">
                  <div class="value">10</div>
                </div>
              </div>
            </div>
            <div class="card standard">
              <div class="content">
                <div class="header_basic">Standard</div>
                <div class="description">
                 <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor incididunt</p>
                </div>
                <div class="meta benefits"><h5 class="ui header">Benefit one</h5><h5 class="ui header standard">Benefit two</h5><h5 class="ui header standards">Benefit three</h5></div>
                <div clss="meta_public"style="border-top:1px solid #fff;">
                <h5 class="ui header_footer">Rs<br>Monthly</h5></div>
                <div class="ui mini horizontal statistic">
                  <div class="value">20</div>
                </div>
              </div>
            </div>
            <div class="card pro">
              <div class="content">
                <div class="header_pro">Pro</div>
                <div class="description">
                  <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor incididunt</p>
                </div>
                <div class="meta benefits"><h5 class="ui header pro">Benefit one</h5><h5 class="ui header process">Benefit two</h5><h5 class="ui header pros">Benefit three</h5><h5 class="ui header pross">Benefit four</h5></div>
                <div clss="meta_public"style="border-top:1px solid #fff;">
                <h5 class="ui header_footers">Rs<br>Monthly</h5></div>
                <div class="ui mini horizontal statistic value">
                  <div class="value">30</div>
                </div>
              </div>
            </div>
          </div>

         </div> 
      </div>
    </div>
    <% include ../partials/footer.html.ejs %>
  </body>
</html>