<!DOCTYPE html>
<html>
  <head>
    <head>
    <% include ../partials/head.html.ejs %>

    <!--   Css files -->
    <link rel="stylesheet" type="text/css" href="/css/irxmisc/forgot.css">

  </head>
  <body>
    <% locals.uiContext.menu=false %>
    <% include ../partials/header.html.ejs %>
    <script type="text/javascript">
    var rp = null;
    </script>
    <div class="irx-misc ui very relaxed stackable page grid" id="_rPassword_" style="padding-top:10rem;">
       <div class="ui centered page grid">
     
          <div class="ui card">
            <div class="content">
              <div class="lock"><i class="lock icon"></i></div>
              <h3 class="ui header">Change Password</h3>
                <div class="ui input focus">
                  
                  <input type="password" data-bind="value:filters.ePassword" name="ePassword" placeholder="Enter your current password">
                  
                  <input type="password" data-bind="value:filters.nPassword" name="nPassword" placeholder="Enter your new password" style="margin-top:5px">
                  
                  <input type="password"  data-bind="value:filters.cPassword" name="cPassword" placeholder="Confirm new password" style="margin-top:5px">
                  
                  <div style="display:none" id="_msg">Password mismatch</div>
                 
                </div>
                <br>
                <div class="ui buttons">
               
                  <div class="ui submitAction cancel _csn" tabindex="0" style="cursor:pointer" onclick="javascript:location.href='/'">Cancel</div>
                   <div class="ui submitAction _csn" data-bind="click:function(){changePassword()}" style="background:green;color:#fff">Submit</div>
                </div>
            </div>
          </div>
        
      </div>
    </div>
    <% include ../partials/footer.html.ejs %>
  </body>
    <script>
  function ResetPassword(){

  }

  ResetPassword.prototype.init = function() {
    var _classInstance = this;
    _classInstance.viewModel = {
      filters:{
        ePassword: ko.observable(""),
        nPassword: ko.observable(""),
        cPassword: ko.observable("")
      },
      
      changePassword : function(){
        if(_classInstance.viewModel.filters.ePassword()==""){
          $('#_msg').text("Please enter your existing password")
          $('#_msg').addClass('_ajActive');
          $('#_msg').addClass('_ajError');
           return ;
        }else if(_classInstance.viewModel.filters.nPassword() != _classInstance.viewModel.filters.cPassword()){
          $('#_msg').addClass('_ajActive');
          $('#_msg').addClass('_ajError');
           return ;
        }else if(_classInstance.viewModel.filters.nPassword().length<6){
          $('#_msg').text("Minimum length for your password should be 6")
          $('#_msg').addClass('_ajActive');
          $('#_msg').addClass('_ajError');
            return ;
        }
        httpUtils.get("/reset-password",
            _classInstance.viewModel.filters
            ,"JSON"
            ,function(data){
             if(httpUtils.checkStatus(data,false)){
              $('#_msg').text(data.message);
              $('#_msg').addClass('_ajActive');
              $('#_msg').removeClass('_ajError');
              $('#_msg').addClass('_ajSuccess');
              $('.ui.buttons').hide();
             }else{
              $('#_msg').text(data.message);
              $('#_msg').addClass('_ajActive');
              $('#_msg').removeClass('_ajSuccess');
              $('#_msg').addClass('_ajError');
             }
          })
      
      }
    }
   ko.applyBindings(_classInstance.viewModel,document.getElementById('_rPassword_'))
  };
  $(document).ready(function(){
    rp = new ResetPassword();
    rp.init();
  })
  </script>