<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Reset-Password - Semantic</title>

  <!-- JS Files -->

  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="js/semantic.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
     

  <!--   Css files -->
  <link rel="stylesheet" type="text/css" href="css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/reset.css">

</head>
<body>
  <div class="ui card reset_pass">
    <div class="content">
      <span class="lock"><i class="lock icon"></i></span>
        <h3 class="ui header _reset pass">Reset password ?</h3>
      <div class="description email">
        <p>Enter you email address in the form below and we will send<br>you further instructions on how to reset your password.</p>
      </div>
        <div class="ui form">
          <div class="ui stackable two column row fields">
            <div class="column field current_pass hello">
                <input type="text" placeholder="Current password">
            </div>
            <div class="column field new_pass">
                <input type="text" placeholder="New password">
            </div>
          </div>
        </div>
        <div class="_butn">
        <button class="ui button reset">Reset Password</button>
          <div class="ui button cancel" tabindex="0">Cancel</div>
        </div>
    </div>
  </div>
</body>
</html>