<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.html.ejs %>

    <!--   Css files -->
    <link rel="stylesheet" type="text/css" href="/css/irxmisc/t&C.css">

  </head>
  <body>
    <% locals.uiContext.menu=false %>
    <% include ../partials/header.html.ejs %>


  <div class="irx-misc ui very relaxed stackable page grid">
  <div class="ui centered page grid">
  <div class="sixteen column row">
  <h2 class="ui left aligned inverted header">TERMS AND CONDITIONS</h2>
  <h5 class="ui header update" style="margin:0 auto;">Updated Nov 9, 2014</h5>
  <div class="ui basic segment descrip">
    <p>The following terms and conditions govern all use of the Dribbble website and all content, services and products available at or through the website. The Website is owned and operated by Dribbble LLC (Dribbble). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Dribbble’s Privacy Policy) and procedures that may be published from time to time on this Site by Dribbble (collectively, the Agreement).</p>
    
    <p>Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by Dribbble, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.</p>

    <p>the Content is not obscene, libelous or defamatory, hateful or racially or ethnically objectionable, and does not violate the privacy or publicity rights of any third party;<br>
    your account is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods;<br>
    your account is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your account’s URL or name is not the name of a person other than yourself or company other than your own; and<br>
    you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by Dribbble or otherwise.Dribbble has not reviewed, and cannot review, all of the material posted to the Website, and cannot therefore be responsible for that materials content, use or effects. By operating the Website, Dribbble does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful.</p>

    <p>Dribbble reserves the right to ban any member or website from using the service for any reason.</p>

    <p>By uploading your screenshots to Dribbble you give Dribbble permission to use or distribute your screenshots on dribbble.com or affiliated sites.</p>

    <p>All screenshots uploaded are copyright © their respective owners.</p>

    <p>If you delete Content, Dribbble will use reasonable efforts to remove it from the Website, but you acknowledge that caching or references to the Content may not be made immediately unavailable.</p>
  </div>
  </div>
  </div>
</div>
  <% include ../partials/footer.html.ejs %>
</body>
</html>