/***************
   Admin profie
****************/

.lib-pic {
	position: relative;
}

.lib-pic>.Editpic {
	position: absolute;
	top: 50%;
	right: 25%;
	width: 2rem;
}
.lib-pic>.Editpic>form>input {
	opacity: 0;
	width: 17px;height: 16px;
	position: relative;
	z-index: 10;
}
.lib-pic>.Editpic>form>i {
	position: absolute;
	top: 0;left: 0.4rem;
	opacity: .8;
	color: #607d8b;
}
.ui.fade.reveal:hover>.hidden{
	display: block;
}
._editable_ .profEdit[contenteditable="true"] {
	box-shadow: 0 0 2px rgba(0,0,0,0.3);
	border-radius: 3px;
	padding: .5rem !important;
	display: inline-block;
	width: 90%;
	position: relative;
}

._editable_ .content {
	position: relative;
}

._editable_ .profEdit>i.write.icon {
	position: absolute;
	padding: .2rem 2rem 0;
	opacity: .8;
	right: 0;
	cursor: pointer;
}

._editable_ .profEdit>i.write.icon {
	display: none;
}

._editable_ .ui.buttons {
	position: absolute;
	bottom: -2rem;
	right: 1rem;
	margin-right: 0 !important;
	display: none;
}

._editable_ .ui.buttons>div {
	font-size: .9rem !important;
	padding: .3rem .5rem !important;
	margin-left: .3rem;
	border-radius: 3px;
}

.admin-profile {
	text-align: left;
	border: 1px solid #eaeaea;
	box-shadow: none !important;
}

.admin-profile .ui.top.attached.tabular.menu {
	box-shadow: none !important;
	border: 0 !important;
	border-bottom: 1px solid #eaeaea !important;
	background-color: #fbfbfb;
}

.ui.top.attached.tabular.menu>.item, .ui.bottom.attached.tab.segment {
	border: 0;
	box-shadow: none !important;
}

.ui.top.attached.tabular.menu>.item {
	text-transform: uppercase;
	color: #909090;
	border-right: 1px solid #eaeaea !important;
	font-weight: normal;
	padding: 1.2rem;
	font-size: .9rem;
	letter-spacing: 1px;
}

.ui.top.attached.tabular.menu>.item.right.floated.column {
	border: 0 !important;
}

.ui.top.attached.tabular.menu>.item.active {
	border-top: 2px solid #38b7ea;
	color: #666;
}

.ui.bottom.attached.tab.segment {
	width: auto !important;
}
.li-box .header{
	color: #5995A9;
}
.li-box .item{
	color: #666;
}
.ui.bottom.attached.tab.segment>h3 {
	color: #38b7ea;
	text-transform: uppercase;
	margin: 1rem 0;
	font-weight: normal;
	width: 60%;
	float: left;
}
.ui.button {
    padding: .5em .75em;
}
._profsearProj.column.right-portion>.item {
	border: 1px solid #CCC;
}
.ui.info.message._csn._srch_loc .ui.button.search {
    color: inherit;
    background: inherit;
}
.ui.info.message._csn._srch_loc {
	float: right;
	margin: 0;
	background: #FBFBFB;
	text-transform: capitalize;
	box-shadow: 0px 0 0 !important;
	color: #525151;
	font-weight: bold;
	font-size: .9em;
	padding: .3em 1.5em .3em .95em;
	border: 1px solid #818181;
}
.lib-count>.item{
	width: 49%;
}
.left-portion>.item, .right-portion>.item {
	border-bottom: 3px solid #efefef;
}
.ui.stackable.two.column.grid h4 {
	text-transform: uppercase;
	color: #5995A9;
	font-size: 1.2em;
}
.left-portion .compact.ui.button {
	margin-top: -.4rem;
	background-color: #67ddab;
	color: #fff;
	font-size: .9em;
}
.left-portion>.ui.items:not(:last-child) {
	border-bottom: 1px solid #efefef;
	padding-bottom: 1rem;
}
.left-portion>.ui.items a.header {
	color: #666 !important;
	font-weight: normal !important;
	text-transform: capitalize;
	font-size: 1.2em;	
}
.left-portion>.ui.items .meta>div {
	color: #b3b3b3;
}
._prj_lst span:first-child {
    color: #B2B2B2;
    margin-right: 10px;
}
._prj_lst span {
    color: #555;
}
.left-portion>.ui.items .right.floated>.icon {
	font-size: 1.5em;
	opacity: .4;
}
.left-portion>.ui.items .right.floated>.icon {
	cursor: pointer;
	color: #5995A9;
	opacity: .9;
}
.ui.transparent.left.icon.input>input {
	padding-top: .5em;
	padding-bottom: .5em; 
}

.ui.bottom.attached.tab.segment>.ui.cards, .ui.bottom.attached.tab.segment>.ui.horizontal.list {
	padding: 1.5rem 0;
}

.ui.bottom.attached.tab.segment .card {
	background-color: #fbfbfb;
	width: 26em !important;
}

.ui.bottom.attached.tab.segment .card .header {
	color: #7b7b7b;
	font-weight: normal;
}

.ui.bottom.attached.tab.segment .card .meta {
	color: #38b7ea;
}

.ui.bottom.attached.tab.segment>.ui.horizontal.list i.icon {
	vertical-align: top;
	opacity: .5;
}

.ui.bottom.attached.tab.segment .ui.horizontal.list span {
	padding-left: 1rem;
}

.ui.bottom.attached.tab.segment>.ui.horizontal.list>.item {
	margin: 0 2.5em 1.5em 0;
}
.ui.bottom.attached.tab.segment>.ui.horizontal.list>.item:last-child {
	margin-right:0; 
}
.leadName {
	color: #105296 !important;
	font-size: 1em !important;
	font-weight: 400 !important;
	text-transform: capitalize !important;
}
.leadType {
	opacity: .8 !important;
	font-weight: 400 !important;
	color: #747474 !important;
	font-size: .9em !important;
	text-transform: capitalize !important;
}

