/* General classes*/
body {
  font-family: roboto,sans-serif !important;
}

/* Header starts here *#06865F*#13436C */

#header {
  border-radius: 0;
  z-index: 5;
  background: #fff !important;
}

#header.ui.inverted.menu>* {
 padding: 0.6rem !important;
}

#header.ui.inverted.menu .header {
  margin: .5rem 1rem;
}

#header ._logo_ {
  margin-right: 2rem;
  background-color: inherit;
  color: #38b7ea;
  font-size: 2rem;
}

#header .item._link {
  color: #444;
  font-size: 1rem;
}

#header .right.menu>.item {
  color: #9c9c9c;
  font-weight: 300;
}

#header .right.menu>.item:hover {
  color: #38b7ea;
}

/*
#header .title.item:hover {
  cursor: pointer;
  color: #38b7ea;
}

#header .title.item b {
  font-size: 2rem;
  color: #38b7ea;
}

#header .navs {
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
  margin-left: 0.83rem;
}

#header .doubling.two.column .right {
  margin-top: 0.5rem;
  text-align: right;
}*/

/* Search menu */

#searchbar {
  background-color: #fbfbfb;
  border-top: 1px solid #f2f2f2;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  z-index: 10;
}

#searchbar .cont-ainer {
  padding: 0.5rem 5% 0.5rem 5%;
}

#searchbar .cont-ainer.search-menu>.item {
  padding: 0 0.5rem 0 0;
}#searchbar .cont-ainer.search-menu>.item.actions {
  padding: 0;
}

#searchbar .item.actions>div{
  border-color: rgba(19, 67, 108, 0.4) !important;
}

#searchbar .cont-ainer>.ui.mobile.menu {
  background: inherit;
  box-shadow: 0 0 0 #000;
}

#searchbar .cont-ainer .ui.selection.dropdown {
  min-width: 160px !important;
  background-color: inherit !important;
}

#searchbar input {
  padding: .7em 1.1em;
  background-color: inherit !important;
}

#searchbar .search-menu input {
  width: 360px;
}

.ui.slider.checkbox {
  width: 160px;
}

.ui.slider.checkbox label {
  padding-left: 7.5rem;
}

.ui.slider.checkbox label:before {
  width: 7rem;
}

#searchbar .ui.button:hover {
  background-color: #38b7ea;
  color: #fff;
}

#searchbar .item.filter, #searchbar .item.filter i, #searchbar .item.filter:hover {
  color: #666 !important;
  text-align: right;
}

#searchbar .ui.mobile.row {
  padding: 1.4rem 1rem;
}

#searchbar .angle.down.icon {
  float: right;
  margin: 0 0 0 .25rem;
}

/* Sidebar starts here*#3b83c0*/

#sidebar {
  background-color: #38b7ea;
}

/* Login*/

#login.ui.modal {
  width: 600px !important;
}

#login .content>div {
  padding: 0.5rem 1rem;
}

#login .content h2, #login .content i {
  padding: 0;margin: 0;
  font-size: 1.5rem;
}

#login .content i {
  opacity: 0.3;
  text-align: right;
}

#login .content i:hover {
  opacity: 1;
  cursor: pointer;
}

#lower-content.actions.ui.grid {
  background: #f8f8f8;
  margin: 0;
  padding: 1rem;
  border-top-color: #eaeaea;
  text-align: inherit;
}

#lower-content .tab .ui.small.button {
  background: #eee !important;
  color: #7b7b7b !important;
  font-weight: normal;
  text-transform: uppercase;
  width: 7rem;
  margin: .35rem 0;
}

#lower-content>.tab {
  box-sizing:content-box;
  moz-box-sizing:content-box;
  ms-box-sizing:content-box;
  webkit-box-sizing:content-box;
}

#register-box {
  display: none;
}

#lower-content>.tab>.ui.small.button.active, #lower-content>.tab>.ui.small.button:hover {
  background: #74c9f4 !important;
  color: #fff !important;
}

#lower-content .ui.small.button i {
  margin: 0;
  padding: 0.3rem 0;
}

#lower-content .fb-login {
  text-align: center;
  margin-top: 4rem;
}

#lower-content .fb-login>.item {
  color: #666;
  font-size: .9em;
}

#lower-content .fb-login>.item:hover {
  text-decoration: underline;
  cursor: pointer;
}

#lower-content .fb-login>i {
  color: #3b5998;
  cursor: pointer;
}

#lower-content .ui.form {
  margin: 1rem 0;
}

#lower-content .ui.form h4 {
  border: 0;
  color: #74c9f4;
}

#lower-content .ui.form .required.field {
  width: 80%;
  padding: 0;
  margin: 0.3rem 0;
}

.action-button {
  width: 80%;
  text-align: right;
  margin-top: 1rem;
}

.action-button>.ui.button {
  background: #74c9f4;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}

.action-button>.ui.button:hover {
  background: #1CAEE8;
}

#lower-content .ui.vertical.divider {
  left: inherit;
  right: 0;
  height: 30%;
  color: #7b7b7b;
  font-weight: normal;
}

#lower-content .grouped.fields {
  margin: 0 0 0.5rem;
}#lower-content .grouped.fields>label{
  padding-right: .5rem;
}#lower-content .grouped.fields>div {
  display: inline-block;
}

/*******************************
            Global
*******************************/

#home .menu .right.menu > .mobile.item , #searchbar > .smenu-hide {
  display: none;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width : 768px) {

  #home .menu .right.menu > .item, #searchbar > .search-menu {
    display: none;
  }

  #home .menu .right.menu > .mobile.item , #searchbar > .smenu-hide {
    display: block;
  }
  #home .menu .right.menu > .mobile.item .menu , #searchbar > .smenu-hide .menu {
    left: auto;
    right: 0em;
  }x
}