/**************
	Homescreen
***************/

#header {
	background-color: #105296 !important;
	border-radius: 0 !important;
}
#header>._logo_ , #header>._link, #header .right.menu>.item{
	color: #fff !important;
}

#homescreen.ui.inverted.masthead.segment {
	background: #1b1c1d url(/img/bg.png) no-repeat center !important;
	background-size: cover !important;
	min-height: 380px;
	margin-top: 4rem;
	margin-bottom: 0 !important;
	z-index: 10;
}

#homescreen.ui.inverted.masthead.segment>.ui.page.grid>.column {
	text-align: center !important;
	padding: 5rem 0;
}
#homescreen h1.ui.inverted.header {
	padding-top: 1.5rem;
	font-size: 1.5rem;
	font-weight: normal;
}

#homescreen .ui.form .field {
	text-align: justify;
	margin: 1.5rem 4rem;
}

.ui.radio.checkbox._main_>label {
	color: #fff !important;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 400;
	padding-left: 1.2em !important;
	vertical-align: top;
}

#search-box {
	padding: 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	box-shadow: 0 0 1px #fff !important;
	width: 710px;
	margin: 0 auto;
	border-radius: .3rem;
	color: #868484;
	border: 1px solid #797979;
}

#search-box .ui.icon.input._main_ {
	display: block;
}
#search-box .ui.icon.input._main_>i {
	color: #fafafa !important;
	background: #00bcd4;
	height: 3rem;
	width: 3rem;
	border-radius: 60px;
	margin: 1.2rem 1.2rem 0 0;
	opacity: .6;
}

#search-box .ui.icon.input._main_>i:hover {
	opacity: 1;
}

#search-box .ui.icon.input>i>button {
	position: absolute;
	top: 0;right: .1rem;
	height: 3rem;
	width: 3rem;
	opacity: 0;
}
#search-box .ui.icon.input._main_>input {
	background-color: inherit;
	border: 0;
	padding: 1.2em !important;
	font-size: 1.5rem;
	color: #E4E3E3!important;
	border-bottom: 1px solid rgba(255,255,255,.2) !important;
	border-radius: 0 !important;
	font-weight: 100;
    border-radius: 0 !important;
}


.ui.icon.input._main_>input[name="name"]::-webkit-input-placeholder { /* WebKit browsers */
	color: rgba(255,255,255,0.5) !important;
}
.ui.icon.input._main_>input[name="name"]::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: rgba(255,255,255,0.5) !important;
}
.ui.icon.input._main_>input[name="name"]::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: rgba(255,255,255,0.5) !important;
}
.ui.icon.input._main_>input[name="name"]:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: rgba(255,255,255,0.5) !important;
}

#search-box .inline.fields {
	padding: 1.5em !important;
	text-align: left;
	font-weight: 300;
	font-size: 1.3rem;
	color: rgba(182, 182, 182, 0.82) !important;
}

#search-box .inline.fields>.field {
	padding:0  2rem;
	color: rgba(182, 182, 182, 0.82) !important;
	font-weight: 300;
	vertical-align: middle;
}
#search-box .inline.fields>.field:not(:last-child) {
	border-right: 1px solid rgba(255,255,255,.2);
}
#search-box .inline.fields>.field:last-child {
	padding-right: 0;
}
#search-box .inline.fields>.field i{
	vertical-align: top;
}
/*#search-box .inline.fields>.ui.dropdown.field{
	border-right: 1px solid #808080;
}*/

#search-box .inline.fields>.field>a.link {
	color: #fff;
}

#search-box .inline.fields>.ui.selection.dropdown, #search-box .inline.fields>.ui.selection.dropdown>div {
	display: inline-block;
	width: 160px;
	background-color: inherit !important;
	padding: 0;
}
#search-box .ui.fluid.search.selection.dropdown.field i {
	float: right;
	color: #9D9D9D !important;
}
#search-box .ui.fluid.search.selection.dropdown.field .text, #search-box .ui.fluid.search.selection.dropdown.field input {
	color: rgba(182, 182, 182, 0.82) !important;
    font-weight: 300;
}

#search-box .ui.dropdown .text {
	font-size: 1.2rem;
	font-weight: 400;
}

#search-box .ui.dropdown ._city_ {
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* search-box for mobile and tablet */

#irx-mobile #search-box .ui.icon.input._main_>input {
	font-size: 1.2rem !important;
	padding: 1em !important;
}

#irx-mobile .ui.page.grid {
	padding-top: 1rem;
}

#irx-mobile .ui.page.grid>div {
	text-align: center;
}

#irx-mobile .ui.page.grid>.six.column.row>.column>div {
	display: table-cell;
}

/** lower-portion **/

.lower-portion, #locations {
	margin-top: 4% !important;
}

.lower-portion h2.ui.inverted.header {
	position: relative;
	color: #607d8b;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'roboto condensed';
	font-size: 1.5rem;
}
/*.lower-portion h2.ui.inverted.header:after {
	position: absolute;
	content: "";
	width: 12rem;
	height: 2px;
	background-color: #607d8b;
	top: 38px;
	left: 42%;
}
.ui.dropdown .menu>.item{
	font-weight: 300;
	color: rgba(232, 232, 232, 0.68);
}*/
#locations.lower-portion h2.ui.inverted.header:after {
	width: 5rem;
	left: 46%;
}

.lower-portion .ui.centered.page.grid {
	margin: 2% 0;
}

.lower-portion .ui.three.column.center.aligned.stackable.divided.grid {
	margin-top: 0;
}

.lower-portion .ui.three.column.center.aligned.stackable.divided.grid>.column {
	box-shadow: none !important;
}

.lower-portion img {
	height: 110px !important;
	width: 100% !important;
}

.ui.card .extra.content>span {
	display: inline-block;
}
