/**************
	Homescreen
***************/

#header {
	background-color: #00bcd4 !important;
	border-radius: 0 !important;
}
#header>._logo_ , #header>._link, #header .right.menu>.item{
	color: #fff !important;
}

#homescreen.ui.inverted.masthead.segment {
	background: #1b1c1d url(/img/bg.png) no-repeat center !important;
	background-size: cover !important;
	min-height: 380px;
	margin-top: 4rem;
	margin-bottom: 0 !important;
}

#homescreen.ui.inverted.masthead.segment>.ui.page.grid>.column {
	text-align: center !important;
	padding: 5rem 0;
}
#homescreen h1.ui.inverted.header {
	padding-top: 1.5rem;
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: 2px;
	color: rgba(182, 182, 182, 0.82) !important;
}

#homescreen .ui.form .field {
	margin-right: 4rem;
}
#homescreen .field label {
	color: #fff !important;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 300;
}

#search-box {
	padding: 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	box-shadow: 0 0 1px #fff !important;
	width: 620px;
	margin: 0 auto;
	border-radius: .3rem;
	color: #868484;
	border: 1px solid #797979;
}

#search-box .ui.icon.input {
	display: block;
}
#search-box .ui.icon.input>i {
	color: #fafafa !important;
	background: #00bcd4;
	height: 3rem;
	width: 3rem;
	border-radius: 60px;
	margin: 1.2rem 1.2rem 0 0;
	opacity: .6;
}

#search-box .ui.icon.input>i:hover {
	opacity: 1;
}

#search-box .ui.icon.input>i>button {
	position: absolute;
	top: 0;right: .1rem;
	height: 3rem;
	width: 3rem;
	opacity: 0;
}
#search-box .ui.icon.input>input {
	background-color: inherit;
	border: 0;
	padding: 1.2em !important;
	font-size: 1.5rem;
	color: #E4E3E3!important;
	border-bottom: 1px solid rgba(255,255,255,.2) !important;
	border-radius: 0 !important;
	font-weight: 100;
    border-radius: 0 !important;
}


#search-box input::-webkit-input-placeholder { /* WebKit browsers */
	color: rgba(255,255,255,0.5) !important;
}
#search-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: rgba(255,255,255,0.5) !important;
}
#search-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: rgba(255,255,255,0.5) !important;
}
#search-box input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: rgba(255,255,255,0.5) !important;
}

#search-box .inline.fields {
	padding: 1.5em !important;
	text-align: left;
	font-weight: 300;
	font-size: 1.3rem;
	color: rgba(182, 182, 182, 0.82) !important;
}

#search-box .inline.fields>.field:not(:last-child) {
	margin-right: 2.5rem;
	color: rgba(182, 182, 182, 0.82) !important;
	border-right: 1px solid #808080;
	font-weight: 300;
}

#search-box .inline.fields>.field>a.link {
	color: #fff;
}

#search-box .ui.fluid.search.selection.dropdown.field {
	display: inline-block;
	width: 160px;
	background-color: inherit;
	padding: 0;
	border-right: 1px solid #808080;
}
#search-box .ui.fluid.search.selection.dropdown.field i {
	float: right;
	color: #DDD !important;
}
#search-box .ui.fluid.search.selection.dropdown.field .text, #search-box .ui.fluid.search.selection.dropdown.field input {
	color: rgba(182, 182, 182, 0.82) !important;
    font-weight: 300;
}

/* search-box for mobile and tablet */

.column.tablet.mobile.only #search-box .ui.icon.input>input {
	font-size: 1.2rem !important;
	padding: 1em !important;
}

.column.tablet.mobile.only .ui.page.grid {
	padding-top: 1rem;
}

.column.tablet.mobile.only .ui.page.grid>div {
	text-align: center;
}

.column.tablet.mobile.only .ui.page.grid>.six.column.row>.column>div {
	display: table-cell;
}

/** lower-portion **/

.lower-portion, #locations {
	margin-top: 4% !important;
}

.lower-portion h2.ui.inverted.header {
	position: relative;
	color: #607d8b;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'roboto condensed';
	font-size: 1.5rem;
}
.lower-portion h2.ui.inverted.header:after {
	position: absolute;
	content: "";
	width: 12rem;
	height: 2px;
	background-color: #607d8b;
	top: 38px;
	left: 42%;
}
.ui.dropdown .menu>.item{
	font-weight: 300;
	color: #737373;
}
#locations.lower-portion h2.ui.inverted.header:after {
	width: 5rem;
	left: 46%;
}

.lower-portion .ui.centered.page.grid {
	margin: 2% 0;
}

.lower-portion .ui.three.column.center.aligned.stackable.divided.grid {
	margin-top: 0;
}

.lower-portion .ui.three.column.center.aligned.stackable.divided.grid>.column {
	box-shadow: none !important;
}

.lower-portion img {
	height: 110px !important;
	width: 100% !important;
}

.ui.card .extra.content>span {
	display: inline-block;
	margin-right: 2rem;
}

/******************
	Agents listing
*******************/

#agentContent,#projectContent {
	padding: 4rem 0 !important;
}

.ui.grid.two.column.rib-head{
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 0 !important;
}

#agentContent>div,#projectContent>div {
	padding: 0;
}

#agentContent .ui.grid.two.column.rib-head {
	padding: 0 !important;
	border-bottom: 1px solid #eaeaea !important;
}

#agentContent .rib-head>h2, #projectContent .rib-head>h2 {
	margin: 1rem 0;
	padding: 0;
	font-size: 1.2rem;
	font-weight: 400;
	color: #7b7b7b;
}

#agentContent .rib-head>.right.menu {
	padding-bottom: 1rem !important;
    margin-top: 1rem;
}

#agentContent .rib-head>.right.menu>.ui.button {
	padding: .8em 1em !important;
}

#agentContent .rib-head>.right.menu>div:nth-child(2n) {
	margin: 0 2rem;
}

#agentContent .rib-head>.right.menu .ui.button {
	text-transform: uppercase;
	font-size: .9em;
} 

#agentContent .ui.cards {
	margin: 2rem -.5rem;
}

#agentContent .ui.cards>.card {
	width: 384px;
}

.ui.image.tiny {
	float: left;
	padding: .6rem !important;
	background-color: inherit !important;
}

.content.addr-ess {
	font-size: .9em;
}

.description>span {
	color: rgba(0,0,0,.8);
	margin: 0 .3rem;
}

.extra.content i.building.icon:before {
	margin-right: .5rem;
}

.extra.content .friends:last-child {
	margin-left: 1rem;
}

.extra.content .right.floated.created i {
	font-size: 1.4em;
	width: auto;
	margin: 0 0 0 .3rem;
}

.card .content a.header, .card .content .description>span {
	color: rgb(96, 125, 139) !important;
}.card .content>span {
	color: rgba(0,0,0,0.6);
}

.card {
	position: relative;
}

.card .inline.field {
	position: absolute;
	top: 0;right: 0;
	padding: 1rem;
}

.card .inline.field label {
	padding: 0;
}
.pj-items >.cinema{
	color: #808080;
	font-weight: 300;
	display: block;
}
.pj-items >.cinema>* {
	font-weight: 400;
	padding-left: .5rem;
}

/*******************
	Project listing
********************/

.ui.items.proj-listing.column {
	margin-bottom: 0 !important;
	position: relative;
}
.header.ui.two.column.grid.right.menu {
	padding: 0;
	margin: 0;
	background-color: inherit;
	box-shadow: 0 0 0 #000;
}

.header.ui.two.column.grid.right.menu>.six.wide.column {
	padding: 0;
	text-align: right;
}

.header.ui.two.column.grid.right.menu>.six.wide.column>div {
	background-color: inherit;
	border: 1px solid #ddd;
	text-transform: uppercase;
	font-size: .9em;
}

.default.text {
	color: #666 !important;
}

.header.ui.two.column.grid.right.menu .ui.selection.dropdown.item {
	border: 1px solid #ddd;
	text-transform: uppercase;
	font-size: .9em;
}.header.ui.two.column.grid.right.menu .ui.selection.dropdown.item i {
	margin: 0;
	float: right;
}

#projListing {
	padding: 2rem 0;
}

.proj-listing {
	background-color: #fff;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
	padding: 1.2rem;
	margin-bottom: 1rem;
}

.proj-listing .four.column.row {
	padding-bottom: 1.5rem;
}

.proj-listing .four.column.row .right.floated.column>div{
	display: inline-block;
}

.proj-listing .four.column.row .ui.radio.checkbox {
	margin-left: 1rem;
}

/*.proj-listing .ui.left.floated {
	width: 550px;
}*/

.proj-listing .ui.header {
	display: inline-block !important;
	margin: 0 !important;
}

.proj-listing h3.ui.header {
	padding-right: 1.5rem;
	border-right: 2px solid #eaeaea;
	color: #607d8b;
	font-size: 1.3em;
	font-weight: 400;
	text-transform: capitalize;
}

.proj-listing h5.ui.header {
	padding-left: 1.2rem;
	opacity: .8;
}

.proj-listing .ui.right.floated>div {
	display: block;
}

.proj-listing .extra .cinema>.header {
	padding-left: 1rem;
}

.proj-listing .content {
	position: relative;
	padding-top: 0.5rem !important;
}

.proj-listing .item>.content:before {
	position: absolute;
	top: 0;
	left: 15px;
	content: "";
	border: 1px solid #f6f6f6;
	width: 98%;
}

/*.proj-listing .social-share {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}*/

.proj-listing .social-share>.ui.button {
	padding: .5rem;
	margin-bottom: .5rem;
	font-size: .8em;
	display: inline-block;
	font-weight: 400;
}

.proj-listing .content .description {
	max-height: 88px;
	overflow: hidden;
	color: #A6A6A6;
	font-weight: 300;
	font-size: .94rem;
	word-spacing: 1px;
	letter-spacing: .2px;
}

.content .extra .ui.header {
	padding: 0;
	margin: 0;
	border:0;
	color: #607d8b;
}

.content .extra h3>i {
	font-size: 1.4rem !important;
	width: auto;
	color: #607d8b;
	text-transform: capitalize;
}

.pj-items {
	padding: .6rem 0;
}

.pj-items>span.cinema:not(:last-child) {
	margin-bottom: 1rem;
}

.pj-items span>span {
	padding-left: 1rem;
	text-transform: capitalize;
	color: #607d8b;
}

.proj-listing .ui.buttons {
	margin-top: 2rem;
}

.proj-listing .ui.buttons>div {
	border: 0 !important;
	border-radius: 0 !important;
	box-shadow: 0 0 0 #000 !important;
	background-color: #f4f4f4 !important;
	color: #607d8b !important;
	transition: all ease .2s;
	padding: .75rem;
	font-weight: 400;
	width: 11rem;
	margin: 0 .75rem .5rem 0;
}

.proj-listing .ui.buttons>div:hover {
	background-color: #607d8b !important;
	color: #fff !important;
	cursor: pointer;
}

.proj-listing table, .proj-listing table tr td {
	border: 0 !important;
}
.proj-listing table tr td {
	text-transform: capitalize;
	font-size: 1rem;
}

.proj-listing .ui.medium.image {
	position: relative;
}

.proj-listing .ui.medium.image>.slider {
	position: relative;
	padding: 1.2rem;
	background: #00B5AD;
}

.proj-listing .ui.medium.image>.slider>i.icon, .proj-listing .ui.medium.image>.slider>span {
	position: absolute;
	top: 30%;
	font-size: 1rem;
	color: #fff;
}

.proj-listing .ui.medium.image>.slider>span {
	left: 32%;
	padding: 0 1rem;
}
.proj-listing .ui.medium.image>.slider>i.icon.chevron.right {
	left: 65%;
}
.proj-listing .ui.medium.image>.slider>i.icon.chevron.left {
	left: 25%;
}

