/* content starts here*/

#content {
  padding: 13rem 0 0;/*
  margin: 0 auto !important;
  max-width: 992px !important;*/
}

/*#content>.fourteen.wide.column {
  padding: 0;
}*/

#content.ui.grid .four.wide.column, #content .twelve.wide.column>div {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  padding: 0;
}

#content .twelve.wide.column {
  padding: 0;
  padding-left: 1.5rem;
  box-shadow: 0 0 0 #000;
}
.ui.grid.two.column.rib-head>.ui.header.column{
  color: #737373;
  font-weight: 400;
}
.column.item .meta >.header.projectName{
  color: #868686;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meta > .cinema.projectDetail{
  color: #8E8E8E;
  font-weight: 300;
  text-transform: capitalize;
}


/*Left panel starts here*/

.li-box {
  text-align: center;
}

.lib-pic {
  padding: 1rem 0.5rem 0.5rem;
}

.li-box img.ui.circular {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.li-box .item {
  padding: 0.5rem;
  font-size: 1em;
  color: #808080;
  font-weight: 300;
}

.li-box .header {
  font-size: 1.2em;
  color: #7E7E7E;
  font-weight: 400;
}

.lib-actions {
  padding: 1rem 0.5rem;
  border-top: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
  margin-top: 0.5rem;
}

.lib-actions>div.button {
  width: 11em;
  margin: 0.5rem;
  border: 1px solid #38b7ea !important;
  color: #38b7ea !important;
  border-radius: 20px !important;
  box-shadow: 0 0 0 #000 !important;
}

.lib-actions>div.button:hover {
  color:rgba(0,0,0,.6)!important;
}

.lib-actions>div.button.reqdet {
  background-color: #38b7ea !important;
  color: #fff;
}

.lib-count {
  border-bottom: 2px solid #f4f4f4;
}

.lib-count>.item {
  width: 50%;
  padding: 1rem 0;
  display: inline-block;
}

.lib-count>.item.left {
  border-right: 2px solid #f4f4f4;
}

.lib-specs {
  padding: 1rem 2rem;
  text-align: initial;
  border-bottom: 2px solid #f4f4f4;
}

.lib-specs .header {
  font-weight: normal;
}

.lib-specs .content {
  padding: 0.3rem;
}

.lib-specs a.header {
  font-size: 1em;
}

.lib-xtras {
  padding: .5rem 2rem !important;
}

.lib-xtras>.item {
  border: 0 !important;
  padding: 0.5rem 0 !important;
  text-align: initial;
  overflow: hidden;
}

.lib-xtras>.item i {
  margin-right: .5rem !important;
  opacity: 0.6;
}

.lib-xtras>.lib-url {
  text-align: center;
  padding: 1rem 0;
  color: #38b7ea;
  text-decoration: underline;
}

/* Right panel starts here*/

.rib-head {  
  padding: 1rem !important;
  border-bottom: 2px solid #f4f4f4;
  margin: 0 !important;
}

.ri-box h2.header {
  padding: 0 !important;
  font-size: 1.2rem !important;
  margin: 0 !important;
  color: #666;
  text-transform: uppercase;
}

.rib-head>div {
  padding: 0 !important;
  text-align: right !important;
}

.rib-head a {
  cursor: pointer;/*
  color: #666;*/
}

.rib-head a:hover {
  color: #38b7ea;
}

.rib-items {
  padding: .5rem !important;
  margin: 0 !important;
}

.rib-items.ui.three.column.grid>div {
  text-align: center;
}

.pro-ject .meta>h4, .meta.loc-item>h4 {
  margin: 0;
  color: #8E8D8D;
}

.rib-items.ui.three.column.grid p {
  margin: 0;
}

.rib-items.pro-ject .meta {
  padding: 0rem 0rem;
  line-height: 2rem;
}

.rib-items.pro-ject img {
  width: 100%;
  border: 1px solid rgb(80, 207, 80);
}

.meta .header {
  text-transform: uppercase;
  font-weight: 500;
  font-size: small;
}

/* Locations*/

.loca-tion {
  margin: 1rem 0;
}

.loca-tion .ui.divided.items.column {
  margin: 0 !important;
  text-align: center;
}

.rib-items .loc-item.meta span:first-child {
  padding-right: 1rem;
}.rib-items .loc-item.meta span:last-child {
  padding-left: 1rem;
}

.meta.loc-item i {
  opacity: 0.5;
}

/* reviews*/

.revi-ew>.rib-head>h2 {
  margin-top: 0.5rem !important;
}

.review-item .rib-head,.review-item .rib-head h3 {
  padding: 0 !important;
  margin: 0 !important;
}

.review-item .ui.segment {
  margin: 0.5rem 0 0.5rem 3.4rem;
}

.review-item .ui.segment p {
  padding: 0.5rem 0;
  color: #808080;
  font-weight: 200;
}

.review-item .ui.segment i {
  margin: 0;
  opacity: 0.5;
}
.ui.primary.submit.labeled.icon.button{
  float: right;
  padding: .4rem;
  font-size: smaller;
  font-weight: 400;
}
.ui.button.reply{
  float: right;
  background: #38b7ea;
  padding: .5rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 400;
  font-size: .8rem;
}



