/*******************
	Project listing
********************/

._left-column {
	min-width: 75%;
	max-width: 75%;
}

._right-column {
	min-width: 25%;
	max-width: 25%;
}

.ui.items.proj-listing.column {
	margin-bottom: 0 !important;
	position: relative;
}
.header.ui.two.column.grid.right.menu {
	padding: 0;
	margin: 0;
	background-color: inherit;
	box-shadow: 0 0 0 #000;
}

.header.ui.two.column.grid.right.menu>.six.wide.column {
	padding: 0;
	text-align: right;
}

.header.ui.two.column.grid.right.menu>.six.wide.column>div {
	background-color: inherit;
	border: 1px solid #ddd;
	text-transform: uppercase;
	font-size: .9em;
}

.default.text {
	color: #aaa !important;
}

.header.ui.two.column.grid.right.menu .ui.selection.dropdown.item {
	border: 1px solid #ddd;
	text-transform: uppercase;
	font-size: .9em;
}.header.ui.two.column.grid.right.menu .ui.selection.dropdown.item i {
	margin: 0;
	float: right;
}

#projListing {
	padding: 2rem 0;
}

.proj-listing {
	background-color: #fff;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
	padding: 1.2rem;
	margin-bottom: 1rem;
}

.proj-listing .four.column.row {
	padding-bottom: 1.5rem;
}

.proj-listing .four.column.row .right.floated.column>div{
	display: inline-block;
}

.proj-listing .four.column.row .ui.radio.checkbox {
	margin-left: 1rem;
}

/*.proj-listing .ui.left.floated {
	width: 550px;
}*/

.proj-listing .ui.header {
	display: inline-block !important;
	margin: 0 !important;
}

.proj-listing h3.ui.header {
	padding-right: 1.5rem;
	border-right: 2px solid #eaeaea;
	color: #607d8b;
	font-size: 1.3em;
	font-weight: 400;
	text-transform: capitalize;
}

.proj-listing h5.ui.header {
	padding-left: 1.2rem;
	opacity: .8;
}

.proj-listing .ui.right.floated>div {
	display: block;
}

.proj-listing .extra .cinema>.header {
	padding-left: 1rem;
}

.proj-listing .content {
	position: relative;
	padding-top: 0.5rem !important;
}

.proj-listing .item>.content:before {
	position: absolute;
	top: 0;
	left: 15px;
	content: "";
	border: 1px solid #f6f6f6;
	width: 98%;
}

.proj-listing .social-share {
	position: absolute;
	top: 0;
	right: 0;
	width: 10rem;
}

.proj-listing .social-share>.ui.button {
	padding: .5rem;
	margin-bottom: .5rem;
	font-size: .8em;
	display: inline-block;
	font-weight: 400;
}

.proj-listing .content .description {
	max-height: 88px;
	overflow: hidden;
	color: #A6A6A6;
	font-weight: 300;
	font-size: .94rem;
	word-spacing: 1px;
	letter-spacing: .2px;
}

.content .extra .ui.header {
	padding: 0;
	margin: 0;
	border:0;
	color: #607d8b;
}

.content .extra h3>i {
	font-size: 1.4rem !important;
	width: auto;
	color: #607d8b;
	text-transform: capitalize;
}

.pj-items {
	padding: .6rem 0;
}

.pj-items>span.cinema:not(:last-child) {
	margin-bottom: 1rem;
}

.pj-items span>span {
	padding-left: 1rem;
	text-transform: capitalize;
	color: #607d8b;
}

.proj-listing .ui.buttons {
	margin-top: 2rem;
}

.proj-listing ._actButtons>.ui.basic.button {
	border: 1px solid #ddd !important;
	color: #607d8b !important;
	transition: all ease .2s;
	padding: .75rem;
	font-weight: 400;
	display: block !important;
	margin: 0 .75rem .5rem 0;
}

.proj-listing ._actButtons>.ui.basic.button>a {
	color: #607d8b !important;	
}

.proj-listing ._actButtons>.ui.basic.button:hover, .proj-listing ._actButtons>.ui.basic.button>a:hover, .proj-listing ._actButtons>.ui.basic.button:hover a {
	/*background-color: #607d8b !important;*/
	background-color: #09963b !important;
	color: #fff !important;
	cursor: pointer;
}

.proj-listing table, .proj-listing table tr td {
	border: 0 !important;
}
.proj-listing table tr td {
	text-transform: capitalize;
	font-size: 1rem;
	padding: .2em .8em !important;
}
.proj-listing table tr td:nth-child(2n) {
	color: #666;
}
.proj-listing table tr td>a {
	color: #444 !important;
}

.proj-listing .ui.image {
	width: 190px !important;
}

.proj-listing .ui.image>.slider {
	position: relative;
	padding: 1.2rem;
	background: #446C6A;
}

.proj-listing .ui.image>.slider>i.icon, .proj-listing .ui.image>.slider>span {
	position: absolute;
	top: 30%;
	font-size: .8rem;
	color: #fff;
}

.proj-listing .ui.image>.slider>span {
	left: 20%;
	padding: 0 1rem;
}
.proj-listing .ui.image>.slider>i.icon.chevron.right {
	right: 5%;
	cursor: pointer;
}
.proj-listing .ui.image>.slider>i.icon.chevron.left {
	left: 5%;
	cursor: pointer;
}

#mobile-listing>.item {
	margin: 0 !important
}

#mobile-listing>.item>.content {
	background-color: #fff !important;
	margin-bottom: .8rem;
	padding: .65rem;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

#mobile-listing>.item .summary>.user {
	color: #607d8b !important;
}

#mobile-listing>.item i.rupee.icon {
	padding-left: 0;
	margin-right: 0;
}

#mobile-listing>.item ._name_ {
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	width: 60%;
	padding: .2rem 0;
	font-weight: bold;
	color: #666;
}

#mobile-listing>.item .date>span>a {
	color: #666 !important;
}

#mobile-listing>.item .date {
	padding-top: .3rem 0 !important;
	color: #808080 !important;
}

#mobile-listing>.item .meta {
	padding-top: 1.2em;
}

.mobileFilter.ui.menu {
	background: inherit !important;
	box-shadow: none !important;
}

.mobileFilter.ui.menu>.item {
	display: block !important;
}
#HideFilter {
	display: none;
}

.ui.header .icon:only-child {
  display: inline-block;
  padding: 0;
  margin-right: .5rem;
  vertical-align: baseline;
  font-size: medium;
}
.proj-listing h5.ui.header {
  padding-left: 1.2rem;
  opacity: .8;
  font-weight: 400;
  color: #747474;
}

.tempBtn {
  float: right;
	  border: 1px solid #ddd;
	  padding: 7px 10px;
  background: #fff;
}
._hide_ {
	display:none;
}
/*.proj-listing ._actButtons>.ui.basic.button {
  border: 0 !important;
  border-radius: 0 !important;
   box-shadow: 0 0 0 !important; 
  background-color: #f4f4f4 !important;
  color: #607d8b !important;
  transition: all ease .2s;
  padding: .75rem;
  font-weight: 400;
  width: 11rem;
  margin: 0 .75rem .5rem 0;
}*/

.ui.items>.item>.content a {
  color: #345D71 !important;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}
.pDate {
	margin-right: 15px;
}
.extra.pDate{
	color: #838080;
    opacity: .8;
}

.ui.grid.rib-head.mobile.tablet.only .ui.selection.dropdown>.text {
	margin-right: .5rem !important;
}
.ui.grid.rib-head.mobile.tablet.only .eight.wide.column {
	padding:0;
	text-align: center;
}
.ui.grid.rib-head.mobile.tablet.only .sort.right.icon {
	float: right;
}

.pj-items.extra >.ui.horizontal.label{
	font-weight: 400;
	border-radius: 2px;
	color: #737373;

.proContent {
	color: #607d8b !important;
	cursor: default !important;
}
.ui.table td {
  padding: .4em 2.9em !important;
  text-align: left;
  vertical-align: middle;
}

.proj-listing ._actButtons {
	vertical-align: middle !important;
	width: 25% !important;
}
.proj-listing ._actButtons>.ui.basic.button {
  border: 0 !important;
  border-radius: 0 !important;
  /* box-shadow: 0 0 0 #000 !important; */
  background-color: #f4f4f4 !important;
  /* color: #607d8b !important; */
  transition: all ease .2s;
  padding: .75rem;
  font-weight: 400;
  width: 11rem;
  margin: 0 .75rem .5rem 0;
}
.mobileFilter.ui.menu {
	background: inherit !important;
	box-shadow: none !important;
}

.mobileFilter.ui.menu>.item {
	display: block !important;
}
#HideFilter {
	display: none;
}

.ui.menu .item:before {
	background: linear-gradient(rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0) 100%);
}

/******************
	Agents listing
*******************/

#agentContent,#projectContent {
	padding: 8rem 0 !important;
}

.ui.grid.two.column.rib-head{
   border-bottom: 2px solid rgb(236, 236, 236);
   padding: .5rem !important;
}

#agentContent>div,#projectContent>div {
	padding: 0 0;
}

#agentContent .rib-head, #projectContent .rib-head {
	padding: 0 !important;
	border-bottom: 1px solid #eaeaea !important;
}
._filters_ {
    padding: 5px 0 10px;
}
#projectContent .ui.menu.rib-head {
	background: inherit !important;
	box-shadow: none !important;
}

#projectContent .ui.menu.rib-head>.right.menu>.item:before {
	background: inherit; !important;
}

#agentContent .rib-head>h2, #projectContent .rib-head>h2 {
	background: inherit;
	margin: 1rem 0;
	padding: 0;
	font-size: 1.2rem;
	font-weight: 400;
	color: #7b7b7b;
}

#projectContent .rib-head .ui.grid>div {
	padding: 0 !important;
}

#agentContent .rib-head>.right.menu {
	padding-bottom: 1rem !important;
    margin-top: 1rem;
}

#agentContent .rib-head>.right.menu>.ui.button {
	padding: .8em 1em !important;
}

#agentContent .rib-head>.right.menu>div:nth-child(2n) {
	margin: 0 2rem;
}

#agentContent .rib-head>.right.menu .ui.button {
	text-transform: uppercase;
	font-size: .9em;
} 

#agentContent>#irx-desktop .ui.cards {
	margin: 2rem;
}

#agentContent>#irx-mobile .ui.cards {
	margin: 2rem 0 0;
}

#agentContent>#irx-desktop .ui.cards>.card ,#projectContent .ui.cards>.card{
	width: 32.8rem;
}

.ui.image.tiny {
	float: left;
	padding: .6rem !important;
	background-color: inherit !important;
}
.card .content .description {
    font-size: .8em;
    text-transform: uppercase;
    line-height: 18pt;
}
.content.addr-ess {
	font-size: .9em;
}

.description>span {
	color: rgba(0,0,0,.8);
	margin: 0 .3rem;
}

.extra.content i.building.icon:before {
	margin-right: .5rem;
}

.extra.content .friends:last-child {
	margin-left: 1rem;
}

#agentContent i.icon.square {
	font-size: 1.4em;
	width: auto;
	margin: 0 0 0 .3rem;
}

.card .content a.header, .card .content .description>span {
	color: rgb(96, 125, 139) !important;
}.card .content>span {
	color: rgba(0,0,0,0.6);
}

.card {
	position: relative;
}

.card .inline.field {
	position: absolute;
	top: 0;right: 0;
	padding: 1rem;
}

.card .inline.field label {
	padding: 0;
}
.pj-items >.cinema{
	color: #808080;
	font-weight: 300;
	display: block;
}
.pj-items >.cinema>* {
	font-weight: 400;
	padding-left: .5rem;
}

/** mobile and tablet **/

.mobile.tablet.only._actButtons i.icon {
	background: #f5f5f5 !important;
	color: #607d8b !important;
	font-size: 1.2rem;
	padding: 1rem;
	width: auto;
	height: auto;
	margin: inherit;

}

.mobile.tablet.only._actButtons i.icon:hover {
	cursor: pointer;
	background: #607d8b !important;
	color: #fff !important;
}

/* ends here */