<!-- Homepage Content starts here -->
<style>
	.column.tablet.mobile.only .ui.form>.field {
		padding:1rem 0;
	}
	.column.tablet.mobile.only .ui.form>.field>.ui.radio.checkbox>label {
		width:150px !important;
	}
</style>
<div id="homescreen" class="ui inverted masthead segment">
	<div class="column computer only row">
		<div class="ui transition information visible">
			<h1 class="ui inverted header" style="  margin-top: 140px;
  margin-left: 540px;">Explore Agents</h1>
		</div>
	</div>
</div>

<!-- Homepage upper portion ends here -->