<!-- Footer goes here -->
<footer>
<div class="ui inverted footer vertical segment">
    <div class="ui stackable center aligned page grid">
        <div class="ui inverted menu">
            <a class="item" href="/irx/about"style="border-left: 1px solid rgba(204, 204, 204, 0.6);">About Us</a>
            <a class="item" href="/irx/contact">Contact Us</a>
            <a class="item" href="/irx/t&c">Terms & Conditions</a> 
            <a class="item">Privacy</a>
            <a class="item" href="http://www.irx.com">Copyright @ 2015 irx.com</a>
            <a class="item">Connected by<i class="facebook icon"style="color:#163F96;"></i><i class="twitter icon"style="color:#07B8EF;"></i><i class="google plus icon"style="color:rgb(208, 22, 22);"></i></a>
        </div>
        <div class="eight wide column">
            <div class="ui three column center aligned stackable grid">
                <div class="column">
                    <h5 class="ui inverted header">Developer Property</h5>
                    <div class="ui inverted link list">
                        <a class="item">Property in Delhi</a>
                        <a class="item">Property in Gurgaon</a>
                        <a class="item">Property in Noida</a>
                        <a class="item">Property in Bangalore</a>
                        <a class="item">Property in Kolkata</a>
                    </div>
                </div>
                <div class="column">
                    <h5 class="ui inverted header">Resale Property</h5>
                    <div class="ui inverted link list">
                        <a class="item">Apartment for sale in Delhi</a>
                        <a class="item">Apartment for sale in Gurgaon</a>
                        <a class="item">Apartment for sale in Noida</a>
                        <a class="item">Apartment for sale in Bangalore</a>
                        <a class="item">Apartment for sale in Kolkata</a>
                    </div>
                </div>
                <div class="column">
                    <h5 class="ui inverted header">Rent property</h5>
                    <div class="ui inverted link list">
                        <a class="item">Flat for rent in Delhi</a>
                        <a class="item">Flat for rent in Gurgaon</a>
                        <a class="item">Flat for rent in Noida</a>
                        <a class="item">Flat for rent in Bangalore</a>
                        <a class="item">Flat for rent in Kolkata</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <h5 class="ui inverted header">Contact Us</h5>
            <p><i class="call square icon"></i>Toll Free 1800 10 22225</p>
            <p style="font-weight: 300;font-size: .9rem;margin-left: -1rem;">Monday - Saturday</p>
            <p style="font-weight: 300;font-size: .9rem;margin-left: 2rem;">09:30 AM to 06:30 PM IST</p>
            <p style="margin-left:2rem;"><i class="mail icon"></i>Email: feedback@irx.com</p>
        </div>
    </div>
</div>
</footer>
<% include ../popups/login.html.ejs %>
<% include ../popups/sell-ur-property.html.ejs %>
<% include ../popups/post-ur-req.html.ejs %>
<% include ../popups/post-ur-req-agent.html.ejs %>


<% include ../popups/verification-register.html.ejs %>
<% include ../popups/error.html.ejs %>
<% include ../popups/success.html.ejs %>
<% if(locals.req.device.type != 'desktop'){ %>
    <% include ../popups/adv-search-filter.html.ejs %>
<%}%> 

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1384829985163682&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- footer ends here -->