<!-- Footer goes here -->

  <div class="ui inverted footer vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="sixteen wide column">
        <div class="ui two column center aligned stackable grid">
          <div class="three wide column">
            <div class="ui inverted link list">
              <a class="item">&copy; 2008-2014 Realty Exchange</a>
            </div>
          </div>
          <div class="thirteen wide column">
            <div class="content">
              <a class="header">FOLLOW US</a><i class="icon twitter square"></i><i class="icon facebook square"></i><i class="icon google plus square"></i>
            </div>
        </div>
      </div>
    </div>
  </div>



<!-- footer ends here -->