<!-- Fixed header and search menu place here -->

<div id="home" class="ui top fixed menu">

  <!-- Header goes here -->

  <div id="header" class="ui inverted menu">
    <div class="header item">IRX</div>
    <a class="item">PROJECTS</a>
    <a class="item">AGENTS</a>
    <div class="right menu">
      <div class="ui mobile dropdown link item" tabindex="0">
        <i class="content icon toggle button"></i>
      </div>
      <a class="item">Sell your property</a>
      <a class="item">Post your requirement</a>
      <a class="item log-in"><i class="user icon"></i>Login</a>
      <a class="item"><i class="content icon toggle button"></i></a>
    </div>
  </div> 
  
  <!-- Header ends here -->
<% if(locals.uiContext && locals.uiContext.menu) {%>

    <% include ../partials/searchbar.html.ejs %>

<% } %>
 
</div>