<!-- Fixed header and search menu place here -->

<style>
  .ui.mobile.dropdown.link.item>i {
    padding:1rem;
  }
</style>
<div id="home" class="ui top fixed menu">

  <!-- Header goes here -->

  <div id="header" class="ui inverted menu">
    <a class="header item _logo_" href="/irx/home">IRX</a>
    <a class="item _link" href="/project-listing">PROJECTS</a>
    <a class="item _link" href="/agent-listing">AGENTS</a>
    <div class="right menu">
      <div class="ui mobile dropdown link item" tabindex="0" style="padding:0;">
        <i class="user icon log-in"></i>
       <i class="content icon toggle button"></i>
      </div>
      <a class="item sell-in">Sell your property</a>
      <a class="item _post post-in">Post your requirement
       </a>
      <% if(locals.session.user) {%>
        <a class="item log-in"><i class="user icon"></i><%= locals.session.user.name %></a>
        <% }%>
        <% if(!locals.session.user){%>
             <a class="item log-in"><i class="user icon"></i>Login</a>
           <% }%>
     
      <a class="item"><i class="content icon toggle button"></i></a>
    </div>
  </div> 
  
  <!-- Header ends here -->
<% if(locals.uiContext && locals.uiContext.menu) {%>

    <% include ../partials/searchbar.html.ejs %>

<% } %>

  <% include ../popups/sidebar.html.ejs %>
  <% include ../popups/login.html.ejs %>
  <% include ../popups/sell-ur-property.html.ejs %>
  <% include ../popups/post-ur-req.html.ejs %>
  <% include ../popups/leads.html.ejs %>
  <% include ../popups/request-details.html.ejs %>
  <% include ../popups/confirmation.html.ejs %>
  <% include ../popups/adv-search-filter.html.ejs %>

</div>