 <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <% locals.uiContext={menu:true}; %>
   <% locals.searchType='project'; %>
  <!-- Site Properities -->
  <title><%= title %></title>

  <!-- JS Files -->

  <script type="text/javascript" src="/js/library/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/js/library/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/library/semantic.min.js"></script>
  <script type="text/javascript" src="/js/common/common.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/library/knockout-3.2.0.js"></script>
  <script type="text/javascript" src="/js/library/knockout.mapping-latest.js"></script>
  <script type="text/javascript" src="/js/common/city.js"></script>
  <script type="text/javascript" src="/js/common/http.js"></script>
  

  <!--   Css files -->
  
  <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/homepage.css">
  <link rel="stylesheet" type="text/css" href="/css/profile.css">