<!-- Search menu goes her
  -->
  <div id="searchbar" class="ui inverted menu">
    <div class="ui grid smenu-hide">
      <div class="ui mobile row" tabindex="0">
        <div class="item twelve wide column">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
          </div>
        </div>
        <div class="item filter ui dropdown link four wide column">
          Filter
          <i class="filter icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            <a class="item">Classes</a>
            <a class="item">Cocktail Hours</a>
            <a class="item">Community</a>
          </div>
        </div>        
      </div>
    </div>
    <div class="cont-ainer search-menu">
      <div class="item">
        <select class="ui search small dropdown">
          <option value="">State</option>
          <option value="AL">New Delhi</option>
          <option value="AL">Bangalore</option>
          <option value="AK">Mumbai</option>
          <!-- Omitted for brevity !-->
          <option value="WA">Hyderbad</option>
          <option value="WV">Chennai</option>
          <option value="WI">Pune</option>
          <option value="WY">Kolkata</option>
        </select>
      </div>
      <div class="item">
          <select class="ui search small dropdown">
            <option value="">Rent</option>
            <option value="RE">Resale</option>
            <option value="LA">Land</option>
          </select>
      </div>
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>
      </div>
      <div class="item">
          <select class="ui search small dropdown">
            <option value="">BHK</option>
            <option value="1">1bhk</option>
            <option value="2">2bhk</option>
            <option value="3">3bhk</option>
          </select>
      </div>
      <div class="item">
          <div class="ui slider checkbox">
            <label>Budget</label>
            <input type="checkbox">
          </div>
      </div>
      <div class="item actions">
        <div class="ui large buttons">
          <div class="ui button">Agent</div>
          <div class="or"></div>
          <div class="ui button">Project</div>
        </div>
      </div>
    </div>
  </div>