<!-- Search menu goes her
  -->
  <style>
    button.buttonClass {
      border:0;
      background:inherit;
    }

    .ui.labeled.icon.dropdown.button.item {
      padding:0 !important;
    }

    .ui.labeled.icon.dropdown.button.item>span.text {
      cursor: pointer;
      word-wrap: break-word;
      white-space: normal;
      outline: 0;
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      min-width: 158px !important;
      background: inherit !important;
      display: inline-block;
      padding: .8em 1.1em;
      color: rgba(0,0,0,.7);
      box-shadow: none;
      border: 1px solid rgba(39,41,43,.15);
      border-radius: .2857rem;
      font-weight:normal;
    }
    .ui.labeled.icon.dropdown.button.item>span.text:hover {
      background-color:#fbfbfb !important;
    }
    .ui.labeled.icon.dropdown.button.item>i{
      color: #444;
      margin-left: 75% !important;
      float:none !important;
      background-color: inherit;
    }
  </style>
  <script type="text/javascript" src="/js/common/search.js"></script>
<div id="searchF">
<form data-bind="submit: searchF" id="searchForm">
  <div id="searchbar" class="ui inverted menu row computer only">
  
    <div class="ui grid smenu-hide mobile tablet only">
      <div class="ui mobile row" tabindex="0">
        <div class="item twelve wide column">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." >
            <i class="search icon"></i>
          </div>
        </div>
        <div class="item filter ui dropdown link four wide column">
          Filter
          <i class="filter icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            <a class="item">Classes</a>
            <a class="item">Cocktail Hours</a>
            <a class="item">Community</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cont-ainer search-menu computer only row">
      <div class="item">
        <div class="ui selection dropdown">
          <input type="hidden" name="city">
          <div class="default text">City</div>
          <i class="angle down icon"></i>
          <div class="menu">
            <div class="item" data-value="NewD">New Delhi</div>
            <div class="item" data-value="Bang">Bangalore</div>
            <div class="item" data-value="Mum">Mumbai</div>
            <div class="item" data-value="Che">Chennai</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui selection dropdown">
          <input type="hidden" data-bind="value: searchType" name="searchType">
          <div class="default text">Select</div>
          <i class="angle down icon"></i>
          <div class="menu">
            <div class="item" data-value="project">Project</div>
            <div class="item" data-value="agent">Agent</div>
          </div>
        </div>
      </div>
      
       <input type="hidden" name="projectId" placeholder="Search..." data-bind="value: projectId">
      <div class="item">
        <div class="ui icon input">
          <input type="text" id="__searchAuto" name="name" placeholder="Search..." data-bind="value: name"><i class="search icon"></i>
        </div>

      </div>

      <div class="item">
        <div class="ui selection dropdown">
          <input type="hidden" data-bind="value: bhk" name="bhk">
          <div class="default text">BHK</div>
          <i class="angle down icon"></i>
          <div class="menu">
            <div class="item" data-value="1">1bhk</div>
            <div class="item" data-value="2">2bhk</div>
            <div class="item" data-value="3">3bhk</div>
            <div class="item" data-value="4">4bhk</div>
          </div>
        </div>
      </div>
      <div class="ui labeled icon dropdown button item">
        <i class="angle down icon"></i>
        <span class="text">Budget</span>
        <div class="menu">
          <div class="header">
            Select price range
          </div>
          <div class="divider"></div>
          <div class="item">
            Less than 5Lac
          </div>
          <div class="item">
            5Lac - 10Lac
          </div>
          <div class="item">
            More than 10Lac
          </div>
        </div>
      </div>
      <div class="item">
        <button class="buttonClass" type="submit">
          <div class="ui button">search</div>
        </button>
      </div>
      <!--<div class="item actions">
        <div class="ui selection dropdown">

          <div class="default text">Search</div>
          <i class="angle down icon"></i>
          <div class="menu">

             
            <button class="item" data-value="agent" type="submit">Project</button>
            <div class="item" data-value="project">Agent</div>

          </div>
        </div>-->
      </div>
    </div>

  </div>
  </form>

  </div>
<div id="autoDiv" class="item" style="width:100px"></div>
