<!-- Search menu goes her
  -->
  <style>
    .ui.default.dropdown>.text, .ui.dropdown>.default.text {
      text-transform :capitalize;
    }
    .header>.min {
      border:1px solid #eaeaea;
    }
    button.buttonClass {
      border:0;
      background:inherit;
    }
    
    .ui.button {
      cursor: pointer;
      display: inline-block;
      min-height: 1em;
      outline: 0;
      border: 1px solid #ddd;
      vertical-align: baseline;
      background-color: #FFFFFF;
      color: rgba(0,0,0,.6);
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      margin: 0 .25em 0 0;
      padding: .8em 1.5em;
      text-transform: none;
      text-shadow: none;
      font-weight: 700;
      line-height: 1;
      font-style: normal;
      text-align: center;
      text-decoration: none;
      background-image: none;
      border-radius: .2857rem;
      box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(39,41,43,.15) inset;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
      transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
      -webkit-tap-highlight-color: transparent;
    }

    .ui.labeled.icon.dropdown.button.item {
      padding:0 !important;
    }

    .ui.labeled.icon.dropdown.button.item>span.text {
      cursor: pointer;
      word-wrap: break-word;
      white-space: normal;
      outline: 0;
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      min-width: 158px !important;
      background: inherit !important;
      display: inline-block;
      padding: .8em 1.1em;
      color: rgba(0,0,0,.7);
      box-shadow: none;
      border: 1px solid rgba(39,41,43,.15);
      border-radius: .2857rem;
      font-weight:normal;
    }
    .ui.labeled.icon.dropdown.button.item>span.text:hover {
      background-color:#fbfbfb !important;
    }
    .ui.labeled.icon.dropdown.button.item>i{
      color: #444;
      margin-left: 75% !important;
      float:none !important;
      background-color: inherit;
    }
    .hidden{
    display:none;
    }

    ._searchInput_ {
      position:relative;
    }
    ._searchInput_>.ui.right.labeled.input>input {
      width:330px;
    }
    ._searchInput_ .ui.dropdown.label {
      position:absolute;
      top:0;right:0;
      padding-top: 0.7em;
      padding-bottom: .75em;
    }
  </style>
  <script type="text/javascript" src="/js/common/search.js"></script>
<div id="searchF">
<form data-bind="submit: searchF" id="searchForm">
  <div id="searchbar" class="ui inverted menu row computer only">
  
    <div class="ui grid smenu-hide mobile tablet only">
      <div class="ui mobile row" tabindex="0">
        <div class="item twelve wide column">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." >
            <i class="search icon"></i>
          </div>
        </div>
        <div class="item filter ui dropdown link four wide column">
          Filter
          <i class="filter icon search-filter"></i>
        </div>
      </div>
    </div>
    <div class="cont-ainer search-menu computer only row">
      <!--<div class="item">
        <div class="ui selection dropdown">
          <input type="hidden" name="city">
          <div class="default text">City</div>
          <i class="angle down icon"></i>
          <div class="menu">
            <div class="item" data-value="NewD">New Delhi</div>
            <div class="item" data-value="Bang">Bangalore</div>
            <div class="item" data-value="Mum">Mumbai</div>
            <div class="item" data-value="Che">Chennai</div>
          </div>
        </div>
      </div> -->
      <div class="item">
         <div class="ui selection dropdown">
          <input id="_city_" type="hidden" name="city" data-bind="textInput:city">
          <div class="default text"><!--ko text: showCity--><!--/ko--></div>
          <i class="angle down icon"></i>
          <div class="menu" style="overflow-x: hidden;overflow-y: scroll;max-height: 500px;">
            <div class="ui icon search input">
              <i class="search icon"></i>
              <input type="text" name="search" placeholder="Search city...">
            </div>
            <div class="divider"></div>
            <div class="header">
              <i class="tags icon"></i>
             Select City
            </div>
            <% include city.html %> 
          </div>
        </div>
      </div>

      <div class="item">
        <div class="ui selection dropdown">
          <input type="hidden" data-bind="value: bhk" name="bhk">
          <div class="default text">BHK</div>
          <i class="angle down icon"></i>
          <div class="menu">
            <div class="item" data-value="1">1bhk</div>
            <div class="item" data-value="2">2bhk</div>
            <div class="item" data-value="3">3bhk</div>
            <div class="item" data-value="4">4bhk</div>
          </div>
        </div>
      </div>

      <div class="item">

        <div class="ui selection dropdown">
          <div class="default text" id="_budget_">Budget</div>
          <i class="angle down icon"></i>
          <div class="menu">
            <div class="header">
              <input type="text" class="min" style="width:50px;" name="minPrice" placeholder="Min" data-bind="value:minPrice">
              <span >-</span>
              <input type="text" class="min" style="width:50px;" name="maxPrice" placeholder="Max" data-bind="value:maxPrice"><br>      
            </div>
            <div class="divider"></div>
            <div class="minCostLeft __visible" style="text-align:left;max-width:150px;overflow:hidden;">
              <div class="item">
                <span class="text"><!-- ko text:minPriceText --><!-- /ko --></span>-
                <span class="text"><!-- ko text:maxPriceText --><!-- /ko --></span>
              </div>
              <div class="item _budgetItem_" style="width:100%;float:left">
                <input class="minP" type="hidden" value="0">
                <input class="maxP" type="hidden" value="500000">
                Less than 5Lac
              </div>
              <div class="item _budgetItem_" style="width:100%;float:left">
                <input class="minP" type="hidden" value="500000">
                <input class="maxP" type="hidden" value="2500000">
                5Lac - 25Lac
              </div>
              <div class="item _budgetItem_" style="width:100%;float:left">
                <input class="minP" type="hidden" value="2500000">
                <input class="maxP" type="hidden" value="5000000">
                25Lac - 50Lac
              </div>
              <div class="item _budgetItem_" style="width:100%;float:left">
                <input class="minP" type="hidden" value="5000000">
                <input class="maxP" type="hidden" value="10000000">
                50Lac - 1cr
              </div>
              <div class="item _budgetItem_" style="width:100%;float:left">
                <input class="minP" type="hidden" value="10000000">
                More than 1cr
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- search input here -->

      <div class="item _searchInput_">
        <input type="hidden" name="projectId" placeholder="Search..." data-bind="value: projectId">
        <div class="ui right labeled input" style="width:420px;">
          <input type="text" id="__searchAuto" name="name" placeholder="Search..." data-bind="value: name">
          <div class="ui dropdown label">
            <input type="hidden" data-bind="value: searchType" name="searchType">
            <div class="text">Select</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="project">Projects</div>
              <div class="item" data-value="agent">Agents</div>
            </div>
          </div>
        </div>
      </div>
      <!-- ends here -->

      <div class="item">
        <button class="buttonClass" type="submit">
          <div class="ui button blue"><i class="search icon"></i>search</div>
        </button>
      </div>

      </div>
    </div>

    </div>
  </form>
</div>
<div id="autoDiv" class="item" style="width:100px"></div>
