<!-- Search menu goes her
  -->
  <style>   
    .buttonClass.ui.button {
      padding:.8em 1.1em !important;
      font-size:1rem !important;
    }
    .ui.labeled.icon.dropdown.button.item>i{
      color: #444;
      margin-left: 75% !important;
      float:none !important;
      background-color: inherit;
    }
    .hidden{
    display:none;
    }

    ._searchInput_ {
      position:relative;
    }
    ._searchInput_>.ui.right.labeled.input>input {
      width:330px;
    }

    .ui.mobile.column.grid #search-filter>i.icon {
      font-size: 1.2rem;
      padding-right: 3.5rem;
      opacity:.5;
    }
    ._disabled_{
      opacity:.5 !important
    }
  </style>
  
<script type="text/javascript" src="/js/common/search.js"></script>
<div id="searchF">
<!-- Request-Details popup -->
<div id="loc-pop-up" class="ui modal pop-up sell-post" style="background-color:#f8f8f8;">  
  <div class="content" style="border-bottom:1px solid #eaeaea;background-color:#fff;">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Coming soon !!</h2>
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>
  
    
    <!-- Request details starts here -->
        
          <div class="ui info message" style="margin:2rem;text-align:center;">
            <div class="header">
             We are coming with locality page very soon.
             Showing agents of this locality
            </div>  
             <div class="ui button" data-bind="click: searchF">OK</div>          
          </div>
      
       
      
    <!-- Ends here -->  
  
</div>
<form data-bind="submit: searchF" id="searchForm">
  <div id="searchbar" class="ui inverted menu">
  <% if(locals.req.device.type != 'desktop'){ %>
  <div class="ui grid smenu-hide">
      <div class="ui mobile two column page grid" tabindex="0" style="padding: 1.5rem 1.5rem .6rem;">
        <div class="sixteen wide column _searchInput_" style="padding: 0;">
              
          <input type="hidden" name="projectId" placeholder="Search..." data-bind="value: projectId">
          <input type="hidden" name="isLocality" placeholder="Search..." data-bind="value: sLocAgents">
          <div class="ui action  left icon input" style="width:100%">
            <input type="text" id="__searchAuto" name="name" placeholder="Search..." data-bind="value: name" style="width:100%">
               <i class="map icon" id="search-filter" style="width:3em"></i>
            <div class="ui teal mini button" data-bind="click:function(){this.searchType('<%=locals.searchtype?locals.searchtype:"project"%>');this.searchF($('#searchForm'))}">GO</div>
          </div>         
        </div>
      </div>
    </div>
    <% } %>
    
    <% if(locals.req.device.type == 'desktop'){ %>
    <div id="desktop-searchbar" class="cont-ainer search-menu">
      <div class="item">
         <div class="ui selection dropdown">
          <input id="_city_" type="hidden" name="city" data-bind="textInput:city">
          <div class="default text city"><!--ko text: showCity--><!--/ko--></div>
          <i class="angle down icon"></i>
          <div class="menu _ld_DCTY_DTA" style="overflow-x: hidden;overflow-y: scroll;max-height: 500px;">
            <div class="ui icon search input">
              <i class="search icon"></i>
              <input type="text" name="search" placeholder="Search city...">
            </div>
            <div class="divider"></div>
            <div class="header">
              <i class="tags icon"></i>
             Select City
            </div>
          </div>
        </div>
      </div>
      <!-- search input here -->

      <div class="item _searchInput_">
        <input type="hidden" name="projectId" placeholder="Search..." data-bind="value: projectId">
        <input type="hidden" name="isLocality" placeholder="Search..." data-bind="value: isLocality">
        <div class="ui labeled input" style="width:415px;border-radius:0;">
          <div class="_csn ui dropdown basic label" style="padding:.80em;">

            <input type="hidden" data-bind="value: searchType" name="searchType" id="__searchType__"/>
            <div class="text" style="width:60px;" ><p style="text-transform: capitalize;"><!--ko text: searchType --><!-- /ko --></p></div>
            <i class="dropdown icon" style="margin:0"></i>
            <div class="menu">
              <div class="item" data-value="project">Projects</div>
              <div class="item" data-value="agent">Agents</div>
              <div class="item" data-value="locality">Locality</div>
            </div>
          </div>
          <input type="text" id="__searchAuto" name="name" placeholder="Search..." data-bind="value: name" class="_csn" style="margin-left: -.2em;"/> 
        </div>
      </div>
      <!-- ends here -->

      <div class="item">
        <div class="ui selection dropdown __bhk__">
          <input type="hidden" data-bind="value: bhk" name="bhk">
          <div class="default text">BHK</div>
          <i class="angle down icon"></i>
          <div class="menu">
            <div class="item" data-value="1">1bhk</div>
            <div class="item" data-value="2">2bhk</div>
            <div class="item" data-value="3">3bhk</div>
            <div class="item" data-value="4">4bhk</div>
          </div>
        </div>
      </div>

      <div class="item">

        <div class="ui selection dropdown __budget__">
          <div class="default text" id="_budget_" style='text-overflow: ellipsis;white-space: nowrap;width: 80%;overflow: hidden; height: 15px;margin:0'>Budget</div>
          <i class="angle down icon"></i>
          <div class="menu">
            <div class="header">
              <input type="text" class="min" style="width:100px;text-align:center;border: 1px solid #ddd;" name="minPrice" placeholder="Min" data-bind="value:minPrice">
              <span >-</span>
              <input type="text" class="min" style="width:100px;text-align:center;border: 1px solid #ddd;" name="maxPrice" placeholder="Max" data-bind="value:maxPrice"><br>      
            </div>
            <div class="divider"></div>
            <div class="minCostLeft __visible" style="text-align:left;max-width:250px;overflow:hidden;">
              <div class="item bud_opt">
                <span class="text"><!-- ko text:minPriceText --><!-- /ko --></span>-
                <span class="text"><!-- ko text:maxPriceText --><!-- /ko --></span>
              </div>
              <div class="item _budgetItem_ bud_opt">
                <input class="minP" type="hidden" value="0">
                <input class="maxP" type="hidden" value="500000">
                > 5Lac
              </div>
              <div class="item _budgetItem_ bud_opt">
                <input class="minP" type="hidden" value="500000">
                <input class="maxP" type="hidden" value="2500000">
                5Lac - 25Lac
              </div>
              <div class="item _budgetItem_ bud_opt">
                <input class="minP" type="hidden" value="2500000">
                <input class="maxP" type="hidden" value="5000000">
                25Lac - 50Lac
              </div>
              <div class="item _budgetItem_ bud_opt">
                <input class="minP" type="hidden" value="5000000">
                <input class="maxP" type="hidden" value="10000000">
                50Lac - 1cr
              </div>
              <div class="item _budgetItem_ bud_opt">
                <input class="minP" type="hidden" value="10000000">
                More than 1cr
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="item">
        <button class="buttonClass ui button" type="submit">
          <i class="search icon"></i>search
        </button>
      </div>

      </div>
      
    </div>
    <% } %>
      <div id="autoDiv" style="width:100px;"></div>
    </div>
  </form>
</div>