<!-- Homepage Content starts here -->
<style>
	.column.tablet.mobile.only .ui.form>.field {
		padding:1rem 0;
	}
	.column.tablet.mobile.only .ui.form>.field>.ui.radio.checkbox>label {
		width:150px !important;
	}
	/*.menu.abx{
		width: 8.1rem;
		margin-left: -2.9rem !important;
		background:rgba(121, 121, 121, 0.51) !important;
		text-align: center !important;
	}*?
	.drop{
	    width: 7.5rem;
		margin-left: -2.5rem !important;
		background:rgba(121, 121, 121, 0.51) !important;
		text-align: center !important;
	}
	.range{
        width: 9.5rem;
		margin-left: -2.9rem !important;
		background:rgba(121, 121, 121, 0.51) !important;
		text-align: center;
	}
	.select{
	    background:rgba(121, 121, 121, 0.51) !important;

	}
	.ui.dropdown .menu>.item:hover{
		background: rgba(0,0,0,.05);
		color: rgba(255, 255, 255, 1);
		z-index: 12;
	}

</style>
<div id="homescreen" class="ui inverted masthead segment">
	<div class="ui page grid">

		<!-- For mobile screens -->
		<% if(locals.req.device.type != 'desktop'){ %>
			<div id="irx-mobile" class="ui column stackable">
		        <div class="ui transition information visible">
			        <form data-bind="submit: searchFun" >
				        <div class="ui form _radiogroup_">
				        	<input type="hidden" name="projectId" placeholder="Search..." id="__projectId">
							<div class="field _sType_" data-attr="project">
				      <div class="ui radio checkbox checked _main_">
						<div class="radiobutton active"></div>
				        <input type="radio" name="search" class="__searchType"  value="project" checked="checked">
				        <label>Projects</label>
				      </div>
				    </div>
				    <div class="field _sType_" data-attr="agent">
				      <div class="ui radio checkbox _main_">
						<div class="radiobutton"></div>
				        <input type="radio" name="search" class="__searchType" value="agent">
				        <label>Agents</label>
				      </div>
				    </div>
				    <div class="field" data-attr="locality">
				      <div class="ui radio checkbox _main_">
						<div class="radiobutton" ></div>
				        <input type="radio" name="search" disabled class="__searchType">
				        <label style="color: #FFF !important;font-size: 1.1rem;text-transform: uppercase;font-weight: 400;opacity: .8;">Locations (Comming Soon)</label>
				      </div>
				    </div>
						   
						    
						</div>
			          	<!-- ko if:searchType()=='project' -->
			          		<h1 class="ui inverted header">Explore Projects</h1>
			          	<!-- /ko -->
			          	<!-- ko if:searchType()=='agent' -->
			          		<h1 class="ui inverted header">Explore Agents</h1>
			          	<!-- /ko -->
			          	<!-- ko if:searchType()=='locality' -->
			          		<h1 class="ui inverted header">Explore Localities</h1>
			          	<!-- /ko -->
			          <div id="search-box" class="large basic inverted animated fade ui">
			            <div class="ui fluid category search">
						  <div class="ui icon input _main_">
							<input class="prompt" id="__searchHome" name="name" type="text" data-bind="attr:{placeholder:placeholderVal()}" >
				          </div>
						  <div class="results"></div>
						</div>
			          </div>
			          <!-- Button and filter for search -->

				          	<div class="ui inverted menu" style="background:inherit;">
								<div id="search-filter" class="ui button"><i class="filter icon"></i>Filter</div>
					          	<button class="ui blue button" type="submit">Search</button>
					        </div>

						<!-- ends here -->
			        </form>
		        </div>
		      </div>
		    <% } %>
		<!-- ends here -->

	<% if(locals.req.device.type == 'desktop'){ %>

      <div class="column">
	    <div class="ui information visible">
	        <form data-bind="submit: searchFun" >
	          <div class="ui form">
	          	 <input type="hidden" name="projectId" placeholder="Search..." id="__projectId">
				  <div class="inline fields" style="min-width:360px !important; ">
				    <div class="field _sType_" data-attr="project">
				      <div class="ui radio checkbox checked _main_">
						<div class="radiobutton active"></div>
				        <input type="radio" name="search" class="__searchType"  value="project" checked="checked">
				        <label>Projects</label>
				      </div>
				    </div>
				    <div class="field _sType_" data-attr="agent">
				      <div class="ui radio checkbox _main_">
						<div class="radiobutton"></div>
				        <input type="radio" name="search" class="__searchType" value="agent">
				        <label>Agents</label>
				      </div>
				    </div>
				    <div class="field" data-attr="locality">
				      <div class="ui radio checkbox ">
						<div class="radiobutton" ></div>
				        <input type="radio" name="search" disabled class="__searchType"/>
				        <label style="color: #FFF !important;font-size: 1.1rem;text-transform: uppercase;font-weight: 400;opacity: .8;">Locations (Comming Soon)</label>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- ko if:searchType()=='project' -->
	          		<h1 class="ui inverted header">Explore Projects</h1>
	          	<!-- /ko -->
	          	<!-- ko if:searchType()=='agent' -->
	          		<h1 class="ui inverted header">Explore Agents</h1>
	          	<!-- /ko -->
	          	<!-- ko if:searchType()=='locality' -->
	          		<h1 class="ui inverted header">Explore Localities</h1>
	          	<!-- /ko -->
	          <div id="search-box" class="large basic inverted animated fade ui">
	            <div class="ui fluid category search">
				  <div class="ui icon input _main_">
						<div class="ui dropdown field" style="width:25%;padding-left:0 !important;">
						    <input type="hidden" name="city" data-bind="value:city" value="banglore"/>
						    <div class="default text _city_"><!-- ko text : showCity()--><!-- /ko --></div>
						    <i class="angle down icon" style="color: rgba(182, 182, 182, 0.82) !important;font-size: 1.2em;"></i>
						    <div class="menu" style="max-height: 20em;overflow-y: scroll;" id="mainSearchCity">
						      	<div class="ui icon search input">
						        	<i class="search icon"></i>
						        	<input type="text" name="search" placeholder="Search city..."/>
						      	</div>
						      	<div class="divider"></div>
						      	<div class="header">
						        	<i class="tags icon"></i>
						       		Select City
						      	</div>
						      	
						 	</div>
						</div>					 
		          		<input class="prompt" id="__searchHome" name="name" type="text" data-bind="attr:{placeholder:placeholderVal()}" >
		      
				    <i class="search icon">
						<button type="submit">Search</button>
					</i>

				  </div>
				  <div class="results"></div>
				</div>

				<div class="inline fields" >
					<div class="ui dropdown field">
						<input type="hidden" name="action" id="_actn_">
					  <div class="text">Action</div>
					  <i class="angle down icon"></i>
					  <div class="menu abx">
					    <div class="item bud_opt">Rent</div>
					    <div class="item bud_opt">Buy</div>
					  </div>
					</div><div class="ui dropdown field">
					<input type="hidden" name="bhk">
					  <div class="text">BHK</div>
					  <i class="angle down icon"></i>
					  <div class="menu drop">
					    <div class="item bud_opt" data-value="1">1bhk</div>
					    <div class="item bud_opt" data-value="2">2bhk</div>
					    <div class="item bud_opt" data-value="3">3bhk</div>
					    <div class="item bud_opt" data-value="4">4bhk</div>
					  </div>
					</div>

					<div class="ui dropdown field __budget__">
			          <div class="default text" id="_budget_">Budget Range</div>
			          <i class="angle down icon"></i>
			          <div class="menu">
			            <div class="header">
			              <input type="text" class="min" name="minPrice" placeholder="Min" data-bind="value:minPrice">
			              <span >-</span>
			              <input type="text" class="min" name="maxPrice" placeholder="Max" data-bind="value:maxPrice"><br>      
			            </div>
			            <div class="divider"></div>
			            <div class="minCostLeft __visible">
			              <div class="item bud_opt">
			                <span class="text"><!-- ko text:minPriceText --><!-- /ko --></span>-
			                <span class="text"><!-- ko text:maxPriceText --><!-- /ko --></span>
			              </div>
			              <div class="item _budgetItem_ bud_opt">
			                <input class="minP" type="hidden" value="0">
			                <input class="maxP" type="hidden" value="500000">
			                Less than 5Lac
			              </div>
			              <div class="item _budgetItem_ bud_opt">
			                <input class="minP" type="hidden" value="500000">
			                <input class="maxP" type="hidden" value="2500000">
			                5Lac - 25Lac
			              </div>
			              <div class="item _budgetItem_ bud_opt">
			                <input class="minP" type="hidden" value="2500000">
			                <input class="maxP" type="hidden" value="5000000">
			                25Lac - 50Lac
			              </div>
			              <div class="item _budgetItem_ bud_opt">
			                <input class="minP" type="hidden" value="5000000">
			                <input class="maxP" type="hidden" value="10000000">
			                50Lac - 1cr
			              </div>
			              <div class="item _budgetItem_ bud_opt">
			                <input class="minP" type="hidden" value="10000000">
			                More than 1cr
			              </div>
			            </div>
			          </div>
			        </div>
					
				</div>
	          </div>
	        </form>
	    </div>
	  </div>
	  <% } %>
	</div>
</div>

<!-- Homepage upper portion ends here -->