<!-- Homepage Content starts here -->
<style>
	.column.tablet.mobile.only .ui.form>.field {
		padding:1rem 0;
	}
	.column.tablet.mobile.only .ui.form>.field>.ui.radio.checkbox>label {
		width:150px !important;
	}
</style>
<div id="homescreen" class="ui inverted masthead segment">
	<div class="ui page grid">

		<!-- For mobile screens -->
		<% if(locals.req.device.type != 'desktop'){ %>
			<div class="column">
		        <div class="ui transition information visible">
			        <form data-bind="submit: searchFun" >
				        <div class="ui form">
				        	<input type="hidden" name="projectId" placeholder="Search..." id="__projectId">
							 <div class="field">
						      <div class="ui radio checkbox">
						        <input type="radio" name="search" class="__searchType"  value="project" checked="">
						        <label><i class="icon building outline"></i>Projects</label>
						      </div>
						    </div>
						    <div class="field">
						      <div class="ui radio checkbox">
						        <input type="radio" name="search" class="__searchType" value="agent">
						        <label><i class="icon user"></i>Agents</label>
						      </div>
						    </div>
						    <div class="field">
						      <div class="ui radio checkbox">
						        <input type="radio" name="search" class="__searchType" >
						        <label><i class="icon location arrow"></i>Locations</label>
						      </div>
						    </div> 
						</div>
			          <h1 class="ui inverted header">Explore Projects</h1>
			          <div id="search-box" class="large basic inverted animated fade ui">
			            <div class="ui fluid category search">
						  <div class="ui icon input">

						    <input class="prompt" id="__searchHome1" name="name" type="text" placeholder="Search projects by name or location...">

						  </div>
						  <div class="results"></div>
						</div>
			          </div>
			          <!-- Button and filter for search -->

				          	<div class="ui inverted menu" style="background:inherit;">
					        	<div class="ui floating labeled icon dropdown button search-filter">
								  <i class="filter icon"></i>
								  <span class="text">Filter</span>								  
								</div>

					          	<button class="ui blue button" type="submit">Search</button>
					        </div>

						<!-- ends here -->
			        </form>
		        </div>
		      </div>
		    <% } %>
		<!-- ends here -->

	<% if(locals.req.device.type == 'desktop'){ %>

      <div class="column">
	    <div class="ui transition information visible">
	        <form data-bind="submit: searchFun" >
	          <div class="ui form">
	          	 <input type="hidden" name="projectId" placeholder="Search..." id="__projectId">
				  <div class="inline fields">
				    <div class="field">
				      <div class="ui radio checkbox">
				        <input type="radio" name="search" class="__searchType"  value="project" checked="">
				        <label><i class="icon building outline"></i>Projects</label>
				      </div>
				    </div>
				    <div class="field">
				      <div class="ui radio checkbox">
				        <input type="radio" name="search" class="__searchType" value="agent">
				        <label><i class="icon user"></i>Agents</label>
				      </div>
				    </div>
				    <div class="field">
				      <div class="ui radio checkbox">
				        <input type="radio" name="search" class="__searchType" >
				        <label><i class="icon location arrow"></i>Locations</label>
				      </div>
				    </div>
				  </div>
				</div>
	          <h1 class="ui inverted header">Explore Projects</h1>
	          <div id="search-box" class="large basic inverted animated fade ui">
	            <div class="ui fluid category search">
				  <div class="ui icon input _main_">

				    <input class="prompt" id="__searchHome" name="name" type="text" placeholder="Search projects by name or location...">

				    <i class="search icon">
						<button type="submit">Search</button>
					</i>

				  </div>
				  <div class="results"></div>
				</div>
				<div class="inline fields">						
					<div class="ui fluid search selection dropdown field">
						<div class="ui selection dropdown">
						    <input type="hidden" name="city">
						    <div class="default text _city_">New Delhi</div>
						    <i class="angle down icon"></i>
						    <div class="menu">
						      <div class="ui icon search input">
						        <i class="search icon"></i>
						        <input type="text" name="search" placeholder="Search city...">
						      </div>
						      <div class="divider"></div>
						      <div class="header">
						        <i class="tags icon"></i>
						       Select City
						      </div>
						      <% include ../partials/city.html.ejs %>
						  </div>
						</div>
					</div>
					<div class="ui dropdown field">
						<input type="hidden" name="action">
					  <div class="text">Type</div>
					  <i class="angle down icon"></i>
					  <div class="menu">
					    <div class="item">Rent</div>
					    <div class="item">Resale</div>
					    <div class="item">Land</div>
					    <div class="item">Project</div>
					  </div>
					</div><div class="ui dropdown field">
					<input type="hidden" name="bhk">
					  <div class="text">BHK</div>
					  <i class="angle down icon"></i>
					  <div class="menu">
					    <div class="item" data-value="1">1bhk</div>
					    <div class="item" data-value="2">2bhk</div>
					    <div class="item" data-value="3">3bhk</div>
					    <div class="item" data-value="4">4bhk</div>
					  </div>
					</div>
					<div class="ui dropdown field">
					<input type="hidden" name="price">
					  <div class="text">Budget</div>
					  <i class="angle down icon"></i>
					  <div class="menu">
					    <div class="item">10lac</div>
					    <div class="item">10lac - 50lac</div>
					    <div class="item">>50lac</div>
					  </div>
					</div>
					
				</div>
	          </div>
	        </form>
	    </div>
	  </div>
	  <% } %>
	</div>
</div>

<!-- Homepage upper portion ends here -->