/************
  aboutus
*************/


.irx-misc .column>h4.ui.header {
	color: #00bcd4;
	background: #fff;
	padding: .8rem;
	font-weight: 500;
}

.two.column.row> h5.ui.header{
	padding: 1rem;
	font-weight: 300;
	background: #fff;
	margin-top: -.8rem;
	line-height: 1.6rem;
	color: #B8B8B8;
	font-size: .9rem;
}

.column>.six.wide.column{
	background: #fff;
	padding: 8rem;
}

.irx-misc.ui.very.relaxed.stackable.page.grid{
	padding-top: 4.4rem;
}

.ui.big.image{
	margin: 0 auto;
	border: 2px solid green;
	margin-top: 1rem;
	margin-bottom: 1rem;
}