/* General classes*/
body {
  font-family: roboto,sans-serif !important;
}

.ui.card{
    margin: 0 auto;
    width: 38% !important;
}

.content{
    text-align: center;
}

.lock{
    background: #38B7EA;
    padding: 1rem;
    border-radius: 2rem;
    padding-top: 2rem;
}

.lock.icon{
    color: #fff;
    margin-top: 1rem;
    font-size: x-large;
    padding: 1rem;
    margin-left: -0.5rem;
}

.ui.header._reset.pass{
    margin-top: 2rem;
    font-weight: 500;
    font-size:0.9rem;
    opacity: 0.7;
    color: #474747;
    letter-spacing: 0.5px;
}

.description.email{
    font-size: .8rem;
    font-weight: 600;
    opacity: .6;
}

._butn{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ui.button.reset{
    background: #67C60A;
    color: #fff;
    width: 9rem;
    padding: 0.5rem;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.ui.button.cancel{
    background: #fff;
    border: 2px solid #F5F0F0;
    padding: 0.4rem;
    width: 6rem;
    color: #38B7EA;
    font-weight: 500;
    font-size: 0.8rem;
}
.ui.card.reset_pass{
    border: 2px solid #E4E4E4;
    box-shadow: 0 0 0 0 #fff,0 0 0 0 #fff;
    
}

.ui.stackable.two.column.row.fields{
    margin-top: 1.5rem;
    opacity: .6;
}

.column.field.current_pass{
    width: 36%;
    font-size: .8rem;
}

.column.field.new_pass{
    width: 36%;
    font-size: .8rem;
}





