/***<h2>http://localhost:3000/verify-user?vfCode=<%= vfCode %>&userId=<%= irxId %></h2>***/
<html style= "border: 0; outline: 0;padding:0; margin:0; vertical-align: baseline; width:100%; border: 1px solid #eee; height:100%; font-family: 'Noto Sans', sans-serif;">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
        <title>Register</title>
    </head>
    <body>
        <div class="my-container">
            <div class="my-content" style="background: #e8ebee; width:600px; margin: auto; padding: 10px;">
            	<div id="header"style="border-bottom: 2px solid #74c9f4;disply:inline-block;">
            		<div class="heading" style = "display: inline-block; width: 200px; height: 30px;font-weight:bold; font-size:30px;color:#74c9f4;">IRX.Com</div>
            		<div style = "display: inline-block; float: right; margin-top: 30px; font-size: 16px;color: rgb(185, 88, 66);font-weight:500;">www.irx.com</div>
                    <h2 style="font-size:9px;font-weight:500;color:#737373;">India's Best property market</h2>
            	</div>
            	<div class="content"style="padding: 10px;background:#fff;height:70%;border-bottom: 2px solid #74c9f4;">
            		<div style="font-size: 15px; color: #3280c3;font-weight:500;">Dear Vineet Kumar</div>
            		<div style="padding-top: 10px; font-size: 12px;">Thanks for signing up for a IRX.com account.I expect better governance and role of voters in decision on expenditure .</div>
                    <p style="font-size:12px;margin-top:13px;">I expect better governance and role of voters in decision on expenditure I expect better governance and role of voters in decision on expenditure</p>
            		<div style="font-size: 12px;">
            			<ul>
            			   <li>Search for properties from over 700000 properties on the site. </li>
            			   <li>Check out from over 13000 new projects</li>
            			   <li>Sell/Rent your property</li>
                           <li>Have a property related question?</li>
            			</ul>
            		</div>
                    <p style="font-size:12px;">I expect better governance and role of voters in decision on expenditure I expect better governance and role of voters in decision on expenditure</p>
            		<div style="font-size: 12px;">Please click on the link below to verify your email and activate your account.</div>
            		<div style="font-size: 12px; padding-top: 10px;"><a href="http://irx.com/i/login-register" target="_blank"style="color: rgb(185, 88, 66);">Click Here To Login</a> to view terms and conditions</div>
                    <p style="font-size:12px;">I expect better governance and role of voters in decision on expenditure I expect better governance and role of voters in decision on expenditure</p>
                </div>
                    <div class="footer"style="font-size: 12px; padding-top: 10px; padding-button: 10px;">
                        <div style = "display: inline-block; font-size: 14px;color:#737373;">Contact Us Toll Free: <b>1800 41 99099</b></div>
                        <div style = "display: inline-block; float: right; font-size: 14px;color:#737373;">@2015 IRX Pvt.Ltd Gurgaon</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
