<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
  <style type="text/css">
  /*.sc { 
  	height: 500px; 
  	width: 500px; 
  	overflow: scroll;
  }*/
  </style>
</head>
<% locals.uiContext.menu=false %>
<body>  
  <% include ../partials/header.html.ejs %>

 <% include ../partials/subhome.html.ejs %>
  <% include ../partials/searchbar.html.ejs %>

  <!-- agents Listing goes here -->

  	<div id="agentContent" class="ui centered page grid">
	  <div class="fourteen wide column">
	  	<div class="ui grid two column rib-head">
	    	<h2 class="ui header column">Showing results for 

	    		<a data-bind="text:filters.displayName"></a>
	    	
	    	<span data-bind="text :start">20</span> out of <span data-bind="text :total">50</span></a></h2>
	    	<div class="header column right menu">
	    		<div class="ui checkbox">
			      <input type="checkbox">
			      <label>Distress</label>
			    </div>
				<div class="ui basic button">submit request</div>
	    	</div>
	    </div>
	    <div class="ui cards sc" data-bind="foreach : agents">

		  <div class="card">
		    <div class="ui image tiny">
		      <img src="/images/elliot.jpg">
		    </div>
		    <div class="content">

		      <a data-bind="attr: { href:irxId}"><div class="header" data-bind="text : name">Elliot Fu</div></a>
		      <a class="group" data-bind="text : companyName" style="color:rgba(0,0,0,0.6);">IRX India</a>

		      <div class="content addr-ess">
    			<i class="map marker icon"></i><span data-bind="text : location.city"> Sector 22B,Gurgaon</span>
    		  </div>
		      <div class="description">
		        Specialities : 
		        <span data-bind="foreach : specialities" style="margin-right:0;">
			        <!-- ko if:$index()<=1 -->
			        	<span class="header" data-bind="text : $data"></span>
			        	 <!-- ko if:$index()==0 -->
			        	 	<span class="header">,</span>
			        	 <!-- /ko -->
			        <!-- /ko -->
			    </span>
		        <span data-bind="if:specialities.length>2">
		        (+
		        	<span class="header" data-bind="text : specialities.length-2"></span>)
		        </span>
		       </div>
		    </div>
		    <div class="inline field"><div class="ui checkbox"><input type="checkbox"><label>&nbsp;</label></div></div>
		    <div class="extra content">
		      <div class="right floated created">
		        <a href=""><i class="facebook square icon"></i></a>
		        <a href=""><i class="share square icon"></i></a>
		      </div>
		      <a class="friends">
		        <i class="building icon" data-bind="text:projectCounter">&nbsp;</i>
		         &nbsp;&nbsp;Projects
		      </a><a class="friends">
		        <i class="location arrow icon"></i>
		        22 Locations
		      </a>
		    </div>
		  </div>
		  <input type="hidden" id="__filterName" value="<%= requestObj.name?requestObj.name:'' %>">
					  <input type="hidden" id="__filterBhk" value="<%= requestObj.bhk?requestObj.bhk:'' %>">
					  <input type="hidden" id="__filterType" value="<%= requestObj.type?requestObj.type:'' %>">
					  <input type="hidden" id="__projectIdFilter" value="<%= requestObj.projectId?requestObj.projectId:'' %>">
					  
		</div>	   
		<div data-bind="scroll: true, scrollOptions: { loadFunc: addSome, offset: 10 }"></div>
	  </div> 
	    
	</div>
	<script type="text/javascript">
	function Agent(options){
		this.page = {
			start : 0,
			pageSize : 3
		}
	}
	Agent.prototype.init = function() {

		var _classInstance = this;
		ko.bindingHandlers.scroll = {

		  updating:true,
		  
		  init: function(element, valueAccessor, allBindingsAccessor) {
		  	 
		      var self = this
		      self.updating =(true);
		      ko.utils.domNodeDisposal.addDisposeCallback(element, function() {
		            $(window).off("scroll.ko.scrollHandler")
		            self.updating= (false); 
		      });
		      $(element).append('<div id="_sc_more" style="height:100px;display:none" hasMore="true"></div>');
		      $(element).on('__sc__more', function(e,flag){
				  	 var ele_more = $('#_sc_more');
				  	 if(typeof(flag) == "undefined"){
				  	 	return ele_more.attr("hasMore")=='true';
				  	 }else{
				  	 	if(flag){
				  	 		ele_more.show();
				  	 	}else{
				  	 		ele_more.hide();
				  	 	}
				  	 	ele_more.attr("hasMore",flag);
				  	 	return flag;
				  	 }
				  })
		  		},

		  update: function(element, valueAccessor, allBindingsAccessor){
		    var props = allBindingsAccessor().scrollOptions
		    var offset = props.offset ? props.offset : "0"
		    var loadFunc = props.loadFunc
		    var load = ko.utils.unwrapObservable(valueAccessor());
		    var self = this;

		    if(load){
		      element.style.display = "";
		      $(window).on("scroll.ko.scrollHandler", function(){
		      	
		        if(($(document).height() - offset <= $(window).height() + $(window).scrollTop())){
		          if(self.updating){
		          	
		          	self.updating =(false);

		            _classInstance.listAgents(false,function(success){
		            	
		            	self.updating=success;
		            	$(element).trigger('__sc__more',success)
		            })
		          }
		        }
		       
		      });
		    }
		    else{
		        element.style.display = "none";
		        $(window).off("scroll.ko.scrollHandler")
		        self.updating = false
		    }
		  }
		 }
		 var filterName = $('#__filterName').val()
		 if(typeof(filterName) == "undefined" || filterName == null ){
		 	filterName = "";
		 }
		 var filterBhk = $('#__filterBhk').val()
		 if(typeof(filterBhk) == "undefined" || filterBhk == null ){
		 	filterBhk = "";
		 }
		  var filterType = $('#__filterType').val()
		 if(typeof(filterType) == "undefined" || filterType == null ){
		 	filterType = "";
		 }
		 var projectIdFilter = $('#__projectIdFilter').val()
		 if(typeof(projectIdFilter) == "undefined" || projectIdFilter == null ){
		 	projectIdFilter = "";
		 }
		 
		_classInstance.viewModel = {
			agents: ko.observableArray(),
			filters:{
				name: ko.observable(filterName),
				type: ko.observable(""),
				bhk: ko.observable(filterBhk),
				displayName:ko.observable("All"),
				projectId:ko.observable(projectIdFilter)
			},
			start: ko.observable(),
			total: ko.observable(),
			addSome : function(){
				//_classInstance.listAgents(true);
			}
		}
		 ko.applyBindings(_classInstance.viewModel,document.getElementById("agentContent"));
		_classInstance.listAgents(true);
	}
	
	Agent.prototype.listAgents = function(replace, setUpdate) {
    	var classInstance = this;
    	if(classInstance.viewModel.filters.projectId() != ""){
    		 
           httpUtils.get("/prefered-agents/"+classInstance.viewModel.filters.projectId(),
            {}
            ,"JSON"
            ,function(result){
         		 classInstance.processResult(result,replace,setUpdate)
          })
    	}else {
    		httpUtils.post("/list-agents",{filters:classInstance.viewModel.filters,page:classInstance.page},{},"JSON",function(data){
	    		classInstance.processResult(data,replace,setUpdate)
	      })
    	}
	    
	 }
	Agent.prototype.processResult = function(data,replace,setUpdate) {
	 	var classInstance=this;
	 	if(data.status==0){
	       	if(typeof(replace) != undefined && replace){
	       		classInstance.viewModel.agents([]);
	       	} 
	       	ko.utils.arrayPushAll(classInstance.viewModel.agents,data.result)
	       	if(data.page != null){
	       		if(classInstance.page.start==0){
	       			classInstance.viewModel.total(data.page.total) ;
		       	}
	       		classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
	       		classInstance.viewModel.start(Number(data.page.start)+Number(data.result.length)) ;
				if(setUpdate){
	       			setUpdate(data.page.hasMore)
	       		}
	       	}
	   }
	}
	Agent.prototype.renderResult = function(data,filters) {
		
		var classInstance = this;  
		classInstance.viewModel.agents([]);
		classInstance.viewModel.filters.name(filters.name);
		classInstance.viewModel.filters.projectId(filters.projectId);
		classInstance.viewModel.filters.displayName(filters.name);
		ko.utils.arrayPushAll(classInstance.viewModel.agents,data.result)	
		$('.doubling.two.column.row').hide();
		classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
        classInstance.viewModel.start(classInstance.page.start) ;
        classInstance.viewModel.pageSize=data.page.pageSize;

	}
	var agent = null;
	$(document).ready(function(){
	  
	    agent = new Agent();
	    agent.init();
	    
	  })
	</script>
  <% include ../partials/footer.html.ejs %>
</body>