<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
 
</head>
<% locals.uiContext.menu=false %>
<style type="text/css">
	#header {
		background-color: #00bcd4 !important;
	}
	#header>._logo_ , #header>._link, #header .right.menu>.item{
		color: #fff !important;
	}

	#homescreen.ui.inverted.masthead.segment {
		background: #1b1c1d url(/img/bg.png) no-repeat center !important;
		background-size: cover !important;
		min-height: 380px;
		margin-top: 4rem;
	}

	#homescreen.ui.inverted.masthead.segment>.ui.page.grid>.column {
		text-align: center !important;
		padding: 5rem 0;
	}
	#homescreen h1.ui.inverted.header {
		padding-top: 1.5rem;
	}

	#homescreen .ui.form .field {
		margin-right: 4rem;
	}
	#homescreen .field label {
		color: #fff !important;
		font-size: 1.2rem;
		text-transform: uppercase;
	}

	#search-box {
		padding: 0 !important;
		background-color: rgba(0,0,0,0.3) !important;
		box-shadow: 0 0 1px #fff !important;
		width: 520px;
		margin: 0 auto;
	}

	#search-box .ui.icon.input {
		display: block;
	}
	#search-box .ui.icon.input>i {
		color: #fafafa !important;
	}
	#search-box .ui.icon.input>input {
		background-color: inherit;
		border:0;
		padding: 1.5em !important;
		font-size: 1.15rem;
		color: #fafafa!important;
		border-bottom: 1px solid rgba(255,255,255,.2) !important;
		border-radius: 0 !important;
	}
	#search-box input::-webkit-input-placeholder { /* WebKit browsers */
		color: #fafafa!important;
	}
	#search-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #fafafa!important;
	}
	#search-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #fafafa!important;
	}
	#search-box input:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #fafafa!important;
	}

	#search-box .inline.fields {
		padding:  1.5em !important;
		text-align: left;
	}

	#search-box .inline.fields>.field:not(:last-child) {
		margin-right: 2.5rem;
	}

	#search-box .inline.fields>.field>a.link {
		color: #fff;
	}

	#search-box .ui.fluid.search.selection.dropdown.field {
		display: inline-block;
		width: 160px;
		background-color: inherit;
		padding: 0;
	}
	#search-box .ui.fluid.search.selection.dropdown.field i {
		float: right;
		color: #fff;
	}
	#search-box .ui.fluid.search.selection.dropdown.field .text, #search-box .ui.fluid.search.selection.dropdown.field input {
		color: #fff !important;
	}

	/** lower-portion **/

	.lower-portion, #locations {
		margin-top: 4% !important;
	}

	.lower-portion h2.ui.inverted.header {
		position: relative;
		color: #607d8b;
		text-transform: uppercase;
		font-weight: normal;
		font-family: 'roboto condensed';
	}
	.lower-portion h2.ui.inverted.header:after {
		position: absolute;
		content: "";
		width: 10rem;
		height: 2px;
		background-color: #607d8b;
		top: 40px;
		left: 42%;
	}

	#locations.lower-portion h2.ui.inverted.header:after {
		width: 5rem;
		left: 46%;
	}

	.lower-portion .ui.centered.page.grid {
		margin: 2% 0;
	}

	.lower-portion .ui.three.column.center.aligned.stackable.divided.grid {
		margin-top: 0;
	}

	.lower-portion .ui.three.column.center.aligned.stackable.divided.grid>.column {
		box-shadow: none !important;
	}

	.lower-portion img {
		height: 110px !important;
		width: 100% !important;
	}

	.ui.card .extra.content>span {
		display: inline-block;
		margin-right: 2rem;
	}
</style>
<body id="home">
  <% include ../partials/header.html.ejs %>

  	<!-- Homepage Content starts here -->

  		<div id="homescreen" class="ui inverted masthead segment">
		    <div class="ui page grid">
		      <div class="column">
		        <div class="ui transition information visible">
		        <form data-bind="submit: searchFun" >
		          <div class="ui form">
		          	 <input type="hidden" name="projectId" placeholder="Search..." id="__projectId">
					  <div class="inline fields">
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="search" class="__searchType"  value="project" checked="">
					        <label><i class="icon building outline"></i>Projects</label>
					      </div>
					    </div>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="search" class="__searchType" value="agent">
					        <label><i class="icon user"></i>Agents</label>
					      </div>
					    </div>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="search" class="__searchType" >
					        <label><i class="icon location arrow"></i>Locations</label>
					      </div>
					    </div>
					  </div>
					</div>
		          <h1 class="ui inverted header">Explore Projects</h1>
		          <div id="search-box" class="large basic inverted animated fade ui">
		            <div class="ui fluid category search">
					  <div class="ui icon input">

					    <input class="prompt" id="__searchHome" name="name" type="text" placeholder="Search projects by name or location...">

					    <i class="search icon">
						    <div class="ui secondary button">
							  <button type="submit">Search</button>
							</div>
						</i>

					  </div>
					  <div class="results"></div>
					</div>
					<div class="inline fields">						
						<div class="ui fluid search selection dropdown field">
						  <input type="hidden" name="city">
						  <i class="angle down icon"></i>
						  <div class="default text">Select City</div>
						  <div class="menu">
						    <div class="item" data-value="ad"><i class="ad flag"></i>New Delhi</div>
						    <div class="item" data-value="ae"><i class="ae flag"></i>Bangalore</div>
						    <div class="item" data-value="af"><i class="af flag"></i>Mumbai</div>
						    <div class="item" data-value="ag"><i class="ag flag"></i>Chennai</div>
						  </div>
						</div>
						<div class="ui dropdown field">
							<input type="hidden" name="action">
						  <div class="text">Type</div>
						  <i class="angle down icon"></i>
						  <div class="menu">
						    <div class="item">Rent</div>
						    <div class="item">Resale</div>
						    <div class="item">Land</div>
						    <div class="item">Project</div>
						  </div>
						</div><div class="ui dropdown field">
						<input type="hidden" name="bhk">
						  <div class="text">BHK</div>
						  <i class="angle down icon"></i>
						  <div class="menu">
						    <div class="item" data-value="1">1bhk</div>
						    <div class="item" data-value="2">2bhk</div>
						    <div class="item" data-value="3">3bhk</div>
						    <div class="item" data-value="4">4bhk</div>
						  </div>
						</div>
						<div class="ui dropdown field">
						<input type="hidden" name="price">
						  <div class="text">Budget</div>
						  <i class="angle down icon"></i>
						  <div class="menu">
						    <div class="item">10lac</div>
						    <div class="item">10lac - 50lac</div>
						    <div class="item">>50lac</div>
						  </div>
						</div>
						
					</div>
		          </div>
		          </form>
		        </div>
		      </div>
		    </div>
		  </div>

  	<!-- Homepage upper portion ends here -->

  		<div id="collections" class="ui very relaxed stackable page grid lower-portion">
  			<div class="row">
  				<div class="column">
		          <h2 class="center aligned ui inverted header">
		            Don't know what to search? browse from our collections.
		          </h2>
		        </div>
  			</div>

  			<div class="ui centered page grid">
  				<div class="fourteen wide column">
  					<div class="ui three column center aligned stackable divided grid">
			          <div class="column">
			            <div class="ui medium images transition information">
						  <img src="/images/rec-image.png">
						</div>
			          </div>
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/rec-image.png">
						</div>
			          </div>
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/rec-image.png">
						</div>
			          </div>
			        </div>
			        <div class="ui three column center aligned stackable divided grid">
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/rec-image.png">
						</div>
			          </div>
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/rec-image.png">
						</div>
			          </div>
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/rec-image.png">
						</div>
			          </div>
			        </div>
  				</div>
  			</div>
  			
  		</div>

  		<!-- collections ends here -->

  		<div id="locations" class="ui very relaxed stackable page grid lower-portion">
  			<div class="row">
  				<div class="column">
		          <h2 class="center aligned ui inverted header">
		            Explore localities.
		          </h2>
		        </div>
  			</div>

  			<div class="ui centered page grid">
  				<div class="fourteen wide column">
  					<div class="ui three column center aligned stackable divided grid">
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header">Nirala Bazar</div>
						    <div class="extra content">
						      <span class="item">
						        <p>Agents</p>
						        15
						      </span>
						      <span class="item">
						       	<p>Projects</p>
						        30
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header">Vedant Nagar</div>
						    <div class="extra content">
						      <span class="item">
						        <p>Agents</p>
						        15
						      </span>
						      <span class="item">
						       	<p>Projects</p>
						        30
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header">Gadia Vihar</div>
						    <div class="extra content">
						      <span class="item">
						        <p>Agents</p>
						        15
						      </span>
						      <span class="item">
						       	<p>Projects</p>
						        30
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			        </div>
			        <div class="ui three column center aligned stackable divided grid">
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header">Nirala Bazar</div>
						    <div class="extra content">
						      <span class="item">
						        <p>Agents</p>
						        15
						      </span>
						      <span class="item">
						       	<p>Projects</p>
						        30
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header">Vedant Nagar</div>
						    <div class="extra content">
						      <span class="item">
						        <p>Agents</p>
						        15
						      </span>
						      <span class="item">
						       	<p>Projects</p>
						        30
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header">Gadia Vihar</div>
						    <div class="extra content">
						      <span class="item">
						        <p>Agents</p>
						        15
						      </span>
						      <span class="item">
						       	<p>Projects</p>
						        30
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			        </div>
  				</div>
  			</div>
  			
  		</div>

  		<!-- locations ends here -->

 <script type="text/javascript">
function Home(){
this.type={
      "irx-eproduct":"project",
      "irx-euser":"user"
    }
}
Home.prototype.init = function(first_argument) {
	 var _classInstance = this;
  	_classInstance.viewModel = {
  		searchType:ko.observable("project"),
  		searchFun : function(formElement){
  			
            if(_classInstance.viewModel.searchType()=='project'){
            	
               $(formElement).attr('action','/project-listing')
                return true;
            
            } else if(_classInstance.viewModel.searchType()=='agent'){
             
               $(formElement).attr('action','/agent-listing')
                return true;
              
            }	
        
  		}
  	}
     $("#__searchHome").autocomplete({
           
            source: function(request, response){
                var _self = this;
                
                if(_classInstance.viewModel.searchType()=='project'){
                	
                  _classInstance.projectAutocomplete(request.term,request,response)
                } else if(_classInstance.viewModel.searchType()=='agent'){
                	
                  _classInstance.agentAutocomplete(request.term,request,response)
                }
              },
              minLength: 2,
              dataType: "json",
              cache: false,
             // appendTo:'#autoDivHome',
              select: function( event, ui ) {
                  $('#__searchHome').val(ui.item.name)
                   //_classInstance.viewModel.name(ui.item.name);
                   if(_classInstance.viewModel.searchType()=='agent'){
                    if(_classInstance.type[ui.item.type]=='project'){
                      
                      $('#__projectId').val(ui.item.id);
                    } else{
                      
                      $('#__projectId').val("");
                    }
                    
                  }
                   return false;
              }
              }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                $(".ui-widget-content .ui-state-focus");
                var type=""
                if(item.type){
                  
                  type="<div class='itLabel'>"+_classInstance.type[item.type]+"</div>"

                }
                 return $( "<li>" ).append( "<a><div class='itLabel'>"+item.name+"</div>"+type+"</a>" ).appendTo(ul);
              };  
  
   
		    $(document).on('change','.__searchType',function(){
		    	var _self = $(this);
		    	_classInstance.viewModel.searchType(_self.val())
		    })
    
    $('.search.icon').click(function(){
    	 _classInstance.submitForm();
    })
   ko.applyBindings(_classInstance.viewModel,document.getElementById('homescreen'))
};
	// Home.prototype.submitForm = function(formElement) {
	// 	var _classInstance = this;
	// 	if(formElement){
 //            if(_classInstance.viewModel.searchType()=='project'){
 //            	console.log("ffff",formElement)
 //               $(formElement).attr('action','/project-listing')
 //                return true;
            
 //            } else if(_classInstance.viewModel.searchType()=='agent'){
             
 //               $(formElement).attr('action','/agent-listing')
 //                return true;
              
 //            }	
 //        }
	// };
 Home.prototype.projectAutocomplete=function(text,request,response){
      var classInstance = this;
      httpUtils.get("/project-autocomplete",{"text":text},"JSON",function(data){
        if(data.status==0){
       
          response($.map(data.result, function(item) {
                        
                        return {id:item._source.id,name:item._source.name,location:item._source.location};
                      }));
        }
    })
    }
    Home.prototype.agentAutocomplete=function(text,request,response){
      var classInstance = this;
      httpUtils.get("/autocomplete",{"text":text},"JSON",function(data){
        if(data.status==0){
       
          response($.map(data.result, function(item) {
                        
                        return {id:item._source.id,name:item._source.name,type:item._type};
                      }));
        }
    })
    }
$(document).ready(function(){
	var home = new Home();
	home.init();
})
 </script>
  <% include ../partials/footer.html.ejs %>
</body>