<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %> 
</head>
<% locals.uiContext.menu=false %>
<style type="text/css">

	#_steps_>.column>.content {
		border: 1px solid #ddd;
		border-radius: 50px;
		width: 60px;
		height: 60px;
		margin: 0 auto;
		position: relative;
	}

	#_steps_>.column>.content:not(.last):after {
		position: absolute;
		content: "";
		width: 15.7em;
		height: 1px;
		background-color: #ddd;
		top: 32px;
		left: 100%;
	}


	#_steps_>.column>.content>h3.ui.header {
		text-align: center;
		margin-top: 1.2rem;
		color: #999;
	}

	i.sitemap.icon {
		color: #eca95a !important;
	}
	i.edit.icon {
		color: #ab9cd2 !important;
	}
	i.users.icon {
		color: #4d99cb !important;
	}

	#how-it-works .ui.three.column.center.aligned.stackable.divided.grid, #_steps_ {
		padding: 1.5rem 0;
	}
	#how-it-works .ui.three.column.center.aligned.stackable.divided.grid>.column .ui.icon.header {
		color: #6E6E6E;
		font-weight: 400;
	}
	#how-it-works .ui.three.column.center.aligned.stackable.divided.grid>.column i {
		margin-bottom: 1rem;
		font-size: 2.5rem;
	}
	#how-it-works .ui.three.column.center.aligned.stackable.divided.grid>.column p {
		color: #989898;
		font-weight: 300;
		font-size: 1rem;
	}
	.ui.card>.content>.header:not(.ui){
		color: #607d8b;
		font-weight: 400;
		letter-spacing: .3px;
	}
	.extra.content{
		padding: .6rem;
		letter-spacing: .4px;
		font-size: .9rem;
	}
	.header >.marker.icon{
		color: #607d8b;
	}
	.ui.four.column.center.aligned.stackable.divided.grid > .column{
        box-shadow: 0 0 0 0 rgba(39,41,43,.15);
	}
	.ui.four.column.center.aligned.stackable.divided.grid > .column >.ui.card{
		border: 1px solid #E8E8E8;
		box-shadow: 0 0 0 0 #d4d4d5,0 0 0 0 #d4d4d5;
	}
	.ui.card>.content a, .ui.cards>.card>.content a{
		color: #808080;
	}

	.ui.dropdown.field.__budget__ .item {
		padding: .5rem 1.5rem !important;
		color:#666 !important;
		cursor: pointer;
		font-weight: 400;
	}
	.ui.dropdown.field.__budget__>.menu>.header>input {
		width:100px;text-align:center;border: 1px solid #ddd;padding:.7em 1.1em .7em 0;
	}
	._city_ {
		text-transform: capitalize;
	}
</style>
<body id="home">
  <% include ../partials/header.html.ejs %>

  	<% include ../partials/subhome.html.ejs %>

  		<div id="collections" class="ui very relaxed stackable page grid lower-portion">
  			<div class="row">
  				<div class="column">
		          <h2 class="center aligned ui inverted header">
		            Don't know what to search? browse from our collections.
		          </h2>
		        </div>
  			</div>

  			<div class="ui centered page grid">
  				<div class="fourteen wide column">
  					<div class="ui four column center aligned stackable divided grid">
			          <div class="column">
			            <div class="ui medium images transition information">
						  <img src="/images/1.jpg">
						</div>
			          </div>
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/7.jpg">
						</div>
			          </div>
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/2.jpeg">
						</div>
			          </div>
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/3.jpeg">
						</div>
			          </div>
			        </div>
			        <div class="ui four column center aligned stackable divided grid">
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/4.png">
						</div>
			          </div>
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/5.jpeg">
						</div>
			          </div>
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/6.gif">
						</div>
			          </div>
			          <div class="column">
			            <div class="ui medium images">
						  <img src="/images/9.png">
						</div>
			          </div>
			        </div>
  				</div>
  			</div>
  		</div>

  		<!-- collections ends here -->

  		<div id="locations" class="ui very relaxed stackable page grid lower-portion">
  			<div class="row">
  				<div class="column">
		          <h2 class="center aligned ui inverted header">
		            Explore Projects.
		          </h2>
		        </div>
  			</div>

  			<div class="ui centered page grid">
  				<div class="fourteen wide column">
  					<div class="ui four column center aligned stackable divided grid">
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header"><i class="marker icon"></i>Chandni Chowk</div>
						    <div class="extra content">
						      <span class="item">
						        <p><a class="_link" href="/agent-listing">Agents</a></p>
						      </span>
						      <span class="item"style="margin-left:2rem;">
						       	<p><a class="_link" href="/project-listing">Projects</a></p>
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header"><i class="marker icon"></i>Vedant Nagar</div>
						    <div class="extra content">
						      <span class="item">
						        <p><a class="_link" href="/agent-listing">Agents</a></p>
						      </span>
						      <span class="item"style="margin-left:2rem;">
						       	<p><a class="_link" href="/project-listing">Projects</a></p>
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header"><i class="marker icon"></i>Vedant Nagar</div>
						    <div class="extra content">
						      <span class="item">
						        <p><a class="_link" href="/agent-listing">Agents</a></p>
						      </span>
						      <span class="item"style="margin-left:2rem;">
						       	<p><a class="_link" href="/project-listing">Projects</a></p>
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header"><i class="marker icon"></i>Gadia Vihar</div>
						    <div class="extra content">
						      <span class="item">
						        <p><a class="_link" href="/agent-listing">Agents</a></p>
						      </span>
						      <span class="item"style="margin-left:2rem;">
						       	<p><a class="_link" href="/project-listing">Projects</a></p>
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			        </div>
			        <div class="ui four column center aligned stackable divided grid">
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header"><i class="marker icon"></i>Nirala Bazar</div>
						    <div class="extra content">
						      <span class="item">
						        <p><a class="_link" href="/agent-listing">Agents</a></p>
						      </span>
						      <span class="item" style="margin-left:2rem;">
						       	<p><a class="_link" href="/project-listing">Projects</a></p>
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header"><i class="marker icon"></i>Vedant Nagar</div>
						    <div class="extra content">
						      <span class="item">
						        <p><a class="_link" href="/agent-listing">Agents</a></p>
						      </span>
						      <span class="item"style="margin-left:2rem;">
						       	<p><a class="_link" href="/project-listing">Projects</a></p>
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header"><i class="marker icon"></i>Vedant Nagar</div>
						    <div class="extra content">
						      <span class="item">
						        <p><a class="_link" href="/agent-listing">Agents</a></p>
						      </span>
						      <span class="item"style="margin-left:2rem;">
						       	<p><a class="_link" href="/project-listing">Projects</a></p>
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			          <div class="column">
			            <div class="ui card">
						  <div class="content">
						    <div class="header"><i class="marker icon"></i>Gadia Vihar</div>
						    <div class="extra content">
						      <span class="item">
						        <p><a class="_link" href="/agent-listing">Agents</a></p>
						      </span>
						      <span class="item"style="margin-left:2rem;">
						       	<p><a class="_link" href="/project-listing">Projects</a></p>
						      </span>
						    </div>
						  </div>
						</div>
			          </div>
			        </div>
  				</div>
  			</div>
  			
  		</div>

  		<!-- locations ends here -->

  		<!-- collections ends here -->

  		<div id="how-it-works" class="ui very relaxed stackable page grid lower-portion">
  			<div class="row">
  				<div class="column">
		          <h2 class="center aligned ui inverted header"style="color:#525151;">
		           HOW IT WORKS ?
		          </h2>
		        </div>
  			</div>
  			<div class="ui centered page grid">
  				<div class="fourteen wide column">
  					
  					<div id="_steps_" class="ui three column center aligned stackable divided grid">
			          <div class="column">
			            <div class="content"><h3 class="ui header">1</h3></div>
				      </div>
			          <div class="column">
			            <div class="content"><h3 class="ui header">2</h3></div>
				      </div>
			          <div class="column">
			            <div class="content last"><h3 class="ui header">3</h3></div>
				      </div>
				    </div>

  					<!-- content here -->

  						<div class="ui three column center aligned stackable divided grid">
				          <div class="column">
				            <div class="ui icon header">
				              <i class="sitemap icon"></i>
				              Compare
				            </div>
				            <p>Take your kitty to a cat-ducation course and learn how to treat her well.</p>
				          </div>
				          <div class="column">
				            <div class="ui icon header">
				              <i class="edit icon"></i>
				              Receive Proposals
				            </div>
				            <p>Dig through our cat library to found out amazing things you can do with.</p>			           
				          </div>
				          <div class="column">
				            <div class="ui icon header">
				              <i class="users icon"></i>
				              Sell with the best
				            </div>
				            <p>Get feedback on your cat from a community of loving pet owners on our.</p>
				          </div>
				        </div>

			        <!-- content ends here -->
  				</div>
  			</div>  			
  		</div>

  		<!-- How it works ends here -->
<div id="autoDiv"></div>
 <script type="text/javascript">
	function Home(){

		
		this.type={
	      "irx-eproduct":"project",
	      "irx-euser":"user"
	    }
	    this.parent = "homescreen"
	}
	Home.prototype.init = function(first_argument) {
		 var _classInstance = this;
	  	_classInstance.viewModel = {
	  		searchType:ko.observable("project"),
	  		city:ko.observable(),
	  		showCity:ko.observable(),
	  		minPrice:ko.observable(),
	  		maxPrice:ko.observable(),
	  		placeholderVal:ko.observable("Search project by name or location.."),
	  		searchFun : function(formElement){
	  			
	            if(_classInstance.viewModel.searchType()=='project'){
	            	
	               $(formElement).attr('action','/project-listing')
	                return true;
	            
	            } else if(_classInstance.viewModel.searchType()=='agent'){
	             
	               $(formElement).attr('action','/agent-listing')
	                return true;
	              
	            }	
	        
	  		}
	  	}
	  	 _classInstance.viewModel.minPriceText = ko.pureComputed(function() {
        var minPrice =  _classInstance.viewModel.minPrice();
        var minPriceText = "";
        if(minPrice){
          return _classInstance.getPriceText(minPrice)
        }else{
          return minPrice;
        }
        
    }, _classInstance.viewModel);

	  $('#'+_classInstance.parent).off('change','input[name="city"]')
    $('#'+_classInstance.parent).on('change','input[name="city"]',function(){
      var city = $(this).val();
      city = city.replace(/&nbsp;/gi,'')
      city = city.trim();
      _classInstance.viewModel.city(city)
      
      localStorage.setItem("city", city);
     
    });
     $('#'+_classInstance.parent).off('change','#_actn_')
    $('#'+_classInstance.parent).on('change','#_actn_',function(){
      var action = $(this).val();
     localStorage.setItem("action", action);
     
    });
   _classInstance.viewModel.maxPriceText = ko.pureComputed(function() {

        var maxPrice =  _classInstance.viewModel.maxPrice();
        var minPriceText = "";
        if(maxPrice){
          var minPrice = _classInstance.viewModel.minPrice;
          if(minPrice && maxPrice<minPrice){
            
            _classInstance.viewModel.minPrice(100)
          } 
          
          return _classInstance.getPriceText(maxPrice)
        }else{
          return maxPrice;
        }

    }, _classInstance.viewModel);
	  	$('#'+_classInstance.parent).on('click','._budgetItem_',function(){
		      var minPrice = $('#_budget_').find(".minP").val();
		      var maxPrice = $('#_budget_').find(".maxP").val();
		      if(minPrice){
		        _classInstance.viewModel.minPrice(minPrice)
		      }
		      if(maxPrice){
		        _classInstance.viewModel.maxPrice(maxPrice)
		      }
		    });
    
	     $('#'+_classInstance.parent).on('click','._sType_',function(){
	     	var _self = $(this)

			    	if(_self.attr('data-attr')=="project"){
			    		
			    		_classInstance.viewModel.placeholderVal("Search project by name or location..")
			    	} else if(_self.attr('data-attr')=="agent"){
			    		
			    		_classInstance.viewModel.placeholderVal("Search agent by name ,location or project name..")
			    	} else if(_self.attr('data-attr')=="locality"){
			    		
			    		_classInstance.viewModel.placeholderVal("Search location..")
			    	}
	     	_classInstance.viewModel.searchType(_self.attr('data-attr'))
	     })
	     $('#'+_classInstance.parent).find("#__searchHome").autocomplete({
	           
	            source: function(request, response){

	                var _self = this;
	                
	                if(_classInstance.viewModel.searchType()=='project'){
	                	//var data={"text":request.term,"city":_classInstance.viewModel.city()}
	                	var data={"text":request.term,"city":_classInstance.viewModel.city()}
	                  _classInstance.projectAutocomplete(data,request,response)
	                
	                } else if(_classInstance.viewModel.searchType()=='agent'){
	                	var data={"text":request.term,"city":_classInstance.viewModel.city()}
	                  _classInstance.agentAutocomplete(data,request,response)
	                
	                }else if(_classInstance.viewModel.searchType()=='locality'){
						var data={"text":request.term,"city":_classInstance.viewModel.city()}

                       data["type"]="location";
                  _classInstance.projectAutocomplete(data,request,response)
                }
	              },
	              minLength: 2,
	              dataType: "json",
	              cache: false,
	              appendTo:'#autoDiv',
	              focus:function( event, ui ){
	              	$(this).val(ui.item.real);
	              	return false;
	              },
	              select: function( event, ui ) {
	              	var textName = _classInstance.removeHtml(ui.item.name)
	                  $('#__searchHome').val(textName)
	                   //_classInstance.viewModel.name(ui.item.name);
	                  
	                   if(_classInstance.viewModel.searchType()=='agent'){
	                    if(_classInstance.type[ui.item.type]=='project'){
	                      
	                      $('#__projectId').val(ui.item.id);
	                      if(ui.item.productType=="location"){
				              	$("#__isLocality").val("true")
				              }
	                      
	                    } else if(_classInstance.type[ui.item.type]=='user'){
	                    
	                    	  location.href="/"+ui.item.irxId;
	                    }else{
	                      
	                      $('#__projectId').val("");
	                    }
	                    
	                  }else if(_classInstance.viewModel.searchType()=='project'){
	                  	if(ui.item.productType == 'project'){
                    
                      		location.href="/project/"+ui.item.id;
                   	 	}
	                  }
	                  
	                   return false;
	              }
	              }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
	                $(".ui-widget-content .ui-state-focus");
	                var type="";
	                var icon ="";
	                if(item.type){
	                  type="<div class='description itLabel'>"+_classInstance.type[item.type]+"</div>"
	                }

	                if(item.type=='irx-euser') {
	                  icon = "<i class='icon user right floated'></i>"
	                }else {
	                  icon ="<i class='icon building outline right floated'></i>"
	                }
	                var data = "<a class='item'>"+icon+"<div class='content'><div class='itLabel header'>"+item.name+"</div>"+type+"</div></div></a>"
	                if(item.id == -1){
	                 
	                    data = "<a class='item'><div class='itLabel header _enter_'>Seaching for <b>"+item.name+"</b></div></a>"
	                }
	                 return $( "<li class='ui divided list'>" ).append(data).appendTo(ul);
	                 
	            };  
	  
	   
			    // $(document).on('change','.__searchType',function(){
			    // 	var _self = $(this);

			    // 	_classInstance.viewModel.searchType(_self.val())
			    // })
	    
	    $('.search.icon').click(function(){
	    	// _classInstance.submitForm();
	    })
	   ko.applyBindings(_classInstance.viewModel,document.getElementById('homescreen'))
	};
	
	// Home.prototype.submitForm = function(formElement) {
	// 	var _classInstance = this;
	// 	if(formElement){
 	//            if(_classInstance.viewModel.searchType()=='project'){
 	//            	console.log("ffff",formElement)
 	//               $(formElement).attr('action','/project-listing')
 	//                return true;
            
 	//            } else if(_classInstance.viewModel.searchType()=='agent'){
             
 	//               $(formElement).attr('action','/agent-listing')
 	//                return true;
              
 	//            }	
 	//        }
	// };
 	
 	Home.prototype.projectAutocomplete=function(reqData,request,response){
      var classInstance = this;
       httpUtils.get("/project-autocomplete",reqData,"JSON",function(data){
       if(data.status==0){
        
          var arr = data.result;
         if(data.result == null){
          arr = new Array();
         }
       
          arr.push({fields:{id:[-1],name:reqData.text}})
          response($.map(arr, function(item) {
            var name ="",nameValue='';
            if(item.highlight && item.highlight.name && item.highlight.name.length > 0){
               name = item.highlight.name[0]
            }else{
              name = item.fields.name
            }
            nameValue=(item.fields.name?item.fields.name[0]:'');
            var location ={}
            if(item.fields['location.city'] &&  item.fields['location.city'].length >0){
              var lCity = item.fields['location.city'];
              location = lCity[0];
            }
           
           var locationName ={}
           
            if(item.fields['location.name'] &&  item.fields['location.name'].length >0){
              var lName = item.fields['location.name'];

              locationName = lName[0];
            }
            var productType =""
            if(item.fields.productType &&  item.fields.productType.length >0){
              productType = item.fields.productType[0];
            }
           
            return {id:item.fields.id[0],name:name,location:location,productType:productType,locationName:locationName,real:nameValue};
          }));
        }
    })
    }
    
    Home.prototype.agentAutocomplete=function(reqData,request,response){
     var classInstance = this;
      httpUtils.get("/autocomplete",reqData,"JSON",function(data){
        if(data.status==0){
           var arr = data.result;
         if(data.result == null){
          arr = new Array();
         }
          arr.push({fields:{id:[-1],name:reqData.text}})
          response($.map(data.result, function(item) {
            var name ="";
            if(item.highlight && item.highlight.name && item.highlight.name.length > 0){
               name = item.highlight.name[0]
            }else{
              name = item.fields.name
            }    
            var productType="";
            if(item.fields && item.fields.productType && item.fields.productType.length >0){
              productType = item.fields.productType[0]

            }
            var id="";
            if(item.fields && item.fields.id && item.fields.id.length >0){
              id = item.fields.id[0]
            } 
            var irxId="";
            if(item.fields && item.fields.irxId && item.fields.irxId.length >0){
              irxId = item.fields.irxId[0]
            } 

            return {id:id,name:name,type:item._type,productType:productType,irxId:irxId};
          }));
        }
    })
    }
	var home;

	$(document).ready(function(){
		home = new Home();
		home.init();
		var city = localStorage.getItem("city");
			
		  if(city){
		   home.viewModel.showCity(city)
		    home.viewModel.city(city)

		  } else{
		    home.viewModel.city("gurgaon")
		    home.viewModel.showCity("Gurgaon")
		  }
		$("#mainSearchCity").append($city);
	});

	Home.prototype.getPriceText = function(amount) {
    var text = "";
    if(amount.length==4 || amount.length==5){
        amount = Number(amount)/1000;
        text = amount+"K";
      } else if(amount.length==6 || amount.length==7){
        amount = Number(amount)/100000;
        text = amount+"Lac";
      } else if(amount.length>8){
        amount = Number(amount)/10000000;
        text = amount+"Cr";
      } else {
        text = amount
      }
      return text;
  };
	Home.prototype.removeHtml = function(name) {
    if(name){
       return name.replace(/<(?:.|\n)*?>/gm, '');
    } else{
      return "";
    }
                     
};
 </script>
  <% include ../partials/footer.html.ejs %>
</body>