
<html>
  <head>
    <head>
    <% include ../partials/head.html.ejs %>
  </head>
    <style type="text/css">
      #loginPage {
        padding-top: 8rem;
        width: 600px;
        margin: 0 auto;
      }

      #loginPage>.ui.form {
        padding: 1rem;
        background-color: #fff;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        overflow: hidden;
      }

      #loginPage>.ui.form>h4 {
        color: #74c9f4;
        padding: .5em 0;
        border-bottom: 2px solid #f4f4f4;
      }

      #loginPage>.ui.form>.ui.button {
        margin-top: -2rem;
      }
    </style>
  <body>
    <% locals.uiContext.menu=false %>
    <% include ../partials/header.html.ejs %>

    <div id="loginPage">
      <div class="ui form">
        <h4 class="ui dividing header">Login to your account</h4>
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input placeholder="First Name" type="text">
          </div>
          <div class="field">
            <label>Email ID</label>
            <input placeholder="example@you.com" type="text">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password">
          </div>
          <div class="field">
            <label>Confirm Password</label>
            <input type="password">
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox">
            <label>I agree to the terms and conditions</label>
          </div>
        </div>
        <div class="ui submit button right floated">Submit</div>
      </div>
    </div>
<script>
function validatRegister(_this){
    $(_this).parents('form').form({
    userId: {
      identifier : 'userId',
      rules: [
        {
          type   : 'email',
          prompt : 'Please enter a valid e-mail'
        }
      ]
    },
    password: {
      identifier : 'password',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter a valid password'
        }
      ]
    },
  });
    $(_this).parents('form').submit();
}
    
    
</script>
 
  <script>
      

  $(document).on('click','#fb-signin',function () {
        callFB();
  });
      initfb();
  function callFB(callback){
     FB.login(function(response){
             statusChangeCallback(response,callback);
     },{scope: 'public_profile'});
  }
  function statusChangeCallback(response,callback) {
    if (response.status === 'connected') {
      openFbLogin(response.authResponse.userID,response.authResponse.accessToken,callback);
    } else if (response.status === 'not_authorized') {
     
    } else {
     
    }
}
function initfb(){
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '453584098038579', // App ID
        channelUrl : '//indianrealtyexchange.com', // Channel File
        cookie     : true,  // enable cookies to allow the server to access // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.1' // use version 2.1
      });
     };

}
 function openFbLogin(uid,accessToken,callback) {
    FB.api('/me', function(response) {
    //  loginToServer("facebook",response.id,response.name,uid,accessToken,callback);
        var classInstance = this;
      httpUtils.post("/login",
    {userId:response.id,password:accessToken},
     { 'authorization': 'FB' },"JSON",function(data){
    if(data.status==0){
            
            ///reload or refresh....
              $('.close.icon').click();
    }else {
      /// error login with fb......
    }
  })
        console.log(response);
    });
}    
 </script>
    <% include ../partials/footer.html.ejs %>
</body>