
<html>
  <head>

    <% include ../partials/head.html.ejs %>
  
    <style type="text/css">
    
    </style>
  </head>
  <body>
    <% locals.uiContext.menu=true %>
    <% include ../partials/header.html.ejs %>
   
  
    <script type="text/javascript" src="/js/common/http.js"></script>

    <% include ../partials/footer.html.ejs %>
  </body>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.log-in').click();
    })
  </script>
</html>