<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/projdet.css">
</head>
<body>  
  <% include ../partials/header.html.ejs %>
  <% include ../partials/sidebar.html.ejs %>
  <% include ../partials/login.html.ejs %>

  <!-- Proj Detailing starts here -->

	<div class="ui divided padded grid">
	<div class="nine wide column">
		<div class="ui inverted segment head four column row">
			<h3 class="left floated column">About golden panorama</h3>			
			<div class="right floated column">
				<i class="mail icon"></i> i'm interested
			</div>
		</div>
		<div class="ui inverted title four column row">
			<div class="left floated column">				
				<h2 class="ui header">Golden Panorama</h2>
				<h4 class="ui header">By golden properties pvt ltd.</h4>
			</div>
			<div class="right floated column">
				<h2><i class="rupee icon"></i> 50Lacs - 10Cr.</h2>
			</div>
		</div>
		<table class="ui table">
		  <thead>
		    <tr>
		      <th>Built-up Area</th>
		      <th>BHK</th>
		      <th>Possession</th>
		      <th>Property Type</th>
		      <th>Locality</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>580-1350 sq.ft.</td>
		      <td>1,2,3,4</td>
		      <td>Sep 2014</td>
		      <td>Apartment</td>
		      <td>Kharagpur</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="seven wide column">

	</div>

  <!-- Proj detailing ends here -->
</body>