<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
  <style type="text/css">
  	.ui.header .icon:only-child {
	  display: inline-block;
	  padding: 0;
	  margin-right: .5rem;
	  vertical-align: baseline;
	  font-size: medium;
	}
	.proj-listing h5.ui.header {
	  padding-left: 1.2rem;
	  opacity: .8;
	  font-weight: 400;
	  color: #747474;
	}
	.ui.items>.item>.content a {
	  color: #345D71 !important;
	  -webkit-transition: color .2s ease;
	  transition: color .2s ease;
	}
	.pDate {
		margin-right: 15px;
	}
	.extra.pDate{
		color: #838080;
        opacity: .8;
	}

	.ui.grid.rib-head.mobile.tablet.only .ui.selection.dropdown>.text {
		margin-right: .5rem !important;
	}
	.ui.grid.rib-head.mobile.tablet.only .eight.wide.column {
		padding:0;
		text-align: center;
	}
	.ui.grid.rib-head.mobile.tablet.only .sort.right.icon {
		float: right;
	}

	.pj-items.extra >.ui.horizontal.label{
		font-weight: 400;
		border-radius: 2px;
		color: #737373;

	.proContent {
		color: #607d8b !important;
		cursor: default !important;

	}
  </style>
  
</head>
<body>
	<% locals.uiContext.menu=false %>
  	<% include ../partials/header.html.ejs %>

  	<% include ../partials/subhome.html.ejs %>
  	<% include ../partials/searchbar.html.ejs %>

  
  <!-- agents Listing goes here -->
<div id="projListing">
  	<div id="projectContent" class="ui centered page grid">
	  <div class="twelve wide column">


	  	<!-- For mobile and tablet -->

	  		

	  	<!-- ends here -->

	  	

	  	<div class="ui menu rib-head computer only">
	        <h2 class="ui header item">Showing results for
	          <span class="ui teal label"><!--ko text: filters.displayName--><!--/ko-->
	          <!--ko text: filters.bhk--><!--/ko-->
	          <!--ko text: filters.type--><!--/ko-->
	          <!--ko text: filters.status--><!--/ko--></span>
	        </h2>
	        <h2 class="ui header column">Showing results for 

	    		<!--ko text: filters.displayName--><!--/ko-->
	    		
	    		<div class=""><!--ko text: filters.bhk--><!--/ko-->
	    			<!--ko if: filters.bhk() != "" -->
						<i data-bind=" event: {  click:function(){removeFilters('bhk')} }" class="remove icon"></i>
					<!--/ko-->
				</div>

	    		
	    		<div><!--ko text: filters.type--><!--/ko-->
	    			<!--ko if: filters.type() != "" -->
						<i data-bind=" event: {  click:function(){removeFilters('type')} }" class="remove icon"></i>
					<!--/ko-->
				</div>
				
				<div><!--ko text: filters.status--><!--/ko-->
	    			<!--ko if: filters.status() != "" -->
						<i data-bind=" event: {  click:function(){removeFilters('status')} }" class="remove icon"></i>
					<!--/ko-->
				</div>
	    		
	    	</h2>
	        <div class="right menu">
		        <div class="item">
		          <div class="ui right labeled icon dropdown button">
		            <input type="hidden" name="type" data-bind="value:filters.type, event: {  change:applyFilters }">
		            <div class="default text">Property Type</div>
		            <i class="angle down icon"></i>
		            <div class="menu">
		            <div class="item" data-value="apartments">Apartment</div>
		            <div class="item" data-value="independent house">Independent House</div>
		            <div class="item" data-value="villas">Villas</div>
		            <div class="item" data-value="plot">Plot</div>
		            <div class="item" data-value="row house">Row House</div>
		            </div>
		          </div>
		        </div>
		        <div class="item">
		          <div class="ui right labeled icon dropdown button">
		            <input type="hidden" name="status" data-bind="value:filters.status, event: {  change:applyFilters }">
		            <div class="default text">Status</div>
		            <i class="angle down icon"></i>
		            <div class="menu">
		              <div class="item" data-value="ongoing">ongoing</div>
		              <div class="item" data-value="completed">completed</div>
		              <div class="item" data-value="upcoming">upcoming</div>            
		            </div>
		          </div>
		        </div>
		        <div class="item">
		          	<div class="ui right labeled icon dropdown button">
					  <input type="hidden" name="order" data-bind="value:filters.order, event: {  change:applyFilters }">
					  <div class="default text">Sort by relevance</div>
					  <i class="sort right icon"></i>
					  <div class="menu">
					    <div class="item" data-value="asc">Newest</div>
					    <div class="item" data-value="desc">Price : High to Low</div>
					    <div class="item" data-value="asc">Price : Low to High</div>            
					  </div>
					</div>
		        </div>
		        <div class="item">
		          <div class="ui checkbox _hasDistress_">
		            <input type="checkbox" name="distress">
		            <label>Show Distress</label>
		          </div>
		        </div>
		      </div>
	  	</div>
	  	


	    <!-- Project Listing goes here -->
	    <div data-bind="visible:projects().length==0" style=" background:#fff;padding: 1.5rem;color: #7b7b7b;
             border-left: 2px solid #009fda;box-shadow:0 0 2px rgba(0,0,0,0.2);">
	    	No Search Results for this search. Showing agents in your city
	    </div>
	    <div class="ui cards sc" data-bind="foreach : agents">

		  <div class="card">
		    <div class="ui image tiny">
		      <img src="/images/elliot.jpg">
		    </div>
		    <div class="content">

		      <a data-bind="attr: { href:irxId}"><div class="header" data-bind="text : name">Elliot Fu</div></a>
		      <a class="group" data-bind="text : companyName" style="color:rgba(0,0,0,0.6);">IRX India</a>

		      <div class="content addr-ess">
    			<i class="map marker icon"></i><span data-bind="text : location.city"> Sector 22B,Gurgaon</span>
    		  </div>
		      <div class="description">
		        Specialities : 
		        <span data-bind="foreach : specialities" style="margin-right:0;">
			        <!-- ko if:$index()<=1 -->
			        	<span class="header" data-bind="text : $data"></span>
			        	 <!-- ko if:$index()==0 -->
			        	 	<span class="header">,</span>
			        	 <!-- /ko -->
			        <!-- /ko -->
			    </span>
		        <span data-bind="if:specialities.length>2">
		        (+
		        	<span class="header" data-bind="text : specialities.length-2"></span>)
		        </span>
		       </div>
		    </div>
		    <div class="inline field"><div class="ui checkbox"><input type="checkbox"><label>&nbsp;</label></div></div>
		    <div class="extra content">
		      <div class="right floated created">
		        <a href=""><i class="facebook square icon"></i></a>
		        <a href=""><i class="share square icon"></i></a>
		      </div>
		      <a class="friends">
		        <i class="building icon" data-bind="text:projectCounter">&nbsp;</i>
		         &nbsp;&nbsp;Projects
		      </a><a class="friends">
		        <i class="location arrow icon"></i>
		        22 Locations
		      </a>
		    </div>
		  </div>					  
		</div>
	    <div data-bind="foreach : projects" style="margin:2rem 0;">
	    	<div class="ui items proj-listing column"><!-- 
  				<a class="ui green ribbon label">Distress</a> -->
				<div class="four column row">
					<div class="left floated column">
						<a data-bind="attr: { href: 'project/'+ id }"><h3 class="ui header" data-bind="text: name">12 Years a Slave</h3></a>
						<h5 class="ui header"><i class="marker icon"></i><!--ko text: location.name--><!--/ko-->,<!--ko text: location.city--><!--/ko-->,<!--ko text: location.state--><!--/ko--></h5>
					</div>					
					<div class="right floated column menu">						
					  	<div class="social-share">
						  	<div class="fb-like " data-bind="attr: { 'data-href': 'http://122.176.220.113:3000/project/'+ id }" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
						  		<!--<div class="ui teal button"><i class="share icon"></i>share</div>-->
					  	</div>				    	
					</div>
				</div>
				<div class="item">
					<div class="ui medium image">
					  <img src="/images/project.jpg">
					  <div class="slider">
					  	<i class="chevron right icon"></i>
					  	<span>3 PHOTOS</span>
					  	<i class="chevron left icon"></i>
					  </div>
					</div>
					<div class="content" style="width:54%;">				  
					  <div class="ui content">				  	
						<div class="extra">
							<h3 class="ui header">
								<i class="rupee icon"></i>
								<!-- ko if:Array.isArray(priceText) -->
									<!-- ko foreach:priceText -->
										<!-- ko if:$index -->-<!-- /ko -->
											<!-- ko if:$data != 0 -->
												<!-- ko text:$data --><!-- /ko -->
											<!-- /ko -->
											<!-- ko if:$data == 0 -->
												Not Available
											<!-- /ko -->
									<!-- /ko -->
								<!-- /ko -->
								<!-- ko if:!Array.isArray(priceText) -->
									<!-- ko text:priceText --><!-- /ko -->
								<!-- /ko -->
							</h3>
						</div>
						<table class="ui small table pj-items extra">
						  <tbody>
						  	<tr>
						      <td>Builder Name</td>
						      <td><a href="javascript:void(0)" class="header proContent"><!--ko text: builderName--><!--/ko--></a></td>
						    </tr>
						    <tr>
						      <td>Property Type</td>
						      <td><a href="javascript:void(0)" class="header proContent"><!--ko text: type--><!--/ko--></a></td>
						    </tr>
						    <tr>
						      <td>Unit</td>
						      <td><span data-bind="foreach : bhk"><a class="proContent" href="javascript:void(0)" data-bind="text:$data"></a><a class="proContent" href="javascript:void(0)">BHK&nbsp;&nbsp;</a></td>
						    </tr>
						    <tr>
						      <td>Possesion</td>
						      <td><a href="javascript:void(0)" class="header proContent"><!--ko text: possession--><!--/ko--></a></td>
						    </tr> 
						    <tr>
						      <td>Area</td>
						      <td><a href="javascript:void(0)" class="header proContent">							<!--ko text: builtUpArea--><!--/ko--></a></td>
						    </tr>
						    <tr>
						      <td>Status</td>
						      <td><a href="javascript:void(0)" class="header proContent">							<!--ko text: status--><!--/ko--></a></td>
						    </tr>
						  </tbody>
						</table>
					  </div>					  
					  <input type="hidden" id="__filterName" value="<%= requestObj.name?requestObj.name:'' %>">
					  <input type="hidden" id="__filterBhk" value="<%= requestObj.bhk?requestObj.bhk:'' %>">
					  <input type="hidden" id="__filterType" value="<%= requestObj.type?requestObj.type:'' %>">
					</div>
					<div class="ui buttons">
						<div class="ui basic button" onClick="function(){alert(1)}"><a data-bind="attr: { 'href': '/project/'+ id }">View details</a></div>
						<div class="ui basic button leads-in" data-bind="click:function(){$parent.enquireNow($data) }">Enquiry now</div>
						<div class="ui basic button"><a data-bind="attr: { 'href': '/agent-listing?projectId='+id}">View agents</a></div>
						<div class="ui basic button req-details" data-bind="click:function(){$parent.requestDetails($data) }">Request details</div>
					</div>					  
				</div>
			</div>
			<!-- <div data-bind="scroll: true, scrollOptions: { loadFunc: addSome, offset: 10 }"></div> -->
		</div>
		
	    <!-- Project ends here -->
	</div>
	</div>
	</div>
	<script type="text/javascript">

		function Project(options){
			this.page = {
				start : 0,
				pageSize : 3
			}
		}
	Project.prototype.init = function() {

		var _classInstance = this;
  		$(document).on('click','._hasDistress_',function(){
  			_classInstance.resetPage();
  			var self = $(this);
  			if(self.hasClass="checked"){
  				_classInstance.viewModel.filters.distress(true);
  			}else{
  				_classInstance.viewModel.filters.distress(false);
  			}
  			
  			_classInstance.listProjects(true)
  		})
  		$(document).on('click','#_leadP_', function(){
  			var projectId = $("#_projectIdP_").val();
  			var name = $(this).parents('#leads').find("input[name='name']").val();
  			var emailId = $(this).parents('#leads').find("input[name='emailId']").val();
  			var mobileNo = $(this).parents('#leads').find("input[name='mobileNo']").val();
  			var type = $(this).parents('#leads').find("input[name='type']:checked").val();
  			var ceateLogin =false;
  			if($(this).parents('#leads').find("._createLoginP_.checked")){
  				createLogin = true;
  			}
  			var data={
  				"projectId": projectId,
  				"name":name,
  				"emailId":emailId,
  				"mobileNo":mobileNo,
  				"type":type,
  				"createLogin":createLogin
  			}
  			
  			httpUtils.post("/capture-lead",
				data,
				 { },"JSON",function(data){
				if(data.status==0){
			       alert(1)
				} else {
					
				}
			})
  			
  		})
		_classInstance.scroller = ko.bindingHandlers.scroll = {

		  updating:true,
		  
		  init: function(element, valueAccessor, allBindingsAccessor) {
		  	
		      var self = this
		      self.updating =(true);
		      ko.utils.domNodeDisposal.addDisposeCallback(element, function() {
		            $(window).off("scroll.ko.scrollHandler")
		            self.updating= (false); 
		      });
		      $(element).append('<div id="_sc_more" style="height:100px;display:none" hasMore="true"></div>');
		      $(element).on('__sc__more', function(e,flag){
		      		
				  	 var ele_more = $('#_sc_more');
				  	 if(typeof(flag) == "undefined"){
				  	 	return ele_more.attr("hasMore")=='true';
				  	 }else{
				  	 	if(flag){
				  	 		ele_more.show();
				  	 	}else{
				  	 		ele_more.hide();
				  	 	}
				  	 	ele_more.attr("hasMore",flag);
				  	 	return flag;
				  	 }
				  })
		  		},

		  update: function(element, valueAccessor, allBindingsAccessor){

		    var props = allBindingsAccessor().scrollOptions
		    var offset = props.offset ? props.offset : "0"
		    var loadFunc = props.loadFunc
		    var load = ko.utils.unwrapObservable(valueAccessor());
		    var self = this;
		    
		    if(load){
		      element.style.display = "";
		      $(window).on("scroll.ko.scrollHandler", function(){
		      	
		        if(($(document).height() - offset <= $(window).height() + $(window).scrollTop())){
		          if(self.updating){
		          	
		          	self.updating =(false);

		            _classInstance.listProjects(false,function(success){
		            	
		            	self.updating=success;
		            	$(element).trigger('__sc__more',success)
		            })
		          }
		        }
		       
		      });
		    }
		    else{
		        element.style.display = "none";
		        $(window).off("scroll.ko.scrollHandler")
		        self.updating = false
		    }
		  }
		 };
		 var filterName = $('#__filterName').val()
		 if(typeof(filterName) == "undefined" || filterName == null ){
		 	filterName = "";
		 }
		 var filterBhk = $('#__filterBhk').val()
		 if(typeof(filterBhk) == "undefined" || filterBhk == null ){
		 	filterBhk = "";
		 }
		  var filterType = $('#__filterType').val()
		 if(typeof(filterType) == "undefined" || filterType == null ){
		 	filterType = "";
		 }
		_classInstance.viewModel = {
			projects: ko.observableArray(),
			agents : ko.observableArray(),
			filters: {
				displayName:ko.observable("All"),
				name:ko.observable(filterName),
				bhk:ko.observable(filterBhk),
				type:ko.observable(filterType),
				order:ko.observable("asc"),
				distress:ko.observable(false),
				status:ko.observable("")
			},
			addSome : function(){
				
				//_classInstance.listProjects(true);
			},
			applyFilters : function(){
				
				_classInstance.resetPage();
				_classInstance.listProjects(true);
				return true;
			},
			removeFilters : function(filterName){
				
				_classInstance.viewModel.filters[filterName]("");
				_classInstance.resetPage();
				_classInstance.listProjects(true);
				return true;
			},
			requestDetails : function(data){
				_classInstance.requestDetails(data.id);
			},
			enquireNow : function(data){

				_classInstance.enquireNow(data.id);
			},
			
			pageSize: ko.observable(_classInstance.page.pageSize),
			start: ko.observable()
		}
				
		 ko.applyBindings(_classInstance.viewModel,document.getElementById('projListing'));
		 
		_classInstance.listProjects(true);
	};

	Project.prototype.resetFilters = function(filters) {
		var _classInstance=this;
		_classInstance.viewModel.filters.name(filters.name)
		_classInstance.viewModel.filters.bhk(filters.bhk)
		_classInstance.scroller.updating=true;
		_classInstance.resetPage();
	}
	
	Project.prototype.resetPage = function(filters) {
		var _classInstance=this;
		_classInstance.page.start=0;
	}
	Project.prototype.getPriceText = function(amount) {
		
    var text = "";
    if(amount.length==4 || amount.length==5){
        amount = Number(amount)/1000;
        text = amount+"K";
      } else if(amount.length==6 || amount.length==7){
        amount = Number(amount)/100000;
        text = amount+"Lac";
      } else if(amount.length>8){
        amount = Number(amount)/10000000;
        text = amount+"Cr";
      } else {
        text = amount
      }
      return text;
  };
	Project.prototype.requestDetails = function(projectId) {
		httpUtils.get('/request-details/'+projectId,{},"JSON",function(data){
       if(data.status==0){
	       	$('#req-details').modal({
	      		closable:false
	    	}).modal('show');
         }
        })
      };
      
      Project.prototype.enquireNow = function(projectId) {
      	 $('#leads').modal({
		      closable:false
		    }).modal('show');
      	 $("#_projectIdP_").val(projectId);
      };


	Project.prototype.renderResult = function(data,filters) {


		var classInstance = this;  
		classInstance.viewModel.projects([]);
		classInstance.viewModel.filters.name(filters.name);
		classInstance.viewModel.filters.displayName(filters.name);
		ko.utils.arrayPushAll(classInstance.viewModel.projects,data.result)	
		$('.doubling.two.column.row').hide();
		classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
	        classInstance.viewModel.start(classInstance.page.start) ;
	        classInstance.viewModel.pageSize=data.page.pageSize;

	}
	
	Project.prototype.listLocationAgent = function() {
		var classInstance = this;
		httpUtils.post("/list-agents",{filters:{"city":""},page:{"start":0,"pageSize":5}},{},"JSON",function(data){
	    		if(data.result != null && data.result.length !=0 ){
	    			classInstance.viewModel.agents([])
	    			 ko.utils.arrayPushAll(classInstance.viewModel.agents,data.result)	
	    		}	
	      })
	}
	Project.prototype.listProjects = function(replace,setUpdate) {
		
		var classInstance = this;
		//alert(classInstance.viewModel.filters.type)
    	
	    httpUtils.post("/list-projects-elastic",{filters:classInstance.viewModel.filters,page:classInstance.page},{},"JSON",function(data){
	       if(data.status==0){
	       	if(typeof(replace) != undefined && replace){
	       		classInstance.viewModel.projects([]);
	       	}
	       	if(data.result == null || data.result.length == 0){
	       		classInstance.listLocationAgent();
	       		return;
	       	} else{
	       		classInstance.viewModel.agents([]);
	       	}
	       	var arr = data.result;
		 		for (var i=0;i<arr.length;i++){
		 			
		 			var price =  arr[i].price;
			        var aPriceArr = new Array();

			        for (var j=0;j<price.length;j++){
			        	var aPrice = price[j];
			        	
			        	 if(aPrice){
				          var aPriceText =  classInstance.getPriceText(""+aPrice)

				          aPriceArr.push(aPriceText);
				        }else{
				         aPriceArr.push(aPrice);
				        }
			        }
			       arr[i].priceText =  aPriceArr;
		 		}
			
	       ko.utils.arrayPushAll(classInstance.viewModel.projects,arr)	
	       classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
	        classInstance.viewModel.start(classInstance.page.start) ;
	        classInstance.viewModel.pageSize=data.page.pageSize;
	        if(setUpdate){
	        	
	       		setUpdate(data.page.hasMore)
	       	}
	        }
		})
	 }

		var project = null;
		$(document).ready(function(){
	  
		    project = new Project();
		    project.init();
	    
	  	})
	</script>
  <% include ../partials/footer.html.ejs %>
</body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
