<!-- Advanced search filter popup -->
<style>
  #adv-search-filter>.content>.ui.grid {
    padding:0 !important;
  }
  #mobile .ui.selection.dropdown {
    min-width:240px !important;
  }
  #mobile .ui.selection.dropdown>.text {
    min-width:180px !important;
    max-width:180px !important;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin-right:0 !important;
  }
  #adv-search-filter .minCostLeft.__visible>*{
    float:none !important;
  }
  .minCostLeft.__visible>* {
    white-space: normal;
    width: 100%;
}
.ui.dropdown .menu>.header {
    margin: .75rem 0;  padding: 0 1rem;
}
.ui.mobile.two.column.page.grid:focus {
outline: 0 !important;
}
.mobileCity{
    padding: 1em .8em !important;left: 15%;
    background: #fff;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid #cfcfcf;   
}
#adv-search-filter .ui-menu-item {
    padding: 8px;
}

#adv-search-filter .ui-autocomplete {
    background: #FFF;  border: 1px solid #ededed;
    width: 240px !important;
}
</style>
<div id="adv-search-filter" class="ui modal pop-up">  
  <div class="content">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Advanced Search Filter</h2>
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>

  <div id="lower-content" class="actions ui grid">
    
    <!--advanced search filter starts here -->
        <input type="hidden" data-bind="value:data.origin" value="post-req">  
          <div id="mobile" class="ui inverted menu" style="background:inherit;">
            <h4 class="ui dividing header"  style="border-bottom:0;">Select your filter :</h4>
          	<div class="item fields" style="position: relative;width: 240px !important;height: 64px;color: #777;box-sizing: border-box;padding: .9em 0;">
            	<input type="text" placeholder="Search Location" id="__searchCity" style="padding:.8em;width: 100%;border: 1px solid #ddd;" />
            </div>

            <div class="item mobile-bhk" style="padding-left: 0;">
              <div class="ui selection dropdown" >
                <input type="hidden" name="bhk" >
                <div class="default text bhktext">BHK</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="1">1bhk</div>
                  <div class="item" data-value="2">2bhk</div>
                  <div class="item" data-value="3">3bhk</div>
                  <div class="item" data-value="4">4bhk</div>
                </div>
              </div>
            </div>


            <div class="item right floated" style="padding-top:1rem;margin-right:5.5rem;">
               <div class="ui approve blue button buttonClass" >Apply</div>
            </div>
        </div>

        

    <!-- Ends here -->  
  </div>
</div>
<script>
  	$(document).ready(function(){       
       	  var selectorBhk =$("#adv-search-filter").find(".mobile-bhk");
        	selectorBhk.find(".bhktext").text(sBar.viewModel.bhk()?sBar.viewModel.bhk():"BHK");
        	selectorBhk.find("input[name='bhk']").val(sBar.viewModel.bhk()?sBar.viewModel.bhk():"");
		
    			//$("#__searchCity").val(sBar.viewModel.city());
          console.log($city)
          $("#__searchCity").autocomplete({
            source:$city,
            appendTo:"#adv-search-filter"
          });

         	$(".mobileCity").dropdown({
           		onChange: function (val) {
             		sBar.viewModel.showCity(val);
      					sBar.viewModel.city(val);
      					localStorage.setItem("city", val);
           		}
       		});
             
         	$(".mobile-bhk>.dropdown").dropdown({
          		onChange: function (val) {
             		sBar.viewModel.bhk(val);
           		}
       		});
     $("#adv-search-filter .approve").click(function(){
     	sBar.viewModel.searchF($('#searchForm'));
     })	;

   });
</script>