<!-- Advanced search filter popup -->
<style>
  #adv-search-filter>.content>.ui.grid {
    padding:0 !important;
  }
  #mobile .ui.selection.dropdown {
    min-width:240px !important;
  }
  #mobile .ui.selection.dropdown>.text {
    min-width:180px !important;
    max-width:180px !important;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin-right:0 !important;
  }
  #adv-search-filter .minCostLeft.__visible>*{
    float:none !important;
  }
  .minCostLeft.__visible>* {
    white-space: normal;
    width: 100%;
}
.ui.dropdown .menu>.header {
    margin: .75rem 0;  padding: 0 1rem;
}
.ui.mobile.two.column.page.grid:focus {
outline: 0 !important;
}
</style>

<form class="ui form" >
<div id="adv-search-filter" class="ui modal pop-up">  
  <div class="content">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Advanced Search Filter</h2>
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>

  <div id="lower-content" class="actions ui grid">
    
    <!--advanced search filter starts here -->
        <input type="hidden" data-bind="value:data.origin" value="post-req">  

        <% if(locals.req.device.type != 'desktop'){ %>
        
          <div id="mobile" class="ui inverted menu" style="background:inherit;">

        <% } %>

        <% if(locals.req.device.type == 'desktop'){ %>
        
          <div id="desktop" class="ui inverted menu"  style="background:inherit;">

        <% } %>

          <h4 class="ui dividing header"  style="border-bottom:0;">Select your filter :</h4>

            <div class="item fields" style="position:relative; width:240px !important; height:35px;">
              <div class="ui floating label search dropdown icon mobileCity" style="
    padding: 1em .8em !important;left:15%;
">
                <input type="hidden" name="city">
                <span class="text">Select City</span>
                <div class="menu _ld_DCTY_DTA" >
                  
                </div>
              </div>
            </div>
            

            <div class="item">
              <div class="ui selection dropdown" >
                <input type="hidden" name="bhk" data-bind="value:data.bhk">
                <div class="default text">BHK</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="1">1bhk</div>
                  <div class="item" data-value="2">2bhk</div>
                  <div class="item" data-value="3">3bhk</div>
                  <div class="item" data-value="4">4bhk</div>
                </div>
              </div>
            </div>

            <div class="item right floated" style="padding-top:1rem;margin-right:5.5rem;">
               <div class="ui blue button buttonClass" data-bind="click: captureLeads">Submit</div>
            </div>
        </div>

        

    <!-- Ends here -->  
  </div>
</div>
    </div>
</form>