<div id="_serverError_" class="ui small test modal transition">
 
  <div class="header">
  Server Error
  </div>
  <div class="content">
    <p class="errMsg"></p>
  </div>
  <div class="actions">
    <div class="ui positive right labeled button">
      OK
    </div>
  </div>
</div>