<!-- Leads-Capture popup -->
<div id="leads" class="ui modal pop-up sell-post">  
<form id="_leadForm_" class="ui form" action="javascript: common.captureLeadsProject('_leadForm_')">
  <div class="content">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Leads Capturing</h2>
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>
  <div id="lower-content" class="actions ui grid">
    
    <!-- Leads capture starts here -->

        <div class="ui inverted menu contact">
        <span class="_showAgent_" style="display:none;">
           
               <div class="ui image tiny _pImage_ _pImageLead_" style="padding:0 .5em 0 0 !important;height: 65px;background-size: 100%;background-repeat: no-repeat;margin-right:5px;background-position:center" >
             </div>
      
        
              <h4 class="_csn" style="  font-size: 1.5rem;font-weight: normal;color: rgb(76, 76, 76);">
              <span class="agentName"></span> <span class="companyName"></span>
              </h4>
        </span>
          <h4 class="ui dividing header">Contact Information :</h4>
          
          <div class="ui form">
              <h5 for="user">you are a:</h5>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="type" value="user" checked="checked">
                  <label>Individual</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="type" value="agent">
                  <label>Dealer</label>
                </div>
              </div>
          </div>      
          <% if(locals.session.user) {%>
          <div class="item field">
          
            <input name="name" placeholder="Name" value="<%= locals.session.user.name %>" type="text">
          </div>
          
          <div class="item field">
          
            <input name="emailId" placeholder="Email.." value="<%= locals.session.user.userId %>" type="text">
          </div>            
          
          <div class="item field">
          
            <input name="mobileNo" placeholder="Mobile Number.." value="" type="text">
          </div>
          <div class="item field" style="display:none" id="_msg">OK</div>
          <% }%>
          
          <% if(!locals.session.user){%>
             <div class="item field">
          
            <input name="name" value="" placeholder="Name" type="text">
          </div>
          
          <div class="item field">
          
            <input name="emailId" value="" placeholder="Email.." type="text">
          </div>            
          
          <div class="item field">
          
            <input name="mobileNo" value="" placeholder="Mobile Number.." type="text">
          </div>
           <% }%>
        <div class="item field" style="display:none" id="_msg">OK</div>
        </div>
        
         <input name="projectId" id="_projectIdP_" type="hidden" value="" placeholder="Mobile">
          <input name="agentId" id="_agentIdP_" type="hidden" value="" placeholder="Mobile">
         
        <div class="three column row">
          <div class="right floated column">
          <input type="submit" style="height:0;width:0;display:none;outline:0" id="_clickable_">
            <div class="ui submitAction"  onClick="common.validateLead(this)">Submit</div>
          </div>
          <div class="left floated column">
            <div class="ui checkbox _createLoginP_">
              <input type="checkbox">
              <label>Also create a login</label>
            </div>
          </div>
        </div>

    <!-- Ends here -->  
  </div>
  </form>
</div>

