<!-- Leads-Capture popup -->
<script type="text/javascript" src="/js/common/http.js"></script>

<div id="leads" class="ui modal pop-up sell-post">  
<form id="_leadForm_" class="ui form" action="javascript: common.captureLeadsProject('_leadForm_')">
  <div class="content">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Leads Capturing</h2>
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>
  <div id="lower-content" class="actions ui grid">
    
    <!-- Leads capture starts here -->

        <div class="ui inverted menu contact">
          <h4 class="ui dividing header">Contact Information :</h4>
          
          <div class="ui form">
              <h5 for="user">you are a:</h5>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="type" value="user" checked="checked">
                  <label>Individual</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="type" value="agent">
                  <label>Dealer</label>
                </div>
              </div>
          </div>      
          <% if(locals.session.user) {%>
          <div class="item field">
          
            <input name="name" value="<%= locals.session.user.name %>" type="text">
          </div>
          
          <div class="item field">
          
            <input name="emailId" value="<%= locals.session.user.userId %>" type="text">
          </div>            
          
          <div class="item field">
          
            <input name="mobileNo" value="" type="text">
          </div>
          <% }%>
          
          <% if(!locals.session.user){%>
             <div class="item field">
          
            <input name="name" value="" type="text">
          </div>
          
          <div class="item field">
          
            <input name="emailId" value="" type="text">
          </div>            
          
          <div class="item field">
          
            <input name="mobileNo" value="" type="text">
          </div>
           <% }%>
        
        </div>
        
         <input name="projectId" id="_projectIdP_" type="hidden" value="" placeholder="Mobile">
        
        <div class="three column row">
          <div class="right floated column">
          <input type="submit" style="height:0;width:0;display:none;outline:0" id="_clickable_">
            <div class="ui submitAction"  onClick="common.validateLead(this)">Submit</div>
          </div>
          <div class="left floated column">
            <div class="ui checkbox _createLoginP_">
              <input type="checkbox">
              <label>Also create a login</label>
            </div>
          </div>
        </div>

    <!-- Ends here -->  
  </div>
  </form>
</div>

