<!-- Login popup -->
<script type="text/javascript" src="/js/common/http.js"></script>
<!-- For mobile screens -->
<div id="login" class="ui modal pop-up grid">
  <div id="login-mobile" class="row mobile tablet only">  
  <div class="content">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Login / Signup</h2>
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>
  <div id="lower-content" class="actions" style="text-align:left;">
    <div class="two wide column grid tab">
      <div class="ui small active" data-bind="click:function(){openTab('login');return false;},css: { active: tabID() =='login' }"><i class="unlock big icon"></i><br/><br/>Login</div>
      <div class="ui small" data-bind="click:function(){openTab('register');return false;},css: { active: tabID() =='register' }"><i class="sign in big icon"></i><br/><br/>Register</div>
    </div>
    <div id="login-box" class="content" data-bind="visible: tabID()=='login'">
      <div class="ui form" style="padding:0;">
        <h4 class="ui dividing header">Login to your account</h4>
        <div class="two fields">
          <div class="required field">
            <div class="ui left icon input">
              <input type="text" data-bind="value: userId" placeholder="Username">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="required field">
            <div class="ui left icon input">
              <input type="password" data-bind="value: password" placeholder="Password">
              <i class="lock icon"></i>
            </div>
          </div>
        </div>
      </div>
      <label>Forgot password?</label>
      <div class="action-button"><div class="ui button" data-bind="click: login">login</div></div>      
      <div class="ui horizontal divider">Or</div>
    </div>
    <div id="register-box" class="content" data-bind="visible: tabID()=='register'">
      <div class="ui form">
        <h4 class="ui dividing header">New user register here</h4>
        <div class="grouped fields">
          <label for="user">You are a</label>
          <div class="field">
            <div class="ui radio checkbox checked">
              <input class="_type_" type="radio" data-bind="checked :type" value="user" >
              <label>Individual</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox checked">
              <input class="_type_" type="radio" data-bind="checked :type" value="agent" >
              <label>Dealer</label>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="required field">
            <div class="ui input">
              <input type="text" data-bind="value:name" placeholder="Name">
            </div>
          </div>
          <div class="required field">
            <div class="ui input">
              <input type="text" data-bind="value:emailId" placeholder="Email">
            </div>
          </div>
          <div class="required field">
            <div class="ui input">
              <input type="password" data-bind="value:password" placeholder="Password">
            </div>
          </div>
          <div class="required field">
            <div class="ui input">
              <input type="password" placeholder="Confirm password">
            </div>
          </div>
        </div>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="hot-deals">
        <label>I agree to the <a href="#">Terms of Service</a>.</label>
      </div>
      <div class="action-button"><div class="ui button" data-bind="click: register">register</div></div>      
      <div class="ui horizontal divider">Or</div>
    </div>
    <div class="content fb-login">
      <i class="facebook huge icon square"></i><br/><br/>
      <a class="item">Login with facebook</a>
    </div>
  </div>
</div>

<!-- ends here -->

<div id="login-desktop" class="row computer only">  
  <div class="content">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Login / Signup</h2>
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>
  <div id="lower-content" class="actions ui grid">
    <div class="three wide column tab">
      <div class="ui small active" data-bind="click:function(){openTab('login');return false;},css: { active: tabID() =='login' }"><i class="unlock big icon"></i><br/><br/>Login</div>
      <div class="ui small" data-bind="click:function(){openTab('register');return false;},css: { active: tabID() =='register' }"><i class="sign in big icon"></i><br/><br/>Register</div>
    </div>
    <div id="login-box" class="eight wide column" data-bind="visible: tabID()=='login'">
      <div class="ui form">
        <h4 class="ui dividing header">Login to your account</h4>
        <div class="two fields">
          <div class="required field">
            <div class="ui left icon input">
              <input type="text" data-bind="value: userId" placeholder="Username">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="required field">
            <div class="ui left icon input">
              <input type="password" data-bind="value: password" placeholder="Password">
              <i class="lock icon"></i>
            </div>
          </div>
        </div>
      </div>
      <label>Forgot password?</label>
      <div class="action-button"><div class="ui button" data-bind="click: login">login</div></div>      
      <div class="ui vertical divider">Or</div>
    </div>
    <div id="register-box" class="eight wide column" data-bind="visible: tabID()=='register'">
      <div class="ui form">
        <h4 class="ui dividing header">New user register here</h4>
        <div class="grouped fields">
          <label for="user">You are a</label>
          <div class="field">
            <div class="ui radio checkbox checked">
              <input class="_type_" type="radio" data-bind="checked :type" value="user" >
              <label>Individual</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox checked">
              <input class="_type_" type="radio" data-bind="checked :type" value="agent" >
              <label>Dealer</label>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="required field">
            <div class="ui input">
              <input type="text" data-bind="value:name" placeholder="Name">
            </div>
          </div>
          <div class="required field">
            <div class="ui input">
              <input type="text" data-bind="value:emailId" placeholder="Email">
            </div>
          </div>
          <div class="required field">
            <div class="ui input">
              <input type="password" data-bind="value:password" placeholder="Password">
            </div>
          </div>
          <div class="required field">
            <div class="ui input">
              <input type="password" placeholder="Confirm password">
            </div>
          </div>
        </div>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="hot-deals">
        <label>I agree to the <a href="#">Terms of Service</a>.</label>
      </div>
      <div class="action-button"><div class="ui button" data-bind="click: register">register</div></div>      
      <div class="ui vertical divider">Or</div>
    </div>
    <div class="four wide column fb-login">
      <i class="facebook huge icon square"></i><br/><br/>
      <a class="item">Login with facebook</a>
    </div>
  </div>
</div></div>

