<div id="confirmation-mail-sent" class="ui small test modal transition">
  <div class="header">
    Mail Sent
  </div>
  <div class="content">
    <p>Please check your verifcation mail at your registered emailId.</p>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Ok
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>