<!-- Sell-ur-property popup -->
<script type="text/javascript" src="/js/common/http.js"></script>
<form class="ui form" >
<div id="post" class="ui modal pop-up sell-post">  
  <div class="content">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Post your requirement</h2>
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>
  <div id="lower-content" class="actions ui grid">
    
    <!-- sell your property starts here -->
        <input type="hidden" data-bind="value:data.origin" value="post-req">
        <div class="ui inverted menu">
          <h4 class="ui dividing header">Property Information :</h4>

            <div class="item">
              <div class="ui selection dropdown">
                <input type="hidden" name="type" data-bind="value:data.propertyType">
                <div class="default text">Type</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="Rent">Apartemnt</div>
                  <div class="item" data-value="sale">Villa</div>
                  <div class="item" data-value="land">Land</div>
                  <div class="item" data-value="proj">Flat</div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui selection dropdown">
                <input type="hidden" name="city" data-bind="value:data.city">
                <div class="default text">City</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="New Delhi">New Delhi</div>
                  <div class="item" data-value="Bangalore">Bangalore</div>
                  <div class="item" data-value="Mumbai">Mumbai</div>
                  <div class="item" data-value="Chennai">Chennai</div>
                </div>
              </div>
            </div>
            
            <div class="item">
              <div class="ui selection dropdown">
                <input type="hidden" name="buy" data-bind="value:data.action">
                <div class="default text">Action</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="rent">Rent</div>
                  <div class="item" data-value="buy">Buy</div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui selection dropdown" >
                <input type="hidden" name="bhk" data-bind="value:data.bhk">
                <div class="default text">BHK</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="1">1bhk</div>
                  <div class="item" data-value="2">2bhk</div>
                  <div class="item" data-value="3">3bhk</div>
                  <div class="item" data-value="4">4bhk</div>
                </div>
              </div>
            </div>
            
            <div class="item field">
              <input type="text" id="__postReqSearch" placeholder=" Search project.." data-bind="value:data.proName" >
              <div id="autoDivPost">
            </div>
            </div>
            
            <div class="item field">
              <input type="text" placeholder="Location" data-bind="value:data.locality">
            </div>
            <!--<div class="field item">
              <textarea placeholder="Write few words about your property..."></textarea>
            </div>-->
        </div>

        <div class="ui inverted menu contact">
          <h4 class="ui dividing header">Contact Information :</h4>
          <div class="ui form">
              <h5 for="user">you are a:</h5>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="user" value="user" data-bind="checked:data.type" checked="checked">
                  <label>Individual</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="user" value="dealer" data-bind="checked:data.type" >
                  <label>Dealer</label>
                </div>
              </div>
          </div>      
          <div class="item field">
            <input type="text" name="name" placeholder="Name" data-bind="value:data.name,css:{'required-field':'must'}">
          </div>
          <div class="item field">
            <input type="text" placeholder="Email" data-bind="value:data.emailId">
          </div>            
          <div class="item field">
            <input type="text" placeholder="Mobile" data-bind="value:data.mobileNo">
          </div>
        </div>

        <div class="three column row">
          <div class="right floated column">
            <div class="ui submit" data-bind="click: captureLeads">Submit</div>
          </div>
          <div class="left floated column">
            <div class="ui checkbox">
              <input type="checkbox">
              <label>Also create a login</label>
            </div>
          </div>
        </div>

    <!-- Ends here -->  
  </div>
</div>
</form>