<!-- Sell-ur-property popup -->
<div id="post" class="ui modal pop-up sell-post">  
<form class="ui form" action="javascript: common.captureLeads('post')">
  <div class="content">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Post your requirement</h2>
      
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>
  <div id="lower-content" class="actions ui grid">
    
    <!-- sell your property starts here -->
        <input type="hidden" data-bind="value:data.origin" value="post-req">
        <div class="ui inverted menu">
            <div class="item" style="width:100%;">
              <h4 class="ui dividing header _csn" style="color:#1E5D76">Please select property location</h4>
              <div class="ui selection dropdown city _csn" style="margin-left:15px;">
                <input type="hidden" name="city" data-bind="textInput:data.city">
                <div class="default text" data-bind="text:data.city()" style="min-width:11rem;margin-right:0 !important;text-transform:capitalize">Select City</div>
                <i class="angle down icon"></i>
                <div class="menu _ld_DCTY_DTA" style="overflow-x: hidden;overflow-y: scroll;max-height: 500px;">
                  <div class="ui icon search input">
                   
                    <input type="text" name="city" placeholder="Search city..."style="width:14rem;">
                  </div>
                  <div class="divider"></div>
                  <div class="header">
                    <i class="tags icon"></i>
                   Select City
                  </div>
                 
                </div>
              </div>
            </div>
         
            <div >
            <h4 class="ui dividing header">Property Information :</h4>
            
            <% if(locals.req.device.type == 'desktop'){ %>
            <div class="item field" style="width:25em;padding-bottom:.7rem;">
            <% } %>

            <% if(locals.req.device.type != 'desktop'){ %>
              <div class="item field" style="padding-bottom:.7rem;">
            <% } %>

              <div class="ui icon input">
                <input type="text" name="projectId" id="__postReqSearch" placeholder=" Search project.." data-bind="value:data.proName"style="padding:.7rem;">
                <i class="search icon"></i>
              </div>
              <div id="autoDivPost">
            </div>
            </div>
            
            <% if(locals.req.device.type == 'desktop'){ %>
            <div class="item field" style="width:25em;padding-bottom:.7rem;padding-top:.7rem;">
            <% } %>

            <% if(locals.req.device.type != 'desktop'){ %>
              <div class="item field" style="padding-bottom:.7rem;padding-top:.7rem;">
            <% } %>

              <div class="ui icon input">
                <input type="text" placeholder="Location" data-bind="value:data.locality"style="padding:.7rem;" readonly>
                <i class="marker icon"></i>
              </div>
            </div>

            <div class="item _mxn" style="margin:0;padding-top:0;">
              <div class="ui selection dropdown">
                <input type="hidden" name="propertyType" data-bind="value:data.propertyType">
                <div class="default text"style="min-width:11rem;margin-right:0 !important;">Type</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <!-- ko foreach : data.typeArr() -->
                    <div class="item" style="text-transform:capitalize" data-bind="attr:{'data-value':$data}"><!-- ko text:$data--><!-- /ko --></div>
                  <!-- /ko -->
                </div>
              </div>
            </div>
            
            <div class="item field _mxn" style="margin:0;padding-top:0;">
              <div class="ui selection dropdown">
                <input type="hidden" name="action" data-bind="value:data.action">
                <div class="default text" style="min-width:11rem;margin-right:0 !important;">Action</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="rent">Rent</div>
                  <div class="item" data-value="buy">Buy</div>
                </div>
              </div>
            </div>

            <div class="item _mxn" style="margin:0;padding-top:0;">
              <div class="ui selection dropdown" >
                <input type="hidden" name="bhk" data-bind="value:data.bhk">
                <div class="default text" style="min-width:11rem;margin-right:0 !important;">BHK</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <!-- ko foreach : data.bhkArr() -->
                    <div class="item" data-bind="attr:{'data-value':$data}"><!-- ko text:$data--><!-- /ko --> BHK</div>
                  <!-- /ko -->
                </div>
              </div>
            </div>
            </div>
            
            <!--<div class="field item">
              <textarea placeholder="Write few words about your property..."></textarea>
            </div>-->
        </div>
        <div >
        <div class="ui inverted menu contact" style="padding:0">
          <h4 class="ui dividing header">Contact Information :</h4>
          <% if(!locals.session.user) {%>
            <div class="ui form">
                <!--<h5 for="user">you are a:</h5>-->
                <div class="_csn field" style="margin-left:15px;">
                  <div>
                    <input type="radio" name="user" value="user" data-bind="checked:data.type" checked="checked">
                    <label for="user">Individual</label>
                  </div>
              </div>
              <div class="_csn field" style="margin-left:15px;">
                  <div>
                    <input type="radio" name="user" value="agent" data-bind="checked:data.type" >
                    <label for="agent">Dealer</label>
                  </div>
              </div>
            </div>
          <% } %>
          <% if(locals.session.user) {%>
           <div class="ui form">
                <h5 for="user">you are a:</h5>
                <div class="_csn field" style="margin-left:15px;">
                  <div>
                    <input type="radio" name="type" value="<%= locals.session.user.type %>" checked>
                    <label for="user"><%= locals.session.user.type=="agent"?'dealer':'agent' %></label>
                  </div>
              </div>
            </div>
          <% } %>
        </div>  
        <div class="ui inverted menu contact">      
          <div class="item field">
            <input type="text" name="name" placeholder="Name" data-bind="value:data.name,css:{'required-field':'must'}">
          </div>
          <div class="item field" <% if(locals.req.device.type == 'desktop'){ %>  style="margin-left:15px;" <% } %>>
            <input type="text" name="emailId" placeholder="Email" data-bind="value:data.emailId">
          </div>            
          <div class="item field" style="margin:0">
            <input type="text" placeholder="Mobile" name="mobileNo" data-bind="value:data.mobileNo">
          </div>
          <div class="item field" style="display:none" id="_msg">OK</div>
        </div>

        <div class="three column row">
          <div class="right floated column">
            <div class="ui submitAction"  onClick="common.validateForm(this)">Submit</div>
          </div>
          <% if(!locals.session.user){%>
            <div class="left floated column">
              <div class="ui checkbox">
                <input type="checkbox">
                <label>Also create a login</label>
              </div>
            </div>
          <% }%>
        </div>
        </div>
        
    <!-- Ends here -->  
  </div>
  </form>
</div>

