<!-- Sell-ur-property popup -->
<script type="text/javascript" src="/js/common/http.js"></script>


<div id="_postA_" class="ui modal pop-up sell-post">  
<form class="ui form" action="javascript: common.captureLeads('_postA_')">
  <div class="content">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Post your requirement</h2>
      
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>
  <div id="lower-content" class="actions ui grid">
    
    <!-- sell your property starts here -->
        <input type="hidden" data-bind="value:data.origin" value="post-req">

        <div class="ui inverted menu">

          <div class="">

            <span data-bind="foreach:data.agentId">
              <h4 class="_csn" style="  font-size: 1.5rem;font-weight: normal;color: rgb(76, 76, 76);"><!-- ko text:name --><!-- /ko -->&nbsp;&nbsp;<!-- ko text:companyName --><!-- /ko -->
              </h4>
            </span>
          </div>
           <h4 class="ui dividing header" style="color:#1E5D76">Step 1 : Please select property location</h4>
          <div class="item">
              <div class="ui selection dropdown">
                <input type="hidden" name="city" data-bind="textInput:data.city">
                <div class="default text" style="min-width:14rem;margin-right:0 !important;">Select City</div>
                <i class="angle down icon"></i>
                <div class="menu" style="overflow-x: hidden;overflow-y: scroll;max-height: 500px;">
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" name="city" placeholder="Search city...">
                  </div>
                  <div class="divider"></div>
                  <div class="header">
                    <i class="tags icon"></i>
                   Select City
                  </div>
                  <% include ../partials/city.html.ejs %>
                </div>
              </div>
            </div>
          
          <div data-bind="visible:data.city() != ''">
          <h4 class="ui dividing header">Property Information :</h4>
            
            <% if(locals.req.device.type == 'desktop'){ %>
            <div class="item field" style="width:368px;padding-bottom:.7rem;">
            <% } %>

            <% if(locals.req.device.type != 'desktop'){ %>
              <div class="item field" style="width:auto;padding-bottom:.7rem;">
            <% } %>

              <div class="ui icon input">
                <input type="text" name="projectId" id="__postReqSearch" placeholder=" Search project.." data-bind="value:data.proName" style="padding:.7rem;" >
                <i class="search icon"></i>
              </div>
              <div id="autoDivPostA" class="autoContainer">
            </div>
            </div>

            <% if(locals.req.device.type == 'desktop'){ %>
            <div class="item field" style="width:368px;padding-bottom:.7rem;padding-top:.7rem;">
            <% } %>

            <% if(locals.req.device.type != 'desktop'){ %>
              <div class="item field" style="width:auto;padding-bottom:.7rem;padding-top:.7rem;">
            <% } %>

              <div class="ui icon input">
                <input type="text" placeholder="Location" data-bind="value:data.locality"style="padding:.7rem;">
                <i class="marker icon"></i>
              </div>
            </div>
            
            <div class="item field">
              <div class="ui selection dropdown">
                <input type="hidden" name="propertyType" data-bind="value:data.propertyType">
                <div class="default text" style="min-width:14rem;margin-right:0 !important;">Property Type</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="Rent">Apartment</div>
                  <div class="item" data-value="sale">Villa</div>
                  <div class="item" data-value="land">Land</div>
                  <div class="item" data-value="proj">Flat</div>
                </div>
              </div>
            </div>

            <div class="item field">
              <div class="ui selection dropdown">
                <input type="hidden" name="action" data-bind="value:data.action">
                <div class="default text" style="min-width:14rem;margin-right:0 !important;">Action</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="rent">Rent</div>
                  <div class="item" data-value="buy">Buy</div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui selection dropdown" >
                <input type="hidden" name="bhk" data-bind="value:data.bhk">
                <div class="default text" style="min-width:14rem;margin-right:0 !important;">BHK</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="1">1bhk</div>
                  <div class="item" data-value="2">2bhk</div>
                  <div class="item" data-value="3">3bhk</div>
                  <div class="item" data-value="4">4bhk</div>
                </div>
              </div>
            </div>
            </div>
          
            <!--<div class="field item">
              <textarea placeholder="Write few words about your property..."></textarea>
            </div>-->
        </div>
       
        <div data-bind="visible:data.city() != ''">
        <div class="ui inverted menu contact">
          <h4 class="ui dividing header">Contact Information :</h4>
         <div class="ui form">
              <h5 for="user">you are a:</h5>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="user" value="user" data-bind="checked:data.type" checked="checked">
                  <label>Individual</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="user" value="dealer" data-bind="checked:data.type" >
                  <label>Dealer</label>
                </div>
              </div>
          </div>      
          <div class="item field">
            <input type="text" name="name" placeholder="Name" data-bind="value:data.name,css:{'required-field':'must'}">
          </div>
          <div class="item field">
            <input type="text"  name="emailId" placeholder="Email" data-bind="value:data.emailId">
          </div>            
          <div class="item field">
            <input type="text" placeholder="Mobile" name="mobileNo" data-bind="value:data.mobileNo">
          </div>
        </div>

        <div class="three column row">
          <div class="right floated column">
            <div class="ui submitAction"  onClick="common.validateForm(this)">Submit</div>
          </div>
          <div class="left floated column">
            <div class="ui checkbox">
              <input type="checkbox">
              <label>Also create a login</label>
            </div>
          </div>
        </div>
        </div>
    <!-- Ends here -->  
  </div>
  </form>
</div>

