<!-- Request-Details popup -->

<div id="req-details" class="ui modal pop-up sell-post" style="background-color:#f8f8f8;">  
  <div class="content" style="border-bottom:1px solid #eaeaea;background-color:#fff;">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Request Details</h2>
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>
  
    
    <!-- Request details starts here -->
        
          <div class="ui info message" style="margin:2rem;text-align:center;">
            <div class="header">
              A mail regarding project details has sent to you successfully.<br/>
              
            </div>            
          </div>

    <!-- Ends here -->  
  
</div>

 