    <div id="sidebar" class="ui right demo vertical inverted labeled icon sidebar menu">
         <% if(locals.req.device && locals.req.device.type != 'desktop'){ %>
      <% if(locals.session.user) {%>
             <div class="item" href="/irx/home">
                   <i class="user icon"></i>
                     <%= locals.session.user.name %>
             </div>
            <div class="item"><i class="sign out icon"></i>Logout</div>
        <% }%>
        <%}%>
      <a class="item" href="/irx/home">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item" href="/project-listing">
        <i class="building outline icon"></i>
        Projects
      </a>
      <a class="item" href="/agent-listing">
        <i class="users icon" style="color:#fff !important;"></i>
        Agents
      </a>
      <a class="item sell-in">
        <i class="tags icon"></i>
        Sell your property
      </a>
      <a class="item post-in">
        <i class="mail icon"></i>
        Post Requirement
      </a>
      <a class="item" href="/irx/contact">
        <i class="chat icon"></i>
        Contact Us
      </a>
      <a class="item" href="/irx/about">
        <i class="info circle icon"></i>
        About US
      </a>
      <a class="item" href="/irx/t&c">
        <i class="file text outline icon"></i>
        T & C
      </a>
      <a class="item">
        <i class="book icon"></i>
        Blog
      </a>
    </div>