<div id="_serverSuccess_" class="ui small test modal transition">
  
  <div class="header">
   OK
  </div>
  <div class="content">
    <p class="successMsg"></p>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      OK
      
    </div>
  </div>
</div>