<div id="confirmation-mail-sent" class="ui small test overlay sidebar top transition">
  
  <div class="header _vrfy_hdr">
   Confirmation mail Sent
  </div>
  <div class="content">
    <p class="successMsg _vrfy_msg">Please check your email account and verify your status.</p>
  </div>
  
</div>