<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
  <script type="text/javascript" src="/js/library/knockout-3.2.0.js"></script>
  <script type="text/javascript" src="/js/library/knockout.mapping-latest.js"></script>
  <script type="text/javascript" src="/js/common/http.js"></script>
  <style type="text/css">
  .ui.basic.button:hover, .ui.basic.buttons .button:hover{
    color: #000;
  }
   .proName {
      color: #020202 !important;
      text-align: center !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
   }
   .ui.grid.two.column.rib-head{
    background: rgba(224, 224, 224, 0.49);
   }
  </style>
</head>
<body>  
  <% include ../partials/header.html.ejs %>
  
  <!-- content goes here -->
  
  <div id="content" class="ui centered page grid">
  <input type="hidden" id="__userId" value="<%= userId %>">
    <div class="fourteen wide column">

      <div class="ui two column center aligned stackable divided grid">
    <!-- Left panel starts here -->

      <div class="four wide column">
        <div class="column li-box">

          <div class="lib-pic"><img class="ui circular image" src="/img/pic.png"></div>
          <div class="item"><div class="header"><%= result.name %></div><%= result.companyName %></div>
          <img class="" src="/img/fb.png">

          <div class="lib-actions">
            <div class="ui basic button reqdet">Request details</div><br/>
            <div class="ui basic button">Enquiry now</div>
          </div>

          <div class="lib-count">
            <div class="item left floated"><div class="header">10</div>Projects</div><div class="item right floated"><div class="header">10</div>Locations</div>
          </div>

          <div class="lib-specs">
            <div class="header">Specialities :</div>
             <% if(result.specialities) {%>
            <div class="libs-items">
              <% for(var i=0; i<result.specialities.length; i++) {%>
               
                
                <div class="item"><i class="top aligned right triangle icon" style="color:#9A9A9A"></i><%= result.specialities[i] %>
              </div>
            <% } %>
             
            </div>
            <% } %>
          </div>

          

        </div>
      </div>
      <!-- Left panel ends here -->

      <!-- Right panel starts here -->

      <div class="twelve wide column">
        <div class="ui top attached tabular menu" style="background:#EDEDED;text-align:left">
            <a class="active item" data-tab="first"><i class="building outline icon"></i>Projects</a>
            <a class="item" data-tab="second"><i class="marker icon"></i>Locations</a>
            <a class="item" data-tab="third"><i class="user icon"></i>Reviews</a>
            
          </div>

          <!-- Project listing here -->
          <div class="ui bottom attached active tab segment" data-tab="first">
            <div class="column ri-box">
            <div data-bind="visible:projects().length==0" style=" background:#fff;padding: 1.5rem;color: #7b7b7b;">
                 No Project found.
            </div>
              <div class="rib-items ui three column grid stackable pro-ject"  data-bind="foreach: projects">
                
                  <div class="column item">
                      <img src="/img/proj.png">
                      <div class="meta">
                      <a data-bind="attr:{href:'/project/'+id}">
                        <h4 class="header projectName proName" data-bind="text: name"></h4></a>
                        <p class="cinema projectDetail" data-bind="text: builderName"style="text-align:center;margin-top: .5rem;"></p>
                        <p class="cinema projectDetail" data-bind="text: location.city"style="text-align:center;"></p>
                      </div>
                  </div>
                
              </div>
            </div>
          </div>
        
        

        <!-- Locations listing here -->
        <div class="ui bottom attached tab segment" data-tab="second">
          <div class="column ri-box loca-tion">
          <div data-bind="visible:locations().length==0" style=" background:#fff;padding: 1.5rem;color: #7b7b7b;">
                 No Locality found.
            </div>
          <div class="rib-items ui three column grid pro-ject"  data-bind="foreach: locations">
            <div class="ui divided items column">
              <div class="meta loc-item">
                <h4 class="header projectName" ><i class="marker icon"></i><!--ko text:name--><!--/ko --></h4>
                <p class="cinema projectDetail" data-bind="text: location.city"></p>
                <span class="header"><span class="agnt"style="color:#00bcd4;margin-left: -1rem;"><a class="item" href="/agent-listing">Agent</a></span></span>
                <span class="header"style="color:#83AAB8;"><a class="item" href="/project-listing">Project</a></span>
              </div>
            </div>
          </div>
        </div>
        </div>
        

        <!-- Reviews section here -->
         <div class="ui bottom attached tab segment" data-tab="third">
          <div class="column ri-box revi-ew" >
          <div class="rib-items ui grid">

            <div class="ui relaxed list ten wide column review-item">
              <% if(result.isInvited) {%>
              <h3 class="ui header column"style="font-weight: 500; font-size: 0.9rem; margin-top: -0.7rem;">Write a Review</h3>

                <form class="ui reply form">
                  <div class="field">
                    <textarea placeholder="Write a Review here..." style="min-height: 2em; max-height: 6em; margin-top:-0.7rem;font-weight:300;"></textarea>
                  </div>
                  <div class="ui button reply">Add Reply</div>
                </form>
                <% }%>
                <div data-bind="visible:reviews().length==0" style=" background:#fff;padding: 1.5rem;color: #7b7b7b;">
                   No Reviews found.
              </div>
                <!-- ko foreach:reviews -->
                <div class="item">
                <img class="ui avatar image" src="images/property.jpg">
                <div class="content">
                  <a class="header"><!-- ko text:agentId --><!-- /ko --></a>
                  <div class="description">Nov 20,2014</div>
                </div>
              </div>
              
              <div class="ui segment">
                <div class="ui grid two column rib-head">
                  <h3 class="ui header column">Review title</h3>
                  <div class="column right menu"><i class="empty star icon"></i><i class="empty star icon"></i><i class="empty star icon"></i><i class="empty star icon"></i><i class="empty star icon"></i></div>
                </div>
                <p><!-- ko text:msg --><!-- /ko --></p>
              </div>
              <!-- /ko -->
              <div data-bind="visible:$root.showMoreReviews()==true">
                 <div class="positive ui button">load more reviews</div>.
              </div>
            </div>

            <div class="column"></div>

          </div>
        </div>
         </div>
        
        </div>
      </div>
      </div>    
  </div>

  <script type="text/javascript">
  function PublicProfile(options){
    this.url = null;
    this.viewModel = null;
    this.showProjects='project';
    this.showLocations='location';
    this.showReviews='review';
    
    this.projectsOnPage = 3;
    this.locationsOnPage = 3;
    this.page = {pageSize:3,start:0};
    this.locPage = {pageSize:3,start:0};
    this.userId = options.userId;
  } 

  PublicProfile.prototype.init = function() {
    var _classInstance = this;
    _classInstance.viewModel = {
      projects: ko.observableArray(),
      reviews : ko.observableArray(),
      locations : ko.observableArray(),
      showMoreReviews : ko.observable(false),
      shouldShow : ko.observable(''),
      showButton : ko.observable('view'),
      showLocButton : ko.observable('view'),
      showAllProjects : function() {

          _classInstance.listProjects();
          this.shouldShow(_classInstance.showProjects);
      },
      hideAllProjects : function() {
          this.showButton('view');
          this.shouldShow('');
          _classInstance.resetPage();
          this.projects(this.projects().slice(0,3));
          
      },
      showAllLocations : function() {

          _classInstance.listUserLocations();
          this.shouldShow(_classInstance.showLocations);
      },
      hideAllLocations : function() {
          this.showLocButton('view');
          this.shouldShow('');
          _classInstance.resetLocPage();
          this.locations(this.locations().slice(0,3));
          
      }
  }
   ko.applyBindings(_classInstance.viewModel,document.getElementById('content'));
   _classInstance.listProjects();
   _classInstance.listUserLocations();
   _classInstance.listReviews();
  };
  PublicProfile.prototype.resetPage = function() {
    this.page.start = this.projectsOnPage;
  }
  PublicProfile.prototype.resetLocPage = function() {
    this.locPage.start = this.locationsOnPage;
  }

  PublicProfile.prototype.listProjects = function() {
    
    var classInstance = this;
    httpUtils.get("/list-user-projects/"+classInstance.userId,{page:classInstance.page},"JSON",function(data){
       if(data.status==0){
        if(data.result != null){
          ko.utils.arrayPushAll(classInstance.viewModel.projects,data.result.projects)
        classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
        if (data.page.hasMore) {
          classInstance.viewModel.showButton('view');
        }else{
          classInstance.viewModel.showButton('hide');
        }
        }
        
       } 
    })
  }

PublicProfile.prototype.listReviews = function() {
    
    var classInstance = this;
    httpUtils.get("/reviews/"+classInstance.userId,{page:classInstance.page},"JSON",function(data){
       if(data.status==0){
        if(data.result != null){
          ko.utils.arrayPushAll(classInstance.viewModel.reviews,data.result)
        classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
        if (data.page.hasMore==true) {
          
          classInstance.viewModel.showMoreReviews(true);
        }else{

          classInstance.viewModel.showMoreReviews(false);
        }
       
        }
        
       } 
    })
  }
   PublicProfile.prototype.listUserLocations = function() {
    var classInstance = this;
    httpUtils.get("/list-user-locations/"+classInstance.userId,{page:classInstance.locPage},"JSON",function(data){
       if(data.status==0){
        ko.utils.arrayPushAll(classInstance.viewModel.locations,data.result)
         classInstance.locPage.start = Number(data.page.start)+Number(data.page.pageSize);
        if (data.page.hasMore==true) {
          classInstance.viewModel.showLocButton('view');
        }else{

          classInstance.viewModel.showLocButton('hide');
        }
       } 
    })
  }
  $(document).ready(function(){
    var userId=$('#__userId').val();
    var publicProfile = new PublicProfile({"userId":userId})
    publicProfile.init();
  })
 </script>
  <% include ../partials/footer.html.ejs %>
</body>
