<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
</head>
<body>  
  <% include ../partials/header.html.ejs %>

  <!-- content goes here -->

  <div id="content" class="cont-ainer ui grid">

    <!-- Left panel starts here -->

      <div class="four wide column">
        <div class="column li-box">

          <div class="lib-pic"><img class="ui circular image" src="img/pic.png"></div>
          <div class="item"><div class="header">Aaron paul</div>Aranoah Technologies Pvt Ltd.</div>
          <img class="" src="img/fb.png">

          <div class="lib-actions">
            <div class="ui basic button reqdet" style="color:#fff !important;">Request details</div><br/>
            <div class="ui basic button">Enquiry now</div>
          </div>

          <div class="lib-count">
            <div class="item left floated"><div class="header">10</div>Projects</div><div class="item right floated"><div class="header">10</div>Locations</div>
          </div>

          <div class="lib-specs">
            <div class="header">Specialities :</div>
            <div class="libs-items">
              <div class="content">
                <i class="top aligned right triangle icon"></i>
                <a class="header">Resale</a>
              </div><div class="content">
                <i class="top aligned right triangle icon"></i>
                <a class="header">Commercial</a>
              </div><div class="content">
                <i class="top aligned right triangle icon"></i>
                <a class="header">Renting</a>
              </div>
            </div>
          </div>

          <div class="ui divided list lib-xtras">
            <div class="item"><i class="map marker icon"></i>Gurgaon,Haryana</div>
            <div class="item"><i class="linkify icon"></i>irx.com/karan</div>
            <div class="item"><i class="mail outline icon"></i>irx@info.com</div>
            <div class="item"><i class="call icon"></i>8860998438</div>
            <a class="lib-url">Get a personalized URL?</a>
          </div>

        </div>
      </div>
      <!-- Left panel ends here -->

      <!-- Right panel starts here -->

      <div class="twelve wide column">

        <!-- Project listing here -->
        <div class="column ri-box">
          <div class="ui grid two column rib-head">
            <h2 class="ui header column">projects</h2>
            <div class="header column right menu">View all <i class="left angle double right icon"></i></div>
          </div>
          <div class="rib-items ui three column grid pro-ject">
            <div class="column item">
                <img src="img/proj.png">
                <div class="meta">
                  <a class="header">THE PRESIDENTIAL TOWER</a>
                  <p class="cinema">Mantri Developers</p>
                  <p class="cinema">DLF,Gurgaon,Haryana</p>
                </div>
            </div><div class="column item">
                <img src="img/proj.png">
                <div class="meta">
                  <a class="header">THE PRESIDENTIAL TOWER</a>
                  <p class="cinema">Mantri Developers</p>
                  <p class="cinema">DLF,Gurgaon,Haryana</p>
                </div>
            </div><div class="column item">
                <img src="img/proj.png">
                <div class="meta">
                  <a class="header">THE PRESIDENTIAL TOWER</a>
                  <p class="cinema">Mantri Developers</p>
                  <p class="cinema">DLF,Gurgaon,Haryana</p>
                </div>
            </div>
          </div>
        </div>

        <!-- Locations listing here -->
        <div class="column ri-box loca-tion">
          <div class="ui grid two column rib-head">
            <h2 class="ui header column">working locations</h2>
            <div class="header column right menu">View all <i class="left angle double right icon"></i></div>
          </div>
          <div class="rib-items ui four column grid">
            <div class="ui divided items column">
              <div class="meta loc-item">
                <a class="header">mgf city center</a>
                <p class="cinema">Gurgaon,Haryana</p>
                <span class="header"><i class="user icon"></i>24</span>
                <span class="header"><i class="file image outline icon"></i>24</span>
              </div>
            </div><div class="ui divided items column">
              <div class="meta loc-item">
                <a class="header">mgf city center</a>
                <p class="cinema">Gurgaon,Haryana</p>
                <span class="header"><i class="user icon"></i>24</span>
                <span class="header"><i class="file image outline icon"></i>24</span>
              </div>
            </div><div class="ui divided items column">
              <div class="meta loc-item">
                <a class="header">mgf city center</a>
                <p class="cinema">Gurgaon,Haryana</p>
                <span class="header"><i class="user icon"></i>24</span>
                <span class="header"><i class="file image outline icon"></i>24</span>
              </div>
            </div><div class="ui divided items column">
              <div class="meta loc-item">
                <a class="header">mgf city center</a>
                <p class="cinema">Gurgaon,Haryana</p>
                <span class="header"><i class="user icon"></i>24</span>
                <span class="header"><i class="file image outline icon"></i>24</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Reviews section here -->
        <div class="column ri-box loca-tion">
          <div class="ui grid two column rib-head">
            <h2 class="ui header column">Reviews</h2>
            <div class="column right menu"><div class="ui button"><i class="icon user"></i>Invite</div></div>
          </div>
          <div class="rib-items ui grid">

            <div class="ui relaxed list ten wide column review-item">
              <div class="item">
                <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/daniel.jpg">
                <div class="content">
                  <a class="header">Daniel Louise</a>
                  <div class="description">Nov 20,2014</div>
                </div>
              </div>
              <div class="ui segment">
                <div class="ui grid two column rib-head">
                  <h3 class="ui header column">Review title</h3>
                  <div class="column right menu"><i class="empty star icon"></i><i class="empty star icon"></i><i class="empty star icon"></i><i class="empty star icon"></i><i class="empty star icon"></i></div>
                </div>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              </div>
            </div>

            <div class="column"></div>

          </div>
        </div>

      </div>    
  </div>
</body>